<template>
  <div class="Notice" align="center">
    <TopFrame></TopFrame>
    <Navi></Navi>
    <div class="cotainer">
    <div class="company_cont">
     <h5 class="sub_top_title">회사연혁 <span class="sub_navi">HOME > 회사소개 > <strong>회사연혁</strong></span></h5>
    </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import TopFrame from "./TopFrame";
import Navi from "./Navi";
import Footer from "./Footer";
import axios from "axios";

export default {
  components: {
    TopFrame,
    Navi,
    Footer
  },
  name: "Company_history",
  data() {
    return {
 
    };
  },
  methods: {

  },
  mounted() {
  
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
