<template>
  <div class="CmpanyIntro" align="center">
    <Navi></Navi>
    <TopFrame></TopFrame>
    <br>

  </div>
</template>

<script>
import TopFrame from './TopFrame';
import Navi from './Navi';
import axios from 'axios';

export default {
  components: {
    TopFrame,
    Navi,
  },
  name: 'CmpanyIntro',
  data() {
    return {

    }
  },
  mounted() {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
