<template>
  <div class="CreateLawyer" align="center">
    <TopFrame></TopFrame>
    <Navi></Navi>
    <b-container fluid>
      <b-form @submit="onSubmit" v-if="formShow">
        <br>
        <b-row align="right">
          <b-col cols="1"></b-col>
          <b-col cols="2" class="col-text">이름</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="text" v-model="form.l_name" required placeholder="이름을 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row align="right">
          <b-col cols="1"></b-col>
          <b-col cols="2" class="col-text">직책</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-select v-model="form.l_position" :options="position_options" @input="selectedPosition" required class="mb-1"></b-form-select>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row align="right">
          <b-col cols="1"></b-col>
          <b-col cols="8" class="col-text">
            *프리미엄 광고 신청시 대표변호사/대표법무사의 사진이 광고에 표시되오니, 반드시 대표변호사/대표법무사를 선택해주십시요.
          </b-col>
        </b-row>
        <br>
        <b-row align="right">
          <b-col cols="1"></b-col>
          <b-col cols="2" class="col-text">약력</b-col>
          <b-col cols="6" align="left">
            <wysiwyg v-model="form.l_career" required placeholder="약력을 입력하세요"/>
          </b-col>
        </b-row>
        <br>
        <b-row align="right">
          <b-col cols="1"></b-col>
          <b-col cols="2" class="col-text">사진</b-col>
          <b-col cols="6" align="left">
            <b-form-file type="file" accept="image/*" @change="onPhotoChange" placeholder="인물사진을 선택하세요"></b-form-file>
            <div id="preview"><img v-if="url_photo" :src="url_photo"></div>
          </b-col>
        </b-row>
        <br>
        <b-row align="right">
          <b-col cols="3"></b-col>
          <b-col cols="6" align="center">
            <b-btn size="sm" variant="dark" @click="onCancel">취소</b-btn>
            <b-btn v-if="!protectFlag" type="submit" size="sm" variant="primary">등록</b-btn>
            <b-btn v-if="protectFlag" type="submit" size="sm" variant="primary" disabled>등록</b-btn>
            <b-btn size="sm" variant="warning" @click="onUpdate">수정</b-btn>
            <b-btn size="sm" variant="danger" @click="onDelete">삭제</b-btn>
          </b-col>
        </b-row>
      </b-form>

      <b-modal ref="infoModal" hide-footer title="알림">
        <div class="d-block text-center">
          <h5>{{ infoMsg }}</h5>
        </div>
        <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
      </b-modal>

      <b-modal ref="deleteConfirmModal" hide-footer title="경고">
        <div class="d-block text-center">
          <h5>{{ confirmMsg }}</h5>
        </div>
         <b-btn size="md" class="float-left" variant="outline-secondary" @click="confirmCancel">취소</b-btn>
         <b-btn size="md" class="float-right" variant="outline-danger" @click="confirmDelete">삭제</b-btn>
      </b-modal>

      <br><br>
      <b-table show-empty
              stacked="sm"
              :items="lawyers"
              :fields="fields"
              :current-page="currentPage"
              :per-page="perPage"
              :filter="filter"
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              :sort-direction="sortDirection"
      >
        <template slot="actions" slot-scope="row">
          <!-- We use @click.stop here to prevent a 'row-clicked' event from also happening -->
          <b-btn size="sm" variant="secondary" @click.stop="read_item(row.item)" class="mr-1">선택</b-btn>
        </template>
      </b-table>
      <b-row align="left">
        <b-col cols="1"></b-col>
        <b-col cols="6">
          <b-form-group horizontal>
            <b-input-group>
              <b-form-input v-model="filter" placeholder="찾을 내용을 입력하세요" />
              <b-input-group-append>
                <b-btn :disabled="!filter" @click="filter = ''">지우기</b-btn>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col cols="3">
          <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
        </b-col>
      </b-row>
      <br>

    </b-container>
  </div>
</template>

<script>
import TopFrame from "./TopFrame";
import Navi from "./Navi";
import Footer from "./Footer";
import axios from "axios";
import VueRecaptcha from "vue-recaptcha"; //for I'm not a Robot

export default {
  name: 'CreateLawyer',
  components: {
    TopFrame,
    Navi,
    VueRecaptcha,
    Footer
  },
  data () {
    return {
      infoMsg: '',
      confirmMsg: '',
      selected_l_id: '',
      formShow: true,
      url_photo: null,
      photo_file: null,
      protectFlag: false,
      form: {
        l_id: 0,
        l_name: '',
        l_position: null,
        l_career: '',
        l_photo: '',
        l_creator: '',     
      },
      lawyers: [],
      position_options: [
        { value: null, text: '직책을 선택해주세요.' },
        { value: '대표변호사', text: '대표변호사'},
        { value: '변호사', text: '변호사'},
        { value: '대표법무사', text: '대표법무사'},
        { value: '법무사', text: '법무사'},
        { value: '사무장', text: '사무장'},
        { value: '실장', text: '실장'},
        { value: '사원', text: '사원'},
      ],
      fields: [
        { key: 'l_position', label: '직책', 'class': 'text-center' },
        { key: 'l_name', label: '이름', 'class': 'text-center' },
        { key: 'date', label: '등록일', 'class': 'text-center' },
        { key: 'l_creator', label: '등록자', 'class': 'text-center' },
        { key: 'actions', label: '선택', 'class': 'text-center' }
      ],
      currentPage: 1,
      perPage: 5,
      totalRows: 0,
      pageOptions: [ 5, 10, 15 ],
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
    }
  },
  computed: {
  },
  methods: {
    onPhotoChange(e) {
      this.photo_file = e.target.files[0];
      this.url_photo = URL.createObjectURL(this.photo_file);
    },
    selectedPosition() {
      //console.log('this.form.l_position --> '+this.form.l_position);
    },
    onSubmit(evt) {
      evt.preventDefault();
      // alert(JSON.stringify(this.form));
      if (this.url_photo == null) {
          this.infoMsg = '인물사진을 선택해 주세요.';
          this.showModal();
          return;
      }

      if(this.photo_file != null) { this.form.l_photo = this.photo_file.name; };
      this.form.l_creator = this.$store.state.legalOfficeData.lo_email;
      this.form.l_career = this.form.l_career.replace(/\'/g,'');

      var data = new FormData();
      data.append('file', this.photo_file);                                 
      data.append('CRUD_mode', 'create');
      data.append('l_name', this.form.l_name);
      data.append('l_position', this.form.l_position);
      data.append('l_career', this.form.l_career);
      data.append('l_photo', this.form.l_photo);
      data.append('l_creator', this.form.l_creator);
      data.append('lo_id', this.$store.state.legalOfficeData.lo_id);
      data.append('lo_company_name', this.$store.state.legalOfficeData.lo_company_name);
      
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_lawyer.php', data,
        {
          headers: {
              'Content-Type': 'multipart/form-data'
          }
        }
      ).then(response => {
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          this.getLawyers();
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.onReset();
    },

    onReset() {
      this.url_photo = null;
      this.photo_file = null;
      this.form.l_id = 0;
      this.form.l_name = '';
      this.form.l_position = '';
      this.form.l_career = '';
      this.form.l_photo = '';
      this.form.l_creator = '';
      /* Trick to reset/clear native browser form validation state */
      this.formShow = false;
      this.$nextTick(() => { this.formShow = true });
      this.protectFlag = false;
    },

    read_item(item) {
      // alert(JSON.stringify(item, null, 2));
      this.selected_l_id = item.l_id;
      var data = new FormData();
      data.append('CRUD_mode', 'read');
      data.append('l_id', this.selected_l_id);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_lawyer.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.form.l_id = response.data.lawyer.l_id;
          this.form.l_name = response.data.lawyer.l_name;
          this.form.l_position = response.data.lawyer.l_position;
          this.form.l_career = response.data.lawyer.l_career;
          this.form.l_photo = response.data.lawyer.l_photo;
          this.url_photo = this.$store.state.lawketImageUrl + "customer_image/" + this.$store.state.legalOfficeData.lo_company_name + "/" + this.form.l_photo;
          this.protectFlag = true;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },

    onUpdate() {
      //alert(JSON.stringify(this.form.l_position));
      if (this.url_photo == null) {
          this.infoMsg = '인물사진을 선택해 주세요.';
          this.showModal();
          return;
      }

      if(this.photo_file != null) { this.form.l_photo = this.photo_file.name; };
      this.form.l_creator = this.$store.state.legalOfficeData.lo_email;
      this.form.l_career = this.form.l_career.replace(/\'/g,'');

      var data = new FormData();
      data.append('file', this.photo_file);                                 
      data.append('CRUD_mode', 'update');
      data.append('l_id', this.form.l_id);
      data.append('l_name', this.form.l_name);
      data.append('l_position', this.form.l_position);
      data.append('l_career', this.form.l_career);
      data.append('l_photo', this.form.l_photo);
      data.append('l_creator', this.form.l_creator);
      data.append('lo_id', this.$store.state.legalOfficeData.lo_id);
      data.append('lo_company_name', this.$store.state.legalOfficeData.lo_company_name);

      //alert(JSON.stringify('onUpdate() --> '+this.photo_file));
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_lawyer.php', data)
      .then(response => {
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          this.getLawyers();
        }
      })
      .catch(error => {
        console.log(error);
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.onReset();
    },

    onDelete() {
      console.log('-----> click onDelete');
      this.confirmMsg = '정말 삭제하시겠습니까?'
      this.$refs.deleteConfirmModal.show();
    },
    confirmDelete() {
      this.$refs.deleteConfirmModal.hide();
      var data = new FormData();
      data.append('CRUD_mode', 'delete');
      data.append('l_id', this.selected_l_id);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_lawyer.php', data)
      .then(response => {
        this.getLawyers();
        this.infoMsg = response.data.msg;
      })
      .catch(error => {
        console.log(error);
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.onReset();
    },
    confirmCancel() {
      //alert('Selected --------> confirmCancel()');
      this.$refs.deleteConfirmModal.hide();
    },

    onCancel() {
      this.$router.push({ path: "./" });
    },

    getLawyers() {
      this.lawyers = [];
      var data = new FormData();
      data.append('CRUD_mode', 'get');
      data.append('legal_office_lo_id', this.$store.state.legalOfficeData.lo_id);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_lawyer.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.lawyers = response.data.lawyers;
          this.totalRows = this.lawyers.length;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },

    showModal() {
      this.$refs.infoModal.show()
    },
    hideModal() {
      this.$refs.infoModal.hide()
    },
  },

  mounted() {
    this.getLawyers();
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .col-text {
    padding-top: 7px; 
    padding-right: 0px; 
    padding-left: 30px;
  }

  body {
    background-color: #e2e2e2;
  }

  #preview {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #preview img {
    max-width: 100%;
    max-height: 500px;
  }
</style>