<template>
  <div class="CreateCustomer" align="center">
    <TopFrame></TopFrame>
    <Navi></Navi>
    <div class="container">
    <div class="user_join">
      <div class="user_join_layout">
      <h5 class="sub_top_title">업체 회원가입 </h5>
      <b-form @submit="onSubmit" @reset="onCancel" v-if="formShow">
        <p class="join_title"><img src="http://192.168.1.220:8080/images/join_title_bg.png" alt="담당자 정보" /> 담당자 정보</p>
        <div class="join_form_top">
          <ul>
            <li>
              <label>이메일 (아이디)</label>
              <b-form-input v-if="!protectFlag" type="email" v-model="form.lo_email"  required placeholder="이메일을 입력하세요."></b-form-input>
              <b-form-input v-if="protectFlag" type="email" v-model="form.lo_email" readonly></b-form-input>
            </li>
            <li>
              <label>비밀번호</label>
              <b-form-input type="password" v-model="form.lo_password" required placeholder="영.숫자 포함 8자리 ~ 15자리 이내로 입력하세요."></b-form-input>
            </li>
               <li>
              <label>비밀번호 확인</label>
                <b-form-input type="password" v-model="re_lo_password" required placeholder="비밀번호를 다시한번 입력하세요"></b-form-input>
            </li>
               <li>
              <label>담당자명</label>
                <b-form-input type="text" v-model="form.lo_name" required placeholder="담당자명을 입력하세요"></b-form-input>
            </li>
            <li>
              <label>휴대폰번호 <span><img src="http://192.168.1.220:8080/images/join_tel_ad_bg.png" alt="광고주님 대표 번호로 가입하여 주시길 바랍니다." /> 광고주님 대표 번호로 가입하여 주시길 바랍니다. </span></label><br/>
                 <b-form-input class="telnumber" type="text" v-model="mobile.first" required placeholder="010"></b-form-input>
                 <b-form-input class="telnumber" type="text" v-model="mobile.second" required placeholder="1234"></b-form-input>
                 <b-form-input class="telnumber" type="text" v-model="mobile.third" required placeholder="5678"></b-form-input>
                 <div class="tel_btn" v-if="ahutViewFlag">
                    <b-btn variant="outline-danger" @click="getCertiNumber">인증번호전송</b-btn>
                 </div>
            </li>
               <li>
              <label>인증번호</label><br/>
                  <b-form-input type="text" v-model="form.lo_mobile_certi_number" required placeholder="인증번호를 입력해 주세요." style="width: 77%; margin-right:5px;
    float: left;"></b-form-input>
    <div class="tel_btn" >
                  <b-btn variant="outline-danger" @click="ahutConfirm">확인</b-btn>
                  </div>
            </li>
          </ul>
      
       
        </div>
         <p class="join_title"><img src="http://192.168.1.220:8080/images/join_title_bg2.png" alt="회사정보" /> 회사정보</p>
        <div class="join_form_bottom">
            <ul>
              <li>
                <label>회사명</label>
                <b-form-input type="text" v-model="form.lo_company_name" required placeholder="회사명을 입력하세요"></b-form-input>
              </li>
              <li>
                <label>대표자명</label>
                 <b-form-input type="text" v-model="form.lo_ceo_name" required placeholder="대표자명을 입력하세요"></b-form-input>
              </li>
              <li>
                <label>전화번호</label>
                  <b-form-input type="text" v-model="form.lo_phone" required placeholder="전화번호를 입력하세요"></b-form-input>
              </li>
              <li>
                <label>우편번호</label>
                   <b-form-input type="text" v-model="form.lo_postcode" required readonly style="
    width: 445px;
    float: left;
    margin-right: 5px;
"></b-form-input>
<div class="tel_btn" >
<b-btn size="md" class="float-left" variant="outline-primary" v-b-modal.modallg>우편번호 찾기</b-btn></div>
              </li>
              <li>
                 <b-form-input style="margin-bottom:10px;" type="text" v-model="form.lo_address1" required readonly ></b-form-input>
                 <b-form-input type="text" v-model="form.lo_address2" placeholder="나머지 주소를 입력하세요"></b-form-input>
              </li>
                <li class="join_kind">
                 <label>전문분야</label>
                     <b-form-group style="margin-bottom:0;"> 
                  <b-form-radio-group v-model="form.lo_business_area" :options="businessAreas" required></b-form-radio-group>
                    </b-form-group>
              </li>
              <li>
                <label>전문 자격 증명 자료</label>
                 <b-form-file type="file" accept="image/*" @change="onCertiImgChange" placeholder="자격증 이미지를 첨부해주세요."></b-form-file>
            <div id="preview"><img v-if="url_certi_img" :src="url_certi_img"></div>
              </li>
              <li>
                <label>홈페이지</label>
                <b-form-input type="url" v-model="form.lo_homepage" placeholder="홈페이지 url을 입력하세요"></b-form-input>
              </li>

            </ul>

        </div>
        <p class="join_title"><img src="http://192.168.1.220:8080/images/join_title_bg2.png" alt="약관동의" /> 약관동의</p>
        <div class="join_Agree_cont">
          <div class="total_agree_btn">
            <label>전체동의</label>
            <b-form-checkbox id="checkbox1" v-model="allAgreeFlag" @change="toggleAllAgree"></b-form-checkbox>
          </div>
          <ul>
            <li>
              <label>기업회원 약관에 동의(필수) <b-btn size="sm" variant="outline-primary" @click="openTermsModal('기업회원 약관')">전문보기</b-btn></label><b-form-checkbox id="checkbox2" v-model="form.lo_terms_agree" value="O" unchecked-value="X"></b-form-checkbox>
            </li>
            <li>
              <label>개인정보 수집 및 이용에 동의(필수) <b-btn size="sm" variant="outline-primary" @click="openTermsModal('개인정보 수집')">전문보기</b-btn></label> <b-form-checkbox id="checkbox3" v-model="form.lo_collect_agree" value="O" unchecked-value="X"></b-form-checkbox>
            </li>
             <li><label>마케팅 정보 수신 동의 - 이메일 (선택) </label>  <b-form-checkbox id="checkbox4" v-model="form.lo_email_agree" value="O" unchecked-value="X"></b-form-checkbox></li>
             <li>
               <label>마케팅 정보 수신 동의 - SMS/MMS (선택) </label>  <b-form-checkbox id="checkbox5" v-model="form.lo_sms_agree" value="O" unchecked-value="X"></b-form-checkbox>
             </li>
             <li><label>개인정보 제3자 제공 및 위탁사항 이용약관 <b-btn size="sm" variant="outline-primary" @click="openTermsModal('개인정보 제3자 제공')">전문보기</b-btn></label>   <b-form-checkbox id="checkbox6" v-model="form.lo_offer_agree" value="O" unchecked-value="X"></b-form-checkbox></li>
          </ul>
        </div>
          <div class="complate_btn">
            <b-btn type="reset" size="sm" variant="secondary">취소</b-btn>
            <b-btn class="submit" type="submit" size="sm" variant="primary">회원가입</b-btn>
          </div>
        <b-row>
          <b-col cols="3"></b-col>
          <b-col cols="7">
            <vue-recaptcha
              ref="invisibleRecaptcha"
              @verify="onVerify"
              @expired="onExpired"
              size="invisible"
              :sitekey="recaptcha_sitekey"
            ></vue-recaptcha>
          </b-col>
        </b-row>
      </b-form>

      <b-modal id="modallg" size="lg" title="우편번호 찾기">
        <DaumPostcode :on-complete="handleAddress"/>
      </b-modal>
      <b-modal ref="infoModal" hide-footer title="알림">
        <div class="d-block text-center">
          <h5>{{ infoMsg }}</h5>
        </div>
        <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
      </b-modal>
      <b-modal ref="ConfirmModal" hide-footer title="알림">
        <div class="d-block text-center">
          <h5>{{ confirmMsg }}</h5>
        </div>
        <b-btn size="md" class="float-left" variant="outline-secondary" @click="confirmModalcancle">취소</b-btn>
        <b-btn size="md" class="float-right" variant="outline-primary" @click="createLawyer">변호사/법무사 등록</b-btn>
      </b-modal>
      <b-modal ref="termsModal" hide-footer :title="termsSubject">
        <div class="d-block text-left">
          <p><span v-html="termsDoc"></span></p>
        </div>
        <b-btn class="mt-3" variant="outline-primary" @click="hideTermsModal">닫기</b-btn>
      </b-modal>
      </div>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import TopFrame from "./TopFrame";
import Navi from "./Navi";
import Footer from "./Footer";
import axios from "axios";
import DaumPostcode from 'vuejs-daum-postcode'; // for search postcode
import VueRecaptcha from "vue-recaptcha"; //for I'm not a Robot

export default {
  name: "CreateCustomer",
  components: {
    TopFrame,
    Navi,
    DaumPostcode,
    VueRecaptcha,
    Footer
  },
  data() {
    return {
      recaptcha_sitekey: "6LcZuYIUAAAAAMSPFY_82YwVdPFCQJx--zixgjOM",
      infoMsg: "",
      confirmMsg: "",
      selected_lo_id: "",
      formShow: true,
      url_certi_img: null,
      certi_img_file: null,
      re_lo_password: '',
      ahutViewFlag: true,
      mobile: {
        first: "",
        second: "",
        third: ""
      },
      lo_mobile_certi_number: "",
      mobileCertiConfirmFlag: false,
      businessAreas: [
        { value: '변호사', text: '변호사' },
        { value: '법무사', text: '법무사' },
      ],
      allAgreeFlag: false,
      form: {
        lo_email: '',
        lo_password: '',
        lo_name: '',
        lo_mobile: '',
        lo_mobile_certi_number: '',
        lo_company_name: '',
        lo_ceo_name: '',
        lo_phone: '',
        lo_business_area: '',
        lo_postcode: '',
        lo_address1: '',
        lo_address2: '',
        lo_location: '',
        lo_homepage: '',
        lo_certi_img: '',
        lo_terms_agree: '',
        lo_collect_agree: '',
        lo_offer_agree: '',
        lo_email_agree: '',
        lo_sms_agree: '',
        lo_status: '',
        lo_class: '',
        lo_creator: '',
      },
      terms: [],
      termsSubject: '',
      termsDoc: '',
    }
  },
  computed: {},
  methods: {
    handleAddress(data) {
      let fullAddress = data.address;
      let zonecode = data.zonecode;

      let extraAddress = '';
      if (data.addressType === 'R') {
        if (data.bname !== '') {
          extraAddress += data.bname;
        }
        if (data.buildingName !== '') {
          extraAddress +=
            extraAddress !== '' ? `, ${data.buildingName}` : data.buildingName;
        }
        fullAddress += extraAddress !== '' ? ` (${extraAddress})` : '';
      }
      //console.log("fullAddress --> "+fullAddress) // e.g. '서울 성동구 왕십리로2길 20 (성수동1가)'
      //console.log("zonecode --> "+zonecode) // 도로명 우편번호
      this.form.lo_postcode = zonecode;
      this.form.lo_address1 = fullAddress;
    },
    onCertiImgChange(e) {
      this.certi_img_file = e.target.files[0];
      this.url_certi_img = URL.createObjectURL(this.certi_img_file);
    },
    getCertiNumber() { 
      if (this.checkString("mobile", this.mobile.first + this.mobile.second + this.mobile.third ) == false ) {
        this.showModal();
        return;
      }
      var data = new FormData();
      data.append("CRUD_mode", "create");
      data.append("c_type", "customer");
      data.append("c_mobile", this.mobile.first + this.mobile.second + this.mobile.third);
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_certification.php", data)
        .then(response => {
          this.infoMsg = response.data.msg + ": " + response.data.certi_number;
          this.lo_mobile_certi_number = response.data.certi_number;
          this.form.lo_mobile_certi_number = "";
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
      this.showModal();
      this.ahutViewFlag = true;
    },
    ahutConfirm() {
      if (this.lo_mobile_certi_number != this.form.lo_mobile_certi_number) {
        this.infoMsg = "올바른 인증번호를 입력해 주세요.";
        this.ahutViewFlag = true;
        this.showModal();
        return;
      }
      this.form.lo_mobile = this.mobile.first + this.mobile.second + this.mobile.third;
      var data = new FormData();
      data.append("CRUD_mode", "update");
      data.append("c_type", "customer");
      data.append("c_mobile", this.form.lo_mobile);
      data.append("c_number", this.form.lo_mobile_certi_number);
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_certification.php", data)
        .then(response => {
          this.infoMsg = response.data.msg;
          if (!response.data.result) {
            this.mobileCertiConfirmFlag = false;
          } else {
            this.mobileCertiConfirmFlag = true;
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
      this.showModal();
    },
    toggleAllAgree() {
      this.allAgreeFlag = !this.allAgreeFlag;
      if(this.allAgreeFlag) {
        this.form.lo_terms_agree = 'O';       //이용약관
        this.form.lo_collect_agree = 'O';     //개인정보 수집
        this.form.lo_offer_agree = 'O';       //개인정보 제3자 제공 (선택)
        this.form.lo_email_agree = 'O';       //마케팅 정보 수신 동의 - 이메일 (선택)
        this.form.lo_sms_agree = 'O';         //마케팅 정보 수신 동의 - SMS/MMS (선택)
      } else {
        this.form.lo_terms_agree = 'X'; 
        this.form.lo_collect_agree = 'X'; 
        this.form.lo_offer_agree = 'X'; 
        this.form.lo_email_agree = 'X'; 
        this.form.lo_sms_agree = 'X'; 
      }
    },
    openTermsModal(subject) {
      this.termsSubject = subject;
      for(let i=0; i<this.terms.length; i++) {
        if(this.terms[i].t_subject == subject) {
          this.termsDoc = this.terms[i].t_content;
        }
      }
      this.$refs.termsModal.show();
    },

    onSubmit(evt) {
      evt.preventDefault();
      this.$refs.invisibleRecaptcha.execute();  //for <vue-recaptcha>
      if(!this.checkString('password', this.form.lo_password)) {
          this.showModal();
          return;
      } else if(this.form.lo_password != this.re_lo_password) {
          this.infoMsg = '비밀번호가 맞지 않습니다. 비밀번호를 다시 확인해주세요.';
          this.showModal();
          return;
      } else if(this.form.lo_mobile_certi_number == '') {
          this.infoMsg = '휴대폰번호 인증을 완료해 주세요.';
          this.ahutViewFlag = true;
          this.showModal();
          return;
      } else if(this.form.lo_mobile != this.mobile.first+this.mobile.second+this.mobile.third) {
          this.infoMsg = '휴대폰 인증이 완료되지 않았습니다.';
          this.form.lo_mobile_certi_number = '';
          this.ahutViewFlag = true;
          this.showModal();
          return;
      } else if(!this.mobileCertiConfirmFlag){
          this.infoMsg = '휴대폰 인증이 완료되지 않았습니다.';
          this.form.lo_mobile_certi_number = '';
          this.ahutViewFlag = true;
          this.showModal();
          return;
      } else if (!this.checkString('number', this.form.lo_phone)) {
          this.showModal();
          return;
      } else if (this.form.lo_business_area == null) {
          this.infoMsg = '전문분야를 선택해 주세요.';
          this.showModal();
          return;
      } else if (this.url_certi_img == null) {
          this.infoMsg = '자격증 이미지를 첨부해 주세요.';
          this.showModal();
          return;
      }

      let strArray = this.form.lo_address1.split(' ');
      this.form.lo_location = strArray[0];
      if(this.form.lo_location == '세종특별자치시') {
        this.form.lo_location = '세종';
      } else if(this.form.lo_location == '제주특별자치도') {
        this.form.lo_location = '제주';
      }

      if(this.certi_img_file != null) { this.form.lo_certi_img = this.certi_img_file.name; };
      this.form.lo_creator = this.form.lo_email;
      this.form.lo_status = "1"; //최초 가입
      this.form.lo_class = "E"; //최초 가입 'E'등급

      var data = new FormData();
      data.append('file', this.certi_img_file);
      data.append('CRUD_mode', 'create');
      data.append('lo_email', this.form.lo_email);
      data.append('lo_password', this.form.lo_password);
      data.append('lo_name', this.form.lo_name);
      data.append('lo_mobile', this.form.lo_mobile);
      data.append('lo_mobile_certi_number', this.form.lo_mobile_certi_number);
      data.append('lo_company_name', this.form.lo_company_name);
      data.append('lo_ceo_name', this.form.lo_ceo_name);
      data.append('lo_phone', this.form.lo_phone);
      data.append('lo_business_area', this.form.lo_business_area);
      data.append('lo_postcode', this.form.lo_postcode);
      data.append('lo_location', this.form.lo_location);
      data.append('lo_homepage', this.form.lo_homepage);
      data.append('lo_address1', this.form.lo_address1);
      data.append('lo_address2', this.form.lo_address2);
      data.append('lo_certi_img', this.form.lo_certi_img);
      data.append('lo_terms_agree', this.form.lo_terms_agree);
      data.append('lo_collect_agree', this.form.lo_collect_agree);
      data.append('lo_offer_agree', this.form.lo_offer_agree);
      data.append('lo_email_agree', this.form.lo_email_agree);
      data.append('lo_sms_agree', this.form.lo_sms_agree);
      data.append('lo_status', this.form.lo_status);
      data.append('lo_class', this.form.lo_class);                     
      data.append('lo_creator', this.form.lo_creator);

      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_legal_office.php", data)
        .then(response => {
          this.infoMsg = response.data.msg;
          if (response.data.result) {
            this.$store.state.legalOfficeData = response.data.legal_office;
            this.$store.state.legalOfficeFlag = true;
            this.confirmMsg = response.data.msg;
            this.$refs.ConfirmModal.show();
          } else {
            this.showModal();
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },
    createLawyer() {
      this.$refs.ConfirmModal.hide();
      this.$router.push({ path: "./createLawyer" });
    },

    checkString(type, str) {
      let pw = str;
      let num = pw.search(/[0-9]/g);
      let eng = pw.search(/[a-z][A-Z]/gi);
      let spe = pw.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);
      let kor = pw.search(/[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/gi);

      if (type == "password") {
        //alert(JSON.stringify(pw.length));
        if (pw.length < 8 || pw.length > 15) {
          this.infoMsg = "비밀번호는 영.숫자 포함 8자리 ~ 15자리 입니다.";
          return false;
        }
        if (pw.search(/₩s/) != -1) {
          this.infoMsg = "비밀번호는 공백없이 입력해주세요.";
          return false;
        }
        if (num < 0 || eng < 0) {
          this.infoMsg = "비밀번호는 영문.숫자를 혼합하여 입력해주세요.";
          return false;
        }
      } else if (type == "mobile" && pw.length != 11) {
        this.infoMsg = "휴대폰번호를 확인해주세요.";
        return false;
      } else if (type == "number" && pw.length < 9) {
        this.infoMsg = "전화번호를 확인해주세요.";
        return false;
      } else {
        if (pw.search(/₩s/) != -1) {
          this.infoMsg = "공백없이 입력해주세요.";
          return false;
        }
        if (eng != -1 || spe != -1 || kor != -1) {
          this.infoMsg = '전화번호는 숫자와 "-"만 입력해주세요.';
          return false;
        }
      }
      return true;
    },

    onCancel() {
      this.$router.push({ path: "./" });
    },
    confirmModalcancle() {
      this.$router.push({ path: "./" });
    },

    getTerms() {
      this.terms = [];
      var data = new FormData();
      data.append('CRUD_mode', 'get');
      data.append('t_type', '기업');
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_term.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.terms = response.data.terms;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },
    showModal() {
      this.$refs.infoModal.show();
    },
    hideModal() {
      this.$refs.infoModal.hide();
    },
    hideTermsModal() {
      this.$refs.termsModal.hide();
    },
    //for <vue-recaptcha> onSubmit, onVerify, onExpired</vue-recaptcha>
    onVerify: function(response) {
      console.log("Verify: " + response);
    },
    onExpired: function() {
      console.log("Expired");
    }
  },
  mounted() {
    this.getTerms();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.col-text {
  padding-top: 7px;
  padding-right: 0px;
  padding-left: 30px;
}
</style>