<template>
  <div class="UserGuide" align="center">
    <TopFrame></TopFrame>
    <Navi></Navi>
    <div class="container">
        <div class="user_cont">

          <div class="lnb">
          <h5>고객센터<br/> <span>Customer Center</span></h5>
          <ul>
            <li @click="userGuide">의뢰인 이용안내 </li>
            <li class="active" @click="customerGuide">변호사 이용안내</li>
          </ul>
          <div class="lf_menu_cont">
          <p class="left_menu_banner" @click="searchByRegion">
              지역별 업체검색
          </p>
          <p class="left_menu_banner" @click="searchByProduct">
            분야별 업체검색
          </p>
          </div>
        </div>
         <div class="lnb_content">
          <h5 class="sub_top_title">변호사 이용안내</h5>
          <div class="user_top_cont">
            <p>
              <img src="http://192.168.1.220:8080/images/user_img.png" alt="이용안내" />
            </p>
            <p>
              어려운 법률상담, <strong>법률나라</strong>로 쉽고 빠르게
            </p>
            <p>
              <span>
                여러 법률 사이트를 들어갈 필요없이 의뢰인이 직접 법률 사무소를 비교하고,검색하고, 선택 할 수 있도록<br/>서비스를 제공하여 법률상담부터 법률 사무소 수임까지 한번에 쉽고 빠른 진행이 가능합니다.  
              </span>
            </p>
          </div>
          <div class="user_mid_cont">
              <ul>
                <li class="left">
                  <p>
                    <img src="http://192.168.1.220:8080/images/user_img.png" alt=""   width="100%"/>
                  </p>
                  <p><strong>지역별 검색</strong></p>
                  <p>
                    <span>
                      자택에서 가까운곳에서 상담받기 원하시는 분들을 위한 지역별 업체검색<br/>기능을 제공하고 있으며, 타 지역에 위치하더라도 여러 지역에 서비스가<br/> 가능한 법률 사무소 리스트를 등록 하였습니다.  
                    </span>
                  </p>
                  <a href="#/searchByRegion" @click="searchByRegion" >바로가기 ></a>
                </li>
                <li class="right">
                  <p>
                    <img src="http://192.168.1.220:8080/images/user_img.png" alt=""  width="100%"/>
                  </p>
                  <p><strong>분야별 검색</strong></p>
                  <p>
                    <span>
                      법률 상담 분야를 카테고리별로 세부적으로 나누어, <br/>
                      의뢰인이 보다 더 세분화 된 법률 전문가에게  상담 받을 수 있도록<br/> 서비스를 제공합니다.
                    </span>
                  </p>
                   <a href="#/searchByProduct" @click="searchByProduct" >바로가기 ></a>
                </li>
              </ul>
          </div>
         
         
        </div>
        </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import TopFrame from './TopFrame';
import Navi from './Navi';
import Footer from './Footer';
import axios from 'axios';

export default {
  components: {
    TopFrame,
    Navi,
    Footer,
  },
  name: 'UserGuide',
  data() {
    return {

    }
  },
   methods: {
     searchByRegion() {
      this.$router.push({ path: "./searchByRegion" });
    },
    searchByProduct() {
      this.$router.push({ path: "./searchByProduct" });
    },
     userGuide() {
      this.$router.push({ path: "./userGuide" });
    },
    customerGuide() {
      this.$router.push({ path: "./customerGuide" });
    },

   },
  mounted() {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
