<template>
  <div class="Tips" align="center">
    <TopFrame></TopFrame>
    <Navi></Navi>
    <div class="container">
      <div class="faq_cont">
     
        <div class="faq_layout">
        
        <div class="lnb">
          <h5>고객센터<br/> <span>Customer Center</span></h5>
          <ul>
            <li @click="notice_btn">공지사항 </li>
            <li class="active" @click="faq">자주묻는 질문</li>
            <li @click="AddQuestion">1:1 문의 </li>
            <li @click="adInformation">광고문의 </li>
          </ul>
          <div class="lf_menu_cont">
          <p class="left_menu_banner" @click="searchByRegion">
              지역별 업체검색
          </p>
          <p class="left_menu_banner" @click="searchByProduct">
            분야별 업체검색
          </p>
          </div>
        </div>
          <div class="lnb_content">
               <h5 class="sub_top_title" style="margin-bottom:10px;">자주묻는 질문</h5>
            <b-tabs class="faq_tabs">
              <b-tab title="의뢰인이 자주하는 질문" active >
                <b-table
                  show-empty
                  stacked="sm"
                  :items="u_faqs"
                  :fields="u_fields"
                  :current-page="u_currentPage"
                  :per-page="u_perPage"
                  :filter="u_filter"
                  :empty-text="u_emptyText"
                  :empty-filtered-text="u_emptyFilteredText"
                  :sort-by.sync="u_sortBy"
                  :sort-desc.sync="u_sortDesc"
                  :sort-direction="u_sortDirection"
                >
                  <template slot="actions" slot-scope="row">
                    <b-btn
                      size="sm"
                      @click.stop="row.toggleDetails"
                    >{{ row.detailsShowing ? '감추기' : ' 보기 ' }}</b-btn>
                  </template>
                  <template slot="row-details" slot-scope="row">
                    <b-card>
                      <span v-html="row.item.f_content"></span>
                    </b-card>
                  </template>
                </b-table>
                <div class="paging_cont">
                  <b-pagination :total-rows="u_totalRows" :per-page="u_perPage" v-model="u_currentPage" class="my-0"/>
                </div>
                <div class="list_search_bottom">
                  <b-form-input v-model="u_filter" placeholder="찾을 내용을 입력하세요"/>
                  <b-input-group-append>
                    <b-btn :disabled="!u_filter" @click="u_filter = ''">지우기</b-btn>
                  </b-input-group-append>
                </div>
              </b-tab>
              <b-tab title="법률업체가 자주 묻는 질문" @click="tabCustomer">
                <b-table
                  show-empty
                  stacked="sm"
                  :items="c_faqs"
                  :fields="c_fields"
                  :current-page="c_currentPage"
                  :per-page="c_perPage"
                  :filter="c_filter"
                  :empty-text="c_emptyText"
                  :empty-filtered-text="c_emptyFilteredText"
                  :sort-by.sync="c_sortBy"
                  :sort-desc.sync="c_sortDesc"
                  :sort-direction="c_sortDirection"
                >
                  <template slot="actions" slot-scope="row">
                    <b-btn
                      size="sm"
                      @click.stop="row.toggleDetails"
                    >{{ row.detailsShowing ? '감추기' : ' 보기 ' }}</b-btn>
                  </template>
                  <template slot="row-details" slot-scope="row">
                    <b-card>
                      <span v-html="row.item.f_content"></span>
                    </b-card>
                  </template>
                </b-table>
                <div class="paging_cont">
                  <b-pagination :total-rows="c_totalRows" :per-page="c_perPage" v-model="c_currentPage" class="my-0"/>
                </div>
                <div class="list_search_bottom">
                  <b-form-input v-model="c_filter" placeholder="찾을 내용을 입력하세요"/>
                  <b-input-group-append>
                    <b-btn :disabled="!c_filter" @click="c_filter = ''">지우기</b-btn>
                  </b-input-group-append>
                </div>
              </b-tab>
            </b-tabs>
            <b-modal ref="infoModal" hide-footer title="알림">
              <div class="d-block text-center">
                <h5>{{ infoMsg }}</h5>
              </div>
              <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
            </b-modal>
          </div>
        </div>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import Navi from "./Navi";
import TopFrame from "./TopFrame";
import Footer from "./Footer";
import axios from "axios";
import Tabs from "vue-tabs-component";
export default {
  name: "Tips",
  components: {
    Navi,
    TopFrame,
    Footer
  },
  data() {
    return {
      infoMsg: "",
      confirmMsg: "",
      selected_f_id: "",
      formShow: true,
      u_faqs: [],
      u_fields: [
        { key: "f_id", label: "No.", class: "text-center", sortable: true,  },
        { key: "f_class", label: "분류", class: "text-center" },
        { key: "f_subject", label: "제목", class: "text-center" },
        { key: "f_creator", label: "만든이", class: "text-center" },
        { key: "date", label: "날짜" },
        { key: "actions", label: "", class: "text-center" }
      ],
      u_currentPage: 1,
      u_perPage: 10,
      u_totalRows: 0,
      u_pageOptions: [10, 20, 30],
      u_sortBy: null,
      u_sortDesc: false,
      u_sortDirection: "asc",
      u_filter: null,
      u_emptyText: "등록된 자료가 없습니다.",
      u_emptyFilteredText: "찾는 자료가 없습니다.",
      c_faqs: [],
      c_fields: [
        { key: "f_id", label: "No.", class: "text-center", sortable: true,  },
        { key: "f_class", label: "분류", class: "text-center" },
        { key: "f_subject", label: "제목", class: "text-center" },
        { key: "f_creator", label: "만든이", class: "text-center" },
        { key: "date", label: "날짜" },
        { key: "actions", label: "", class: "text-center" }
      ],
      c_currentPage: 1,
      c_perPage: 10,
      c_totalRows: 0,
      c_pageOptions: [10, 20, 30],
      c_sortBy: null,
      c_sortDesc: false,
      c_sortDirection: "asc",
      c_filter: null,
      c_emptyText: "등록된 자료가 없습니다.",
      c_emptyFilteredText: "찾는 자료가 없습니다.",
    };
  },
  computed: {},
  methods: {
     notice_btn() {
      this.$router.push({ path: "./notice" });
    },
     faq() {
      this.$router.push({ path: "./faq" });
    },
     AddQuestion() {
      this.$router.push({ path: "./AddQuestion" });
    },
     adInformation() {
      this.$router.push({ path: "./adInformation" });
    },
     searchByRegion() {
      this.$router.push({ path: "./searchByRegion" });
    },
     searchByProduct() {
      this.$router.push({ path: "./searchByProduct" });
    },
    getFaqs() {
      this.u_faqs = [];
      this.c_faqs = [];
      var data = new FormData();
      data.append("CRUD_mode", "get");
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_faq.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            let u_seq = 0;
            let c_seq = 0;
            for (var i = 0; i < response.data.faqs.length; i++) {
              if(response.data.faqs[i].f_class == '개인') {
                u_seq = u_seq + 1;
                response.data.faqs[i].f_id = u_seq;
                this.u_faqs.push(response.data.faqs[i]);
              } else {
                c_seq = c_seq + 1;
                response.data.faqs[i].f_id = c_seq;
                this.c_faqs.push(response.data.faqs[i]);
              }
            }
            this.u_totalRows = this.u_faqs.length;
            this.c_totalRows = this.c_faqs.length;
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },

    showModal() {
      this.$refs.infoModal.show();
    },
    hideModal() {
      this.$refs.infoModal.hide();
    }
  },

  mounted() {
    this.getFaqs();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
