 <template>
  <div class="BottomFrame">
    <div class="left_aside">
      <p class="join_bann">회원가입 없이
        <br>무료로 이용
        <br>가능합니다.
      </p>
      <div class="new_com">
        <p class="new_com_title">최근 등록 업체</p>
        <ul>
          <li v-for="(leftCustomer, key) in leftCustomers" :key="key"  @click="selectedCustomer(leftCustomer)" >
            <span v-html="leftCustomer.lo_name" ></span>
          </li>
        </ul>
      </div>
      <p class="l_floting_faq">
        <a href="/cscenter/faq">자주묻는 질문</a>
      </p>
    </div>
    <div class="footer_guide">
      <img src="http://192.168.1.220:8080/images/footer_tip_icon.png" alt="tip">
      <p>
        법률나라에 등록된 법률사무소는 200곳 이상이며 법률사무소마다 수임료, 서비스가 상이하기 때문에
        <span>여러 업체와 상담해 보시는게 유리</span> 합니다.
      </p>
      <a class="guide_icon" href="#/userGuide">
        <img src="http://192.168.1.220:8080/images/foot_guide_icon.png" alt="이용안내">법률나라 이용안내
      </a>
    </div>
    <div class="footer_banner">
      <div class="footer_banner_layout">
        <div class="footer_customer_Center">
          <h6>
            고객센터
            <a href="#/notice" @click="notice_btn"><img src="http://192.168.1.220:8080/images/ft_Center_more.png" alt="고객센터 더보기"></a>
          </h6>
          <div class="footer_customer_Center_info">
            <dl>
              <dt>
                <img
                  src="http://192.168.1.220:8080/images/footer_customer_Center_info_icon_01.png"
                  alt="대표번호"
                > 대표번호
              </dt>
              <dd>1234-5678</dd>
            </dl>
            <dl>
              <dt>
                <img
                  src="http://192.168.1.220:8080/images/footer_customer_Center_info_icon_02.png"
                  alt="직통번호"
                > 직통번호
              </dt>
              <dd>010-1234-5678</dd>
            </dl>
            <dl>
              <dt>
                <img
                  src="http://192.168.1.220:8080/images/footer_customer_Center_info_icon_03.png"
                  alt="대표번호"
                > 운영시간
              </dt>
              <dd style="font-size:15px; color:#666; margin-top:8px;">평일 09:00 - 18:00
                <br>주말 공휴일휴무
              </dd>
            </dl>
          </div>
        </div>
        <div class="footer_account_info">
          <h6>입금계좌안내</h6>
          <div class="footer_account_layout">
            <dl style="margin-bottom:10px;">
              <dt>
                <img src="http://192.168.1.220:8080/images/ft_account_icon_01.png" alt="대표번호"> 입금계좌
              </dt>
              <dd>
                <img src="http://192.168.1.220:8080/images/ft_account_bank.png" alt="우리은행">
                <br>1234-123-12345
              </dd>
            </dl>
            <dl>
              <dt>
                <img src="http://192.168.1.220:8080/images/ft_account_icon_02.png" alt="예금주"> 예금주
              </dt>
              <dd style="font-size:15px;color:#454545; margin-top:10px;">등대기획</dd>
            </dl>
          </div>
        </div>
        <div class="footer_quick_btn">
          <h6>바로가기</h6>
          <div class="ft_quick_layout">
            <ul>
              <li class="bg1" @click="oneToOne">1:1 문의</li>
              <li class="bg2" @click="realTimeConsult">내 문의글 찾기</li>
              <li class="bg3" @click="faq">자주 묻는 질문</li>
              <li class="bg4" @click="adInformation">광고문의</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_navi">
      <ul>
        <li @click="notice_btn">회사소개</li>
        <li @click="userGuide">이용안내</li>
        <li>이용약관</li>
        <li class="wh"  @click="openTermsModal('개인정보 수집')">개인정보처리방침</li>
        <li class="wh">책임한계와 법적고지</li>
        <li class="wh">이메일무단수집거부</li>
        <li>고객센터</li>
      </ul>
    </div>
    <div class="footer_width">
      <div class="footer_logo">
        <img src="http://192.168.1.220:8080/images/footer_logo.png" alt="로고"> 
      </div>
      <div class="footer_address">
        <p>사이트명 : 법률나라 | 회사명 : 등대기획 | 사업자등록번호 : 760-21-00321 | 대표자 : 노병국 | 대표자 : 노병국
          <br>주소 : 서울시 금천구 가산동 서부샛길 606, 대성디폴리스 15층 1511호 | 통신판매업신고번호 : 제 2019-서울금천-1234호
        </p>
        <p
          class="footer_color"
        >법률나라는 의뢰인의 법률상담 내용 및 상담 여부, 법률사건 내용 및 수임 여부, 변호사의 선택 등에 일절 관여하지 않으며 변호사법 및 기타 관련규정을 준수하고 있으며, 변호사회원이 의뢰인에게 제공하는 서비스의 내용과 질에 대해 어떠한 법적책임도 부담하지 않음을 알려드립니다. 또한 법률나라는 회원간 예약 및 중개서비스 또는 통신판매중개 시스템을 제공할 뿐, 통신판매의 당사자가 아닙니다. 모든 법률상담은 각 변호사회원이 직접 수행하며, 모든 변호사회원은 각 소속 법률사무소에서 독립적으로 법률업무를 수행하며 변호사 상호간에는 어떠한 조직적인 관계가 없음을 밝힙니다.
          <br>
          <br>
          <span>법률나라에 표시된 변호사의 정보는 해당 변호사가 직접 작성 및 제공한 것이며 무단으로 복제, 편집, 전시, 전송, 배포, 판매, 방송, 공연 등에 이용할 수 없습니다.</span>
        </p>
      </div>
    </div>
     <b-modal ref="termsModal" hide-footer title="개인정보취급방침">
            <div>
              <p>
                <span v-html="termsDoc"></span>
              </p>
            </div>
            <b-btn class="mt-3" variant="outline-primary" @click="hideTermsModal">닫기</b-btn>
          </b-modal>
  </div>
  
</template>
<script>
import axios from "axios";
export default {
  name: "BottomFrame",
  components: {},
  data() {
    return {
      infoMsg: "",
      confirmMsg: "",
      termsDoc: "",
       customer: {
        lo_company_name: "",
        lo_ceo_name: "",
        lo_regist_number: "",
        lo_phone: "",
        lo_postcode: "",
        lo_address: "",
        lo_core_business: "",
        lo_service_division: "",
        lo_service_target: "",
        lo_service_area: "",
        lo_description: "",
        lo_homepage: "",
        lo_title: "",
        ah_ad_division: ""
      },
      leftCustomers: []
       
    };
  },
  methods: {
    notice_btn() {
      this.$router.push({ path: "./notice" });
    },
     oneToOne() {
      this.$router.push({ path: "./oneToOne" });
    },
     realTimeConsult() {
      this.$router.push({ path: "./realTimeConsult" });
    },
     faq() {
      this.$router.push({ path: "./faq" });
    },
    userGuide() {
      this.$router.push({ path: "./userGuide" });
    },
     adInformation() {
      this.$router.push({ path: "./adInformation" });
    },
      toggleAllAgree(checked) {
      this.form.q_terms = "O"; //이용약관
      this.form.q_offer = "O"; //개인정보 제3자 제공
      this.form.q_marketing = "O"; //마케팅 정보수신
    },
    selectedCustomer(selected_customer) {
      //console.log('selected_customer --------------> clicked');
      this.$store.state.eachData.customerData = selected_customer;
      this.$router.push({ path: "./CustomSearch" });
    },
    openTermsModal(subject) {
      for (let i = 0; i < this.terms.length; i++) {
        if (this.terms[i].t_subject == subject) {
          this.termsDoc = this.terms[i].t_content;
        }
      }
      this.$refs.termsModal.show();
    },
     getLegalOffices() {
      this.customers = [];
      this.leftCustomers = [];
      var data = new FormData();
      data.append("GET_mode", "get");
      data.append("search_mode", "list");
      data.append("ah_at_type", "20"); //20 —> 메인 배너광고
      axios
        .post(this.$store.state.lawketBaseUrl + "GET_legal_office.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            this.customers = response.data.legal_offices;
            for (var i = 0; i < this.customers.length; i++) {
              if ( this.customers[i].lo_main_img != null && this.customers[i].lo_main_img != "null" ) {
                  this.customers[i].lo_main_img =
                  this.$store.state.lawketImageUrl + "customer_image/" + this.customers[i].lo_company_name + "/" + this.customers[i].lo_main_img;
              }
              if ( this.customers[i].lo_sub1_img != null && this.customers[i].lo_sub1_img != "null" ) {
                  this.customers[i].lo_sub1_img =
                  this.$store.state.lawketImageUrl + "customer_image/" + this.customers[i].lo_company_name + "/" + this.customers[i].lo_sub1_img;
              }
              if ( this.customers[i].lo_sub2_img != null && this.customers[i].lo_sub2_img != "null" ) {
                  this.customers[i].lo_sub2_img =
                  this.$store.state.lawketImageUrl + "customer_image/" + this.customers[i].lo_company_name + "/" + this.customers[i].lo_sub2_img;
              }
              if (i < 7) {
                this.leftCustomers.push(this.customers[i]);
              }
            }
            this.totalRows = this.customers.length;
       
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },
    getTerms() {
      this.terms = [];
      var data = new FormData();
      data.append("CRUD_mode", "get");
      data.append("t_type", "개인");
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_term.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            this.terms = response.data.terms;
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },
     showModal() {
      this.$refs.infoModal.show();
    },
    hideModal() {
      this.$refs.infoModal.hide();
    },
    hideTermsModal() {
      this.$refs.termsModal.hide();
    },
    //for <vue-recaptcha> onSubmit, onVerify, onExpired</vue-recaptcha>
    onVerify: function(response) {
      console.log("Verify: " + response);
    },
    onExpired: function() {
      console.log("Expired");
    }
    
  },
   mounted() {
    this.getTerms();
    this.getLegalOffices();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>