<template>
  <div class="Home" align="center">
    <TopFrame></TopFrame>
    <Navi></Navi>
    <div class="container">
      <div class="main_vesual">
        <p>대한민국 대표 법률 전문 사이트 !
          <br>전국 300개 이상의 법률 사무소 실시간 상담가능!
        </p>
        <div class="main_conter_layout">
          <div class="main_conter">
            <span>2019년 1월 2일 기준 l 총 등록 업체</span>
            <animated-number class="number" :value="totalRows" :formatValue="formatToPrice" :duration="1000" />개 ㅣ 총 실시간 대출문의
            <animated-number class="number" :value="consulttotalRows" :formatValue="formatToPrice" :duration="1000" />건
          </div>
        </div>
      </div>
      <div class="nt_new_roll">
        <div class="notice_info">
          <p class="nt_title">공지사항</p>
<div class="notice">
	<ul class="rolling">
		<li v-for="(notices, key) in notices" :key="key">
			<a href="#"><span class="monthly_title" v-html="notices.n_subject"></span> <span class="monthly_date">{{notices.date}}</span></a>
		</li>

	</ul>
</div>
  <p class="more_icon"><img src="http://192.168.1.220:8080/images/ft_Center_more.png" alt="더보기" /></p>
        </div>
        <div class="news_info">
            <p class="nt_title">법률뉴스</p>
            <div class="news_cont">
	<ul class="rolling">
		<li v-for="(informations, key) in informations" :key="key">
			<a href="#"><span class="monthly_title" v-html="informations.i_subject"></span> <span class="monthly_date">{{informations.date}}</span></a>
		</li>

	</ul>
</div>
            <p class="more_icon"><img src="http://192.168.1.220:8080/images/ft_Center_more.png" alt="더보기" /></p>
        </div>
      </div>
      <div class="layout_cont">
        <div class="mt_top_layout">
        <div class="main_cont_top">
          <div class="left_banner">
            <div class="lawyer_banner">
              <carousel :per-page="1" :mouse-drag="false" :autoplay="true" :loop="true" :navigationEnabled="true" :autoplayTimeout="5000">
                <slide data-index="0" data-name="premiumCustomers" v-for="(premium, key) in premiumCustomers" :key="key">
                  <div class="main_top_com_info_layout">
                    <div class="main_top_lawyer_img">
                      <img :src="premium.l_photo">
                    </div>
                    <div class="main_top_com_info">
                      <h5>{{premium.lo_company_name}} {{premium.l_position}}:{{premium.l_name}}</h5>
                      <p>{{premium.lo_core_business}}</p>
                    </div>
                  </div>
                </slide>
              </carousel>
            </div>
            <div class="area_kind_banner">
              <div class="area_main_cont">
                <h5>지역별 검색</h5>
                <ul>
                  <li v-for="(loc, key) in locations" :key="key">
                    <b-btn style="float:left;" size="sm" variant="outline-secondary" @click="selectLocation(loc.value)">{{loc.text}}</b-btn>
                  </li>
                </ul>
              </div>
              <div class="kind_main_cont">
                <h5>업종별 검색</h5>
                <li v-for="(division, key) in divisions" :key="key">
                  <b-btn :key="key" size="sm" variant="outline-secondary" @click="selectDivision(division.value)" style="margin-left: 2px;">
                    {{division.text}}
                  </b-btn>
                </li>
              </div>
            </div>
          </div>

          <div class="right_banner">
            <div class="login_cont">
              <div class="find_btn">
                <a class="join" @click="signUpCustomer">회원가입</a> | <a class="join" @click="searchPasswordCustomer">비밀번호 찾기</a>
              </div>
              <b-tabs>
                <b-tab title="광고주">
                  <div class="login_input">
                    <b-form-input type="email" v-model="legalOffic.lo_email" required placeholder="이메일" style="border-bottom:0;"></b-form-input>
                    <b-form-input type="password" v-model="legalOffic.lo_password" required placeholder="비밀번호"></b-form-input>
                  </div>
                  <div class="login_btn">
                    <b-btn block variant="primary" @click="loginCustomer">로그인</b-btn>
                  </div>
                </b-tab>
              </b-tabs>
            </div>

            <div class="monthly_inquire">
              <h3 class="monthly_inquire_title"> 1월 회생상담글
                <span>{{consulttotalRows}}</span>건
                <a href="#none" class="more-plus"></a>
              </h3>
              <div class="rolling_cont">
                <div class="vert simply-scroll-container">
                  <div class="simply-scroll-clip">
                    <ul
                      id="scroller"
                      class="monthly_inquire_inner simply-scroll-list"

                    >
                      <li>
                        <a href="#none">
                          <span class="circle_txt">충남</span>
                          <span class="monthly_title">
                            개인회생 문의합니다.
                            <img src="http://jmlaw.kr/images/gnb_new.png" alt="새 게시물">
                          </span>
                          <span class="monthly_date">010-****-**90</span>
                        </a>
                      </li>
                      <li>
                        <a href="#none">
                          <span class="circle_txt">대전</span>
                          <span class="monthly_title">
                            개인회생이란 무엇인가요?
                            <img src="http://jmlaw.kr/images/gnb_new.png" alt="새 게시물">
                          </span>
                          <span class="monthly_date">010-****-**14</span>
                        </a>
                      </li>
                      <li>
                        <a href="#none">
                          <span class="circle_txt">경기</span>
                          <span class="monthly_title">
                            주부 300~500 ..
                            <img src="http://jmlaw.kr/images/gnb_new.png" alt="새 게시물">
                          </span>
                          <span class="monthly_date">010-****-**24</span>
                        </a>
                      </li>
                      <li>
                        <a href="#none">
                          <span class="circle_txt">경북</span>
                          <span class="monthly_title">
                            당일 100만원 빌려..
                            <img src="http://jmlaw.kr/images/gnb_new.png" alt="새 게시물">
                          </span>
                          <span class="monthly_date">010-****-**84</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 메인 등록업체 -->
        <div class="main_premium_cont">
          <div class="plate_cont">
            <h3 class="main_title">메인 법률사무소·변호사
              <!--span>{{PrtotalRows}} 건</span-->
              <a href="#none">광고문의</a>
            </h3>
            <div class="cont_product platinum">
              <div class="inner_cont">
                <ul class="list_product" id="_platinum" v-if="!detailFlag">
                  <li class="open" v-for="(main, key) in mainCustomers" :key="key">
                    <div class="box_product">
                      <div class="poduct_info">
                        <strong class="poduct_tit" ></strong>
                        <div class="product_desc">
                          <div class="category_part" v-for="(ah_ad_division, key) in main.ah_ad_division" :key="key">
                            <b-btn :key="key" size="sm" variant="outline-secondary" style="margin-left: 2px;">{{ah_ad_division}}</b-btn>
                          </div>
                          <div class="main_platium_bottom">
                            <span class="txt">{{main.lo_title}}</span>
                            
                          </div>
                          <span class="txt">{{main.lo_core_business}}</span>
                          <div class="main_platium_info"><img src="http://192.168.1.220:8080/images/main_com_icon.png" alt="회사아이콘" /> {{main.lo_company_name}}</div>
                        </div>

                        <div class="wrap_desc">
                          <span class="txt_desc">
                            <span class="com_title_text" >{{main.lo_company_name}}</span>
                            <span class="com_more"><img src="http://192.168.1.220:8080/images/main_more_icon.png" alt="상세보기" /> 상세보기</span>
                          </span>
                        </div>
                      </div>
                      <span class="bg"></span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        </div>
        <!-- 메인 등록업체 -->
        <!-- 메인 중간 배너 -->
        <div class="main_wide_banner">
          <p>
            <img src="http://192.168.1.220:8080/images/main_md_banner_img.png" alt>
          </p>
        </div>
        <!-- 메인 중간 배너 -->
        <!-- 전국 법률사무소, 실시간 등록현황 -->
        <div class="main_cont_bottom">
          <div class="main_middle_layout">
            <div class="main_middle_cont">
              <b-row>
                <b-col cols="6" class="total_area">
                  <h6>지역별 법률사무소 현황
                    <!--a href="#/searchByRegion">더보기 +</a-->
                  </h6>
                  <b-table
                    show-empty
                    stacked="sm"
                    :items="customers"
                    :fields="fields"
                    :filter="filter"
                    :sort-by.sync="sortBy"
                    :sort-desc.sync="sortDesc"
                    :sort-direction="sortDirection"
                  >
                    <template slot="actions" slot-scope="row">
                      <b-btn
                        size="sm"
                        @click.stop="row.toggleDetails"
                      >{{ row.detailsShowing ? '감추기' : ' 내용보기' }}</b-btn>
                    </template>
                    <template slot="row-details" slot-scope="row">
                      <b-card>
                        <span v-html="row.item.lo_description"></span>
                      </b-card>
                    </template>
                  </b-table>
                </b-col>

                <b-col cols="6" class="total_consult">
                  <h6>실시간 법률 문의
                    <!--a href="#/searchByRegion">더보기 +</a-->
                  </h6>
                  <b-table
                    show-empty
                    stacked="sm"
                    :items="consults"
                    :fields="fields2"
                    :per-page="perPage"
                    :sort-by.sync="sortBy"
                    :sort-desc.sync="sortDesc"
                    :sort-direction="sortDirection"
                  ></b-table>
                </b-col>
              </b-row>
            </div>
          </div>
        </div>
        <!--div class="main_foot_cont">
          <div class="main_foot_cont_layout">
            <div class="notice_cont" v-if="!detailFlag">
              <h6>공지사항</h6>
              <ul>
                <li v-for="(notices, key) in notices" :key="key">
                  <p class="com_main_info">
                    <span>ㅁ{{notices.n_subject}}</span>
                  </p>
                </li>
              </ul>
            </div>
            <div class="quick_banner">
              <h6>바로가기</h6>
              <ul>
                <li>
                  <a class="icon1" href="#/oneToOne">1:1문의</a>
                </li>
                <li>
                  <a class="icon2" href="#/adInformation">광고문의</a>
                </li>
                <li>
                  <a class="icon3" href="#/faq">자주묻는 질문</a>
                </li>
              </ul>
            </div>
            <div class="cutomer_center">
              <h6>Lawket 고객상담센터</h6>
              <p class="main_cutomer_icon1">
                <span>상담전화</span> 02.2270.1730
              </p>
              <p class="main_cutomer_icon2">
                <span>운영시간</span> 09:00~17:00
              </p>
            </div>
          </div>
        </div-->
      </div>
      <!-- 전국 법률사무소, 실시간 등록현황 -->
      <b-modal ref="infoModal" hide-footer title="알림">
        <div class="d-block text-center">
          <h5>{{ infoMsg }}</h5>
        </div>
        <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
      </b-modal>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import TopFrame from "./TopFrame";
import Navi from "./Navi";
import Footer from "./Footer";
import axios from "axios";
import AnimatedNumber from "animated-number-vue";
import Tabs from "vue-tabs-component";
import { Carousel, Slide } from "vue-carousel";

export default {
  components: {
    TopFrame,
    Navi,
    Footer,
    AnimatedNumber,
    Carousel
  },
  name: "Home",
  data() {
    return {
      legalOffic: {
        lo_email: "",
        lo_password: ""
      },
      premiumCustomers: [],
      mainCustomers: [],
      infoMsg: "",
      selectLocation_param: "전체",
      locations: [
        { value: "서울", text: "서울" },
        { value: "인천", text: "인천" },
        { value: "부산", text: "부산" },
        { value: "대전", text: "대전" },
        { value: "울산", text: "울산" },
        { value: "대구", text: "대구" },
        { value: "광주", text: "광주" },
        { value: "세종", text: "세종" },
        { value: "경기", text: "경기" },
        { value: "강원", text: "강원" },
        { value: "충북", text: "충북" },
        { value: "충남", text: "충남" },
        { value: "경북", text: "경북" },
        { value: "경남", text: "경남" },
        { value: "전북", text: "전북" },
        { value: "전남", text: "전남" },
        { value: "제주", text: "제주" }
      ],

      customers: [],
      fields: [
        { key: "ah_ad_area", label: "지역", class: "area" },
        { key: "lo_core_business", label: "상담분야", class: "text-left" },
        { key: "lo_company_name", label: "업체명", class: "text-center" }
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      pageOptions: [10, 20, 30],
      sortBy: null,
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      emptyText: "등록된 자료가 없습니다.",
      emptyFilteredText: "찾는 자료가 없습니다.",
      detailFlag: false,
      customer: {
        lo_company_name: "",
        lo_ceo_name: "",
        lo_regist_number: "",
        lo_phone: "",
        lo_postcode: "",
        lo_address: "",
        lo_core_business: "",
        lo_service_division: "",
        lo_service_target: "",
        lo_service_area: "",
        lo_description: "",
        lo_homepage: "",
        lo_title: "",
        ah_ad_division: ""
      },
      divisions: [
        { value: "전체", text: "전체", variant: "outline-secondary", state: false },
        { value: "개인회생", text: "개인회생", variant: "outline-secondary", state: false },
        { value: "개인파산", text: "개인파산", variant: "outline-secondary", state: false }
      ],

      ah_ad_divisions: [
        { value: "전체", text: "전체", variant: "outline-secondary", state: false },
        { value: "개인회생", text: "개인회생", variant: "outline-secondary", state: false },
        { value: "개인파산", text: "개인파산", variant: "outline-secondary", state: false }
      ],

      notices: [],
      fields3: [
        { key: "n_id", label: "No.", class: "text-center" },
        { key: "n_subject", label: "제목", class: "text-center" },
        { key: "date", label: "날짜", class: "text-center" }
      ],
      infoMsg: "",
      confirmMsg: "",
      selected_n_id: "",
      formShow: true,
      currentPage: 1,
      perPage: 4,
      totalRows: 0,
      pageOptions: [10, 20, 30],
      sortBy: null,
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      emptyText: "등록된 자료가 없습니다.",
      emptyFilteredText: "찾는 자료가 없습니다.",
      detailFlag: false,
      notice: {
        n_id: "",
        n_subject: "",
        date: ""
      },

    informations: [],
      fields4: [
        { key: "i_id", label: "No.", class: "text-center" },
        { key: "i_subject", label: "제목", class: "text-center" },
        { key: "date", label: "날짜", class: "text-center" }
      ],
      infoMsg: "",
      confirmMsg: "",
      selected_i_id: "",
      formShow: true,
      currentPage: 1,
      perPage: 4,
      totalRows: 0,
      pageOptions: [10, 20, 30],
      sortBy: null,
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      emptyText: "등록된 자료가 없습니다.",
      emptyFilteredText: "찾는 자료가 없습니다.",
      detailFlag: false,
      information: {
        n_id: "",
        n_subject: "",
        date: ""
      },

      consults: [],
      mainconsults: [],
      mainbannerconsults: [],
      consulttotalRows: 0,
      fields2: [

        { key: "cr_subject", label: "제목", class: "text-center" },
        { key: "cr_mobile", label: "연락처", class: "text-center" }
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      totalRows2: 0,
      pageOptions: [10, 20, 30],
      sortBy: null,
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      emptyText: "등록된 자료가 없습니다.",
      emptyFilteredText: "찾는 자료가 없습니다.",
      detailFlag: false,
      consult: {
        cr_name: "",
        cr_location: "",
        cr_division: "",
        cr_job_ox: "",
        cr_sex: "",
        cr_age: "",
        cr_debt: "",
        cr_subject: "",
        cr_content: "",
        created: ""
      },
      PrtotalRows: 0
    };
  },

  methods: {
    someLocalProperty() {},

    loginCustomer() {
      var data = new FormData();
      data.append("CRUD_mode", "login");
      data.append("lo_email", this.legalOffic.lo_email);
      data.append("lo_password", this.legalOffic.lo_password);
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_legal_office.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            this.legalOffic.lo_email = "";
            this.legalOffic.lo_password = "";
            this.$store.state.legalOfficeData = response.data.legal_office;
            this.$store.state.legalOfficeFlag = true;
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },
    signUpCustomer() {
      this.$router.push({ path: "./SignUpCustomer" });
    },
    searchPasswordCustomer() {
      this.$router.push({ path: "./Login" });
    },
    viewList() {
      this.detailFlag = false;
      this.consult.cr_name = "";
      this.consult.cr_location = "";
      this.consult.cr_division = "";
      this.consult.cr_job_ox = "";
      this.consult.cr_sex = "";
      this.consult.cr_age = "";
      this.consult.cr_debt = "";
      this.consult.cr_subject = "";
      this.consult.cr_content = "";
      this.consult.cr_mobile = "";
      this.consult.created = "";
    },

    selectLocation(loc) {
      this.$store.state.main_search.region = loc;
      this.$router.push({ path: "./SearchByRegion" });
    },

    selectDivision(division) {
      this.$store.state.main_search.product = division;
      this.$router.push({ path: "./SearchByProduct" });
    },

    formatToPrice(value) {
      return ` ${value.toFixed(0)}`;
    },
    showCardDetail(lo_id) {
      this.detailFlag = true;
      for (var i = 0; i < this.customers.length; i++) {
        if (this.customers[i].lo_id == lo_id) {
          this.customer.lo_company_name = this.customers[i].lo_company_name;
          this.customer.lo_ceo_name = this.customers[i].lo_ceo_name;
          this.customer.lo_regist_number = this.customers[i].lo_regist_number;
          this.customer.lo_phone = this.customers[i].lo_phone;
          this.customer.lo_postcode = this.customers[i].lo_postcode;
          this.customer.lo_address = this.customers[i].lo_address1 + " " + this.customers[i].lo_address2;
          this.customer.lo_core_business = this.customers[i].lo_core_business;
          this.customer.lo_service_division = this.customers[i].lo_service_division;
          this.customer.lo_service_target = this.customers[i].lo_service_target;
          this.customer.lo_service_area = this.customers[i].lo_service_area;
          this.customer.lo_description = this.customers[i].lo_description;
          this.customer.lo_homepage = this.customers[i].lo_homepage;
          this.customer.lo_title = this.customers[i].lo_title;
        }
      }
    },
    viewList() {
      this.detailFlag = false;
      this.customer.lo_company_name = "";
      this.customer.lo_ceo_name = "";
      this.customer.lo_regist_number = "";
      this.customer.lo_phone = "";
      this.customer.lo_postcode = "";
      this.customer.lo_address = "";
      this.customer.lo_core_business = "";
      this.customer.lo_service_division = "";
      this.customer.lo_service_target = "";
      this.customer.lo_service_area = "";
      this.customer.lo_description = "";
      this.customer.lo_homepage = "";
      this.customer.lo_core_business = "";
      this.customer.lo_title = "";
      this.customer.ah_ad_division = "";
    },

     getInformations() {
      this.informations = [];
      var data = new FormData();
      data.append("CRUD_mode", "get");
      data.append("search_mode", "list");
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_information.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            this.informations = response.data.informations;
            this.getNotice();
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },
    getNotice() {
      this.notices = [];
      var data = new FormData();
      data.append("CRUD_mode", "get");
      data.append("search_mode", "list");
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_notice.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            this.notices = response.data.notices;
            this.getPremiumLegalOffices();
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },
    getPremiumLegalOffices() {
      this.premiumCustomers = [];
      var data = new FormData();
      data.append("GET_mode", "get");
      data.append("search_mode", "banner");
      data.append("ah_at_type", "10"); //10 —> 프리미엄 배너광고
      axios
        .post(this.$store.state.lawketBaseUrl + "GET_legal_office.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            this.premiumCustomers = response.data.legal_offices;
            for (var i = 0; i < this.premiumCustomers.length; i++) {
              if ( this.premiumCustomers[i].lo_main_img != null && this.premiumCustomers[i].lo_main_img != "null" ) {
                  this.premiumCustomers[i].lo_main_img =
                  this.$store.state.lawketImageUrl + "customer_image/" + this.premiumCustomers[i].lo_company_name + "/" + this.premiumCustomers[i].lo_main_img;
              }
              if ( this.premiumCustomers[i].lo_sub1_img != null && this.premiumCustomers[i].lo_sub1_img != "null" ) {
                  this.premiumCustomers[i].lo_sub1_img = 
                  this.$store.state.lawketImageUrl + "customer_image/" + this.premiumCustomers[i].lo_company_name + "/" + this.premiumCustomers[i].lo_sub1_img;
              }
              if ( this.premiumCustomers[i].lo_sub2_img != null && this.premiumCustomers[i].lo_sub2_img != "null" ) {
                  this.premiumCustomers[i].lo_sub2_img = 
                  this.$store.state.lawketImageUrl + "customer_image/" + this.premiumCustomers[i].lo_company_name + "/" + this.premiumCustomers[i].lo_sub2_img;
              }
              if ( this.premiumCustomers[i].l_photo != null && this.premiumCustomers[i].l_photo != "null" ) {
                  this.premiumCustomers[i].l_photo = 
                  this.$store.state.lawketImageUrl + "customer_image/" + this.premiumCustomers[i].lo_company_name + "/" + this.premiumCustomers[i].l_photo;
              }
            }
            this.PrtotalRows = this.premiumCustomers.length;
            this.getMainLegalOffices();
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },
    getMainLegalOffices() {
      this.customers = [];
      var data = new FormData();
      data.append("GET_mode", "get");
      data.append("search_mode", "banner");
      data.append("ah_at_type", "30"); //20 —> 메인 배너광고
      axios
        .post(this.$store.state.lawketBaseUrl + "GET_legal_office.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            this.mainCustomers = response.data.legal_offices;
            for (var i = 0; i < this.mainCustomers.length; i++) {
              if ( this.mainCustomers[i].lo_main_img != null && this.mainCustomers[i].lo_main_img != "null" ) {
                  this.mainCustomers[i].lo_main_img = 
                  this.$store.state.lawketImageUrl + "customer_image/" + this.mainCustomers[i].lo_company_name + "/" + this.mainCustomers[i].lo_main_img;
              }
              if ( this.mainCustomers[i].lo_sub1_img != null && this.mainCustomers[i].lo_sub1_img != "null" ) {
                  this.mainCustomers[i].lo_sub1_img =
                  this.$store.state.lawketImageUrl + "customer_image/" + this.mainCustomers[i].lo_company_name + "/" + this.mainCustomers[i].lo_sub1_img;
              }
              if ( this.mainCustomers[i].lo_sub2_img != null && this.mainCustomers[i].lo_sub2_img != "null" ) {
                  this.mainCustomers[i].lo_sub2_img =
                  this.$store.state.lawketImageUrl + "customer_image/" + this.mainCustomers[i].lo_company_name + "/" + this.mainCustomers[i].lo_sub2_img;
              }
              /*
              //var strToArray 
              this.mainCustomers[i].ah_ad_area = this.mainCustomers[i].ah_ad_area.split(",");
              for (var j = 0; j < this.mainCustomers[i].ah_ad_area.length; j++) {
                console.log('this.mainCustomers['+i+'].ah_ad_area :['+j+'] : '+ this.mainCustomers[i].ah_ad_area[j]);
              }
              */
              this.mainCustomers[i].ah_ad_division = this.mainCustomers[i].ah_ad_division.split(",");
            }
            this.totalRows2 = this.mainCustomers.length;
            this.getLegalOffices();
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },
    getLegalOffices() {
      this.customers = [];
      this.leftCustomers = [];
      var data = new FormData();
      data.append("GET_mode", "get");
      data.append("search_mode", "list");
      data.append("ah_at_type", "20"); //20 —> 메인 배너광고
      axios
        .post(this.$store.state.lawketBaseUrl + "GET_legal_office.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            this.customers = response.data.legal_offices;
            for (var i = 0; i < this.customers.length; i++) {
              if ( this.customers[i].lo_main_img != null && this.customers[i].lo_main_img != "null" ) {
                  this.customers[i].lo_main_img =
                  this.$store.state.lawketImageUrl + "customer_image/" + this.customers[i].lo_company_name + "/" + this.customers[i].lo_main_img;
              }
              if ( this.customers[i].lo_sub1_img != null && this.customers[i].lo_sub1_img != "null" ) {
                  this.customers[i].lo_sub1_img =
                  this.$store.state.lawketImageUrl + "customer_image/" + this.customers[i].lo_company_name + "/" + this.customers[i].lo_sub1_img;
              }
              if ( this.customers[i].lo_sub2_img != null && this.customers[i].lo_sub2_img != "null" ) {
                  this.customers[i].lo_sub2_img =
                  this.$store.state.lawketImageUrl + "customer_image/" + this.customers[i].lo_company_name + "/" + this.customers[i].lo_sub2_img;
              }
              if (i < 5) {
                this.leftCustomers.push(this.customers[i]);
              }
            }
            this.totalRows = this.customers.length;
            this.getDivisionLegalOffices();
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },
    getDivisionLegalOffices() {
      this.divisionCustomers = [];
      var data = new FormData();
      data.append("GET_mode", "get");
      data.append("search_mode", "banner");
      data.append("ah_at_type", "40"); //40 —> 상품 배너광고
      data.append("ah_ad_division", this.selectDivision_param);
      axios
        .post(this.$store.state.lawketBaseUrl + "GET_legal_office.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            this.divisionCustomers = response.data.legal_offices;
            for (var i = 0; i < this.divisionCustomers.length; i++) {
              if ( this.divisionCustomers[i].lo_main_img != null && this.divisionCustomers[i].lo_main_img != "null" ) {
                  this.divisionCustomers[i].lo_main_img =
                  this.$store.state.lawketImageUrl + "customer_image/" + this.divisionCustomers[i].lo_company_name + "/" + this.divisionCustomers[i].lo_main_img;
              }
              if ( this.divisionCustomers[i].lo_sub1_img != null && this.divisionCustomers[i].lo_sub1_img != "null" ) {
                  this.divisionCustomers[i].lo_sub1_img =
                  this.$store.state.lawketImageUrl + "customer_image/" + this.divisionCustomers[i].lo_company_name + "/" + this.divisionCustomers[i].lo_sub1_img;
              }
              if ( this.divisionCustomers[i].lo_sub2_img != null && this.divisionCustomers[i].lo_sub2_img != "null" ) {
                  this.divisionCustomers[i].lo_sub2_img = 
                  this.$store.state.lawketImageUrl + "customer_image/" + this.divisionCustomers[i].lo_company_name + "/" + this.divisionCustomers[i].lo_sub2_img;
              }
            }
            this.getConsults();
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },
    getConsults() {
      this.consults = [];
      this.mainconsults = [];
      this.mainbannerconsults = [];
      var data = new FormData();
      data.append("CRUD_mode", "get");
      data.append("search_mode", "list");
      data.append("cr_creator", this.myConsultMobile);
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_consult.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();

          } else {
            this.consults = response.data.consults;
            for (var i = 0; i < this.consults.length; i++) {
              this.consults[i].cr_mobile = this.consults[i].cr_mobile.substr(0, 3) + "****" +this.consults[i].cr_mobile.substr(7, 4); 
              this.mainconsults.push(this.consults[i]);
            }
            this.consulttotalRows = this.consults.length;
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },

    showModal() {
      this.$refs.infoModal.show();
    },
    hideModal() {
      this.$refs.infoModal.hide();
    }
  },
  mounted() {
    this.getInformations();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.notice{width:420px; height:30px; overflow:hidden; background-color:#fff; float:left; margin-left:20px;}
.rolling{position:relative; width:100%; height:auto;}
.rolling li{width:100%; height:30px; line-height:1.5; padding:2px 0;}
.news_info .news_cont{width:435px;height:30px; overflow:hidden; background-color:#fff; float:left; margin: 0 20px; }
.news_rolling{position:relative; width:100%; height:auto;}
.news_rolling li{width:100%; height:30px; line-height:1.5; padding:2px 0;}

</style>
