<template>
  <div class="Home" align="center">
    <TopFrame></TopFrame>
    <Navi></Navi>
    <div class="container">
      <div class="main_vesual">
        <p>대한민국 대표 법률 전문 사이트 !
          <br>전국 300개 이상의 법률 사무소 실시간 상담가능!
        </p>
        <div class="main_conter_layout">
          <div class="main_conter">
            <span>2019년 1월 2일 기준 l 총 등록 업체</span>
            <animated-number
              class="number"
              :value="totalRows"
              :formatValue="formatToPrice"
              :duration="3000"
            />ㅣ
            총 실시간 대출문의
            <animated-number
              class="number"
              :value="consulttotalRows"
              :formatValue="formatToPrice"
              :duration="3000"
            />
          </div>
        </div>
      </div>

      <div class="layout_cont">
        <div class="main_cont_top">
          <b-col cols="4" class="monthly_inquire">
            <h3 class="monthly_inquire_title">
              1월 회생상담글
              <span>{{consulttotalRows}}</span>건
              <a href="#none" class="more-plus"></a>
            </h3>
            <div class="vert simply-scroll-container">
              <div class="simply-scroll-clip">
                <ul
                  id="scroller"
                  class="monthly_inquire_inner simply-scroll-list"
                  style="height: 494px;"
                >
                  <li>
                    <a href="#none">
                      <span class="circle_txt">충남</span>
                      <span class="monthly_title">
                        개인회생 문의합니다.
                        <img src="http://jmlaw.kr/images/gnb_new.png" alt="새 게시물">
                      </span>
                      <span class="monthly_date">010-****-**90</span>
                    </a>
                  </li>
                  <li>
                    <a href="#none">
                      <span class="circle_txt">대전</span>
                      <span class="monthly_title">
                        개인회생이란 무엇인가요?
                        <img src="http://jmlaw.kr/images/gnb_new.png" alt="새 게시물">
                      </span>
                      <span class="monthly_date">010-****-**14</span>
                    </a>
                  </li>
                  <li>
                    <a href="#none">
                      <span class="circle_txt">경기</span>
                      <span class="monthly_title">
                        주부 300~500 ..
                        <img src="http://jmlaw.kr/images/gnb_new.png" alt="새 게시물">
                      </span>
                      <span class="monthly_date">010-****-**24</span>
                    </a>
                  </li>
                  <li>
                    <a href="#none">
                      <span class="circle_txt">경북</span>
                      <span class="monthly_title">
                        당일 100만원 빌려..
                        <img src="http://jmlaw.kr/images/gnb_new.png" alt="새 게시물">
                      </span>
                      <span class="monthly_date">010-****-**84</span>
                    </a>
                  </li>
                  <li>
                    <a href="#none">
                      <span class="circle_txt">경북</span>
                      <span class="monthly_title">
                        300-500만원
                        <img src="http://jmlaw.kr/images/gnb_new.png" alt="새 게시물">
                      </span>
                      <span class="monthly_date">010-****-**67</span>
                    </a>
                  </li>
                  <li>
                    <a href="#none">
                      <span class="circle_txt">경북</span>
                      <span class="monthly_title">
                        40만원 개인돈 빌려..
                        <img src="http://jmlaw.kr/images/gnb_new.png" alt="새 게시물">
                      </span>
                      <span class="monthly_date">010-****-**61</span>
                    </a>
                  </li>
                  <li>
                    <a href="#none">
                      <span class="circle_txt">경기</span>
                      <span class="monthly_title">
                        중고차구입
                        <img src="http://jmlaw.kr/images/gnb_new.png" alt="새 게시물">
                      </span>
                      <span class="monthly_date">010-****-**93</span>
                    </a>
                  </li>
                  <li>
                    <a href="#none">
                      <span class="circle_txt">충남</span>
                      <span class="monthly_title">
                        천안200 무직 미..
                        <img src="http://jmlaw.kr/images/gnb_new.png" alt="새 게시물">
                      </span>
                      <span class="monthly_date">010-****-**66</span>
                    </a>
                  </li>
                  <li>
                    <a href="#none">
                      <span class="circle_txt">울산</span>
                      <span class="monthly_title">
                        생활자금
                        <img src="http://jmlaw.kr/images/gnb_new.png" alt="새 게시물">
                      </span>
                      <span class="monthly_date">010-****-**10</span>
                    </a>
                  </li>
                  <li>
                    <a href="#none">
                      <span class="circle_txt">서울</span>
                      <span class="monthly_title">
                        서울 당일 200 대..
                        <img src="http://jmlaw.kr/images/gnb_new.png" alt="새 게시물">
                      </span>
                      <span class="monthly_date">010-****-**66</span>
                    </a>
                  </li>
                  <li>
                    <a href="#none">
                      <span class="circle_txt">경기</span>
                      <span class="monthly_title">
                        300정도 가능한지...
                        <img src="http://jmlaw.kr/images/gnb_new.png" alt="새 게시물">
                      </span>
                      <span class="monthly_date">010-****-**61</span>
                    </a>
                  </li>
                  <li>
                    <a href="#none">
                      <span class="circle_txt">경북</span>
                      <span class="monthly_title">
                        가능한곳만 답변 부탁..
                        <img src="http://jmlaw.kr/images/gnb_new.png" alt="새 게시물">
                      </span>
                      <span class="monthly_date">010-****-**67</span>
                    </a>
                  </li>
                  <li>
                    <a href="#none">
                      <span class="circle_txt">강원</span>
                      <span class="monthly_title">
                        소액대출요
                        <img src="http://jmlaw.kr/images/gnb_new.png" alt="새 게시물">
                      </span>
                      <span class="monthly_date">010-****-**96</span>
                    </a>
                  </li>
                  <li>
                    <a href="#none">
                      <span class="circle_txt">경남</span>
                      <span class="monthly_title">
                        가능한곳 연락주세요
                        <img src="http://jmlaw.kr/images/gnb_new.png" alt="새 게시물">
                      </span>
                      <span class="monthly_date">010-****-**30</span>
                    </a>
                  </li>
                  <li>
                    <a href="#none">
                      <span class="circle_txt">서울</span>
                      <span class="monthly_title">
                        주부대출로 인하여...
                        <img src="http://jmlaw.kr/images/gnb_new.png" alt="새 게시물">
                      </span>
                      <span class="monthly_date">010-****-**23</span>
                    </a>
                  </li>
                  <li>
                    <a href="#none">
                      <span class="circle_txt">충남</span>
                      <span class="monthly_title" v-html="customer.lo_description"></span>
                      <span class="monthly_date">010-****-**90</span>
                    </a>
                  </li>
                  <li>
                    <a href="#none">
                      <span class="circle_txt">대전</span>
                      <span class="monthly_title">
                        만19세 미필
                        <img src="http://jmlaw.kr/images/gnb_new.png" alt="새 게시물">
                      </span>
                      <span class="monthly_date">010-****-**14</span>
                    </a>
                  </li>
                  <li>
                    <a href="#none">
                      <span class="circle_txt">경기</span>
                      <span class="monthly_title">
                        주부 300~500 ..
                        <img src="http://jmlaw.kr/images/gnb_new.png" alt="새 게시물">
                      </span>
                      <span class="monthly_date">010-****-**24</span>
                    </a>
                  </li>
                  <li>
                    <a href="#none">
                      <span class="circle_txt">경북</span>
                      <span class="monthly_title">
                        당일 100만원 빌려..
                        <img src="http://jmlaw.kr/images/gnb_new.png" alt="새 게시물">
                      </span>
                      <span class="monthly_date">010-****-**84</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </b-col>
          <b-col cols="4" class="monthly_inquire"></b-col>
          <b-col cols="4" class="main_tab_cont">
            <b-tabs>
              <b-tab title="지역별 검색" active>
                <b-col cols="2" class="main_area_btn" v-for="(loc, key) in locations" :key="key">
                  <b-btn
                    style="float:left;"
                    size="sm"
                    variant="outline-secondary"
                    @click="selectLocation(loc.value)"
                  >{{loc.text}}</b-btn>
                </b-col>
              </b-tab>
              <b-tab title="직업별 검색">
                <br>I'm the second tab content
              </b-tab>
            </b-tabs>
          </b-col>
        </div>

        <div class="left_aside">
          <p class="join_bann">회원가입 없이
            <br>무료로 이용
            <br>가능합니다.
          </p>
          <div class="new_com">
            <p class="new_com_title">최근 등록 업체</p>
            <ul>
              <li v-for="(leftCustomer, key) in leftCustomers" :key="key">
                <span v-html="leftCustomer.lo_name"></span>
              </li>
            </ul>
          </div>
          <p class="l_floting_faq">
            <a href="/cscenter/faq">자주묻는 질문</a>
          </p>
        </div>

        <h3 class="main_title">
          프리미엄 등록업체
          <span>{{PrtotalRows}}</span> 건
          <a href="#">상품안내 ></a>
        </h3>
        <!--div v-if="!detailFlag">
          <b-row>
            <b-col cols="3" v-for="(premium, key) in premiumCustomers" :key="key">
              <b-card
                :title="premium.lo_name"
                :img-src="premium.lo_main_img"
                img-alt="Img"
                img-fluid
                img-top
                @click="showCardDetail(premium.lo_id)"
              >
                <p class="card-text" v-html="premium.lo_core_business"></p>
                <div slot="footer">
                  <small class="text-muted">{{premium.lo_phone}}</small>
                </div>
              </b-card>
            </b-col>
          </b-row>
        </div-->
        <div class="plate_cont">
          <div class="cont_product platinum">
            <div class="inner_cont">
              <ul class="list_product" id="_platinum" v-if="!detailFlag">
                <li class="open" v-for="(premium, key) in premiumCustomers" :key="key">
                  <div slot="footer">
                    <small class="text-muted">{{premium.lo_phone}}</small>
                  </div>
                  <div class="box_product">
                    <a
                      href="#none"
                      class="link_box track_event"
                      data-track_event="main|Ads_click|platinum_fix_expand|1"
                    ></a>
                    <span class="product_logo">
                      <img v-bind:src="premium.lo_main_img" alt="img">
                    </span>
                    <strong class="poduct_tit" v-html="premium.lo_name"></strong>
                    <em class="product_desc">
                      <span v-html="premium.lo_core_business"></span>
                    </em>
                    <em class="product_desc open">
                      <span class="txt"></span>
                      <span class="txt"></span>
                    </em>
                    <span class="wrap_desc">
                      <span class="txt_desc" @click="showCardDetail(lo_id)">{{premium.lo_phone}}</span>
                      <span class="txt_desc">
                        <span class="base_year"></span>
                      </span>
                      <span class="txt_desc">
                        <span class="base_year">즉시상담 바로가기 ></span>
                      </span>
                    </span>
                    <span class="thumb_product">
                      <img
                        data-src="//www2.saraminbanner.co.kr/banner_logo/company/logo_banner/2019/01/plijqu_c68b-2rxehg_.png"
                        class="img"
                        rel="nofollow"
                      >
                    </span>
                    <span class="recruit_func">
                      <span class="blind"></span>
                      <span class="num_dday"></span>
                    </span>
                    <span class="bg"></span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <h3 class="main_title">
          메인 등록업체
          <span>{{totalRows2}}</span> 건
        </h3>
        <div v-if="!detailFlag">
          <b-row>
            <b-col cols="3" v-for="(main, key) in mainCustomers" :key="key">
              <b-card
                :title="main.lo_name"
                :img-src="main.lo_main_img"
                img-alt="Img"
                img-fluid
                img-top
                @click="showCardDetail(main.lo_id)"
              >
                <p class="card-text">
                  <span v-html="main.lo_core_business"></span>
                </p>
                <div slot="footer">
                  <small class="text-muted">{{main.lo_phone}}</small>
                </div>
              </b-card>
            </b-col>
          </b-row>
        </div>
      </div>

      <div class="main_wide_banner">
        <p>전국 법률 사무소를 모두 한곳에!
          <br>개인회생, 파산 정보 부터 상담까지 다이렉트로!
        </p>
      </div>

      <div class="main_cont_bottom">
        <div class="main_middle_layout">
          <div class="main_middle_cont">
            <b-row>
              <b-col cols="6" class="total_area">
                <h6>
                  전국 법률사무소 등록현황
                  <a href="#none">더보기 +</a>
                </h6>
                <b-table
                  show-empty
                  stacked="sm"
                  :items="customers"
                  :fields="fields"
                  :filter="filter"
                  :sort-by.sync="sortBy"
                  :sort-desc.sync="sortDesc"
                  :sort-direction="sortDirection"
                >
                  <template slot="actions" slot-scope="row">
                    <b-btn
                      size="sm"
                      @click.stop="row.toggleDetails"
                    >{{ row.detailsShowing ? '감추기' : ' 내용보기' }}</b-btn>
                  </template>
                  <template slot="row-details" slot-scope="row">
                    <b-card>
                      <span v-html="row.item.lo_description"></span>
                    </b-card>
                  </template>
                </b-table>
              </b-col>

              <b-col cols="6" class="total_consult">
                <h6>
                  실시간 문의글 등록현황
                  <a href="#none">더보기 +</a>
                </h6>
                <b-table
                  show-empty
                  stacked="sm"
                  :items="mainconsults"
                  :fields="fields2"
                  :sort-by.sync="sortBy"
                  :sort-desc.sync="sortDesc"
                  :sort-direction="sortDirection"
                ></b-table>
              </b-col>
            </b-row>
          </div>
        </div>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import TopFrame from "./TopFrame";
import Navi from "./Navi";
import Footer from "./Footer";
import axios from "axios";
import AnimatedNumber from "animated-number-vue";
import Tabs from "vue-tabs-component";

export default {
  components: {
    TopFrame,
    Navi,
    Footer,
    AnimatedNumber
  },
  name: "Home",
  data() {
    return {
      premiumCustomers: [],
      mainCustomers: [],
      infoMsg: "",
      selectLocation_param: "전체",
      locations: [
        { value: "서울", text: "서울" },
        { value: "인천", text: "인천" },
        { value: "부산", text: "부산" },
        { value: "대전", text: "대전" },
        { value: "울산", text: "울산" },
        { value: "대구", text: "대구" },
        { value: "광주", text: "광주" },
        { value: "세종", text: "세종" },
        { value: "경기", text: "경기" },
        { value: "강원", text: "강원" },
        { value: "충북", text: "충북" },
        { value: "충남", text: "충남" },
        { value: "경북", text: "경북" },
        { value: "경남", text: "경남" },
        { value: "전북", text: "전북" },
        { value: "전남", text: "전남" },
        { value: "제주", text: "제주" }
      ],
      leftCustomers: [],
      customers: [],
      fields: [
        { key: "ah_ad_division", label: "서비스", class: "text-center" },
        { key: "lo_name", label: "회사명", class: "text-center" },
        { key: "lo_ceo_name", label: "대표자명", class: "text-center" },
        { key: "lo_phone", label: "전화번호", class: "text-center" },
        { key: "ah_ad_area", label: "지역", class: "text-center" },
        { key: "date", label: "등록일자" }
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      pageOptions: [10, 20, 30],
      sortBy: null,
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      emptyText: "등록된 자료가 없습니다.",
      emptyFilteredText: "찾는 자료가 없습니다.",
      detailFlag: false,
      customer: {
        lo_name: "",
        lo_ceo_name: "",
        lo_regist_number: "",
        lo_phone: "",
        lo_postcode: "",
        lo_address: "",
        lo_core_business: "",
        lo_service_division: "",
        lo_service_target: "",
        lo_service_area: "",
        lo_description: "",
        lo_homepage: ""
      },

      consults: [],
      mainconsults: [],
      fields2: [
        {
          key: "cr_division",
          label: "분류",
          class: "text-center",
          sortable: true,
          sortDirection: "desc"
        },
        { key: "cr_location", label: "지역", class: "text-center" },
        { key: "cr_name", label: "이름", class: "text-center" },
        { key: "cr_job", label: "직업", class: "text-center" },
        { key: "cr_debt", label: "채무금액", class: "text-center" },
        { key: "cr_subject", label: "제목", class: "text-center" },
        { key: "date", label: "작성일", class: "text-center" }
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      pageOptions: [10, 20, 30],
      sortBy: null,
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      emptyText: "등록된 자료가 없습니다.",
      emptyFilteredText: "찾는 자료가 없습니다.",
      detailFlag: false,
      consult: {
        cr_name: "",
        cr_location: "",
        cr_division: "",
        cr_job_ox: "",
        cr_sex: "",
        cr_age: "",
        cr_debt: "",
        cr_subject: "",
        cr_content: "",
        created: ""
      }
    };
  },

  methods: {
    getConsults() {
      this.consults = [];
      this.mainconsults = [];
      var data = new FormData();
      data.append("CRUD_mode", "get");
      data.append("search_mode", "list");
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_consult.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            this.consults = response.data.consults;
            for (var i = 7; i < this.consults.length; i++) {
              this.mainconsults.push(this.consults[i]);
            }
            this.consulttotalRows = this.consults.length;
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },

    viewList() {
      this.detailFlag = false;
      this.consult.cr_name = "";
      this.consult.cr_location = "";
      this.consult.cr_division = "";
      this.consult.cr_job_ox = "";
      this.consult.cr_sex = "";
      this.consult.cr_age = "";
      this.consult.cr_debt = "";
      this.consult.cr_subject = "";
      this.consult.cr_content = "";
      this.consult.created = "";
    },

    selectLocation(loc) {
      //console.log('this.locations.value --> '+loc);
      this.selectLocation_param = loc;
      this.getLegalOffices();
    },

    formatToPrice(value) {
      return ` ${value.toFixed(0)}`;
    },

    showCardDetail(lo_id) {
      this.detailFlag = true;
      for (var i = 0; i < this.customers.length; i++) {
        if (this.customers[i].lo_id == lo_id) {
          this.customer.lo_name = this.customers[i].lo_name;
          this.customer.lo_ceo_name = this.customers[i].lo_ceo_name;
          this.customer.lo_regist_number = this.customers[i].lo_regist_number;
          this.customer.lo_phone = this.customers[i].lo_phone;
          this.customer.lo_postcode = this.customers[i].lo_postcode;
          this.customer.lo_address =
            this.customers[i].lo_address1 + " " + this.customers[i].lo_address2;
          this.customer.lo_core_business = this.customers[i].lo_core_business;
          this.customer.lo_service_division = this.customers[
            i
          ].lo_service_division;
          this.customer.lo_service_target = this.customers[i].lo_service_target;
          this.customer.lo_service_area = this.customers[i].lo_service_area;
          this.customer.lo_description = this.customers[i].lo_description;
          this.customer.lo_homepage = this.customers[i].lo_homepage;
        }
      }
    },

    viewList() {
      this.detailFlag = false;
      this.customer.lo_name = "";
      this.customer.lo_ceo_name = "";
      this.customer.lo_regist_number = "";
      this.customer.lo_phone = "";
      this.customer.lo_postcode = "";
      this.customer.lo_address = "";
      this.customer.lo_core_business = "";
      this.customer.lo_service_division = "";
      this.customer.lo_service_target = "";
      this.customer.lo_service_area = "";
      this.customer.lo_description = "";
      this.customer.lo_homepage = "";
    },

    getPremiumLegalOffices() {
      this.customers = [];
      var data = new FormData();
      data.append("GET_mode", "get");
      data.append("search_mode", "banner");
      data.append("ah_at_type", "10"); //10 —> 프리미엄 배너광고
      axios
        .post(this.$store.state.lawketBaseUrl + "GET_legal_office.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            this.premiumCustomers = response.data.legal_offices;
            for (var i = 0; i < this.premiumCustomers.length; i++) {
              this.premiumCustomers[i].lo_main_img =
                this.$store.state.lawketImageUrl +
                "customer_image/" +
                this.premiumCustomers[i].lo_identifier +
                "/" +
                this.premiumCustomers[i].lo_main_img;
              this.premiumCustomers[i].lo_sub1_img =
                this.$store.state.lawketImageUrl +
                "customer_image/" +
                this.premiumCustomers[i].lo_identifier +
                "/" +
                this.premiumCustomers[i].lo_sub1_img;
              this.premiumCustomers[i].lo_sub2_img =
                this.$store.state.lawketImageUrl +
                "customer_image/" +
                this.premiumCustomers[i].lo_identifier +
                "/" +
                this.premiumCustomers[i].lo_sub2_img;
              this.premiumCustomers[i].lo_sub3_img =
                this.$store.state.lawketImageUrl +
                "customer_image/" +
                this.premiumCustomers[i].lo_identifier +
                "/" +
                this.premiumCustomers[i].lo_sub3_img;
            }
            this.PrtotalRows = this.premiumCustomers.length;
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },
    getMainLegalOffices() {
      this.customers = [];
      var data = new FormData();
      data.append("GET_mode", "get");
      data.append("search_mode", "banner");
      data.append("ah_at_type", "20"); //20 —> 메인 배너광고
      axios
        .post(this.$store.state.lawketBaseUrl + "GET_legal_office.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            this.mainCustomers = response.data.legal_offices;
            for (var i = 0; i < this.mainCustomers.length; i++) {
              this.mainCustomers[i].lo_main_img =
                this.$store.state.lawketImageUrl +
                "customer_image/" +
                this.mainCustomers[i].lo_identifier +
                "/" +
                this.mainCustomers[i].lo_main_img;
              this.mainCustomers[i].lo_sub1_img =
                this.$store.state.lawketImageUrl +
                "customer_image/" +
                this.mainCustomers[i].lo_identifier +
                "/" +
                this.mainCustomers[i].lo_sub1_img;
              this.mainCustomers[i].lo_sub2_img =
                this.$store.state.lawketImageUrl +
                "customer_image/" +
                this.mainCustomers[i].lo_identifier +
                "/" +
                this.mainCustomers[i].lo_sub2_img;
              this.mainCustomers[i].lo_sub3_img =
                this.$store.state.lawketImageUrl +
                "customer_image/" +
                this.mainCustomers[i].lo_identifier +
                "/" +
                this.mainCustomers[i].lo_sub3_img;
            }

            this.totalRows2 = this.mainCustomers.length;
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },
    getLegalOffices() {
      this.customers = [];
      this.leftCustomers = [];
      var data = new FormData();
      data.append("GET_mode", "get");
      data.append("search_mode", "list");
      data.append("ah_at_type", "20"); //20 —> 메인 배너광고
      axios
        .post(this.$store.state.lawketBaseUrl + "GET_legal_office.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            this.customers = response.data.legal_offices;
            for (var i = 0; i < this.customers.length; i++) {
              this.customers[i].lo_main_img =
                this.$store.state.lawketImageUrl +
                "customer_image/" +
                this.customers[i].lo_identifier +
                "/" +
                this.customers[i].lo_main_img;
              this.customers[i].lo_sub1_img =
                this.$store.state.lawketImageUrl +
                "customer_image/" +
                this.customers[i].lo_identifier +
                "/" +
                this.customers[i].lo_sub1_img;
              this.customers[i].lo_sub2_img =
                this.$store.state.lawketImageUrl +
                "customer_image/" +
                this.customers[i].lo_identifier +
                "/" +
                this.customers[i].lo_sub2_img;
              this.customers[i].lo_sub3_img =
                this.$store.state.lawketImageUrl +
                "customer_image/" +
                this.customers[i].lo_identifier +
                "/" +
                this.customers[i].lo_sub3_img;
              if (i < 5) {
                this.leftCustomers.push(this.customers[i]);
              }
            }
            this.totalRows = this.customers.length;
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    }
  },

  mounted() {
    this.getPremiumLegalOffices();
    this.getMainLegalOffices();
    this.getLegalOffices();
    this.getConsults();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
