<template>
  <div class="Login" align="center">
    <TopFrame></TopFrame>
    <Navi></Navi>
    <div class="container">
      <div class="sub_login_cont">
        <br>
        <div class="main_cont_bottom">
          <div class="main_middle_layout">
            <div class="main_middle_cont">
              <b-row>
                <b-col cols="4" class="total_area">
                  <h6> 로그인 정보 </h6>
                  <b-row>
                    <b-col cols="6" align="center">
                      <b-btn block variant="warning" @click="searchCustomerPassword">비밀번호 찾기</b-btn>
                    </b-col>
                    <b-col cols="6" align="center">
                      <b-btn block variant="warning" @click="changeCustomerPassword">비밀번호 변경</b-btn>
                    </b-col>
                  </b-row>
                  <br>
                  <b-row>
                    <b-col cols="6" align="center">
                      <b-btn block variant="secondary" @click="logOut">로그아웃</b-btn>
                    </b-col>
                    <b-col cols="6" align="center">
                      <b-btn block variant="outline-primary" @click="updateCustomer">정보변경</b-btn>
                    </b-col>
                  </b-row>
                </b-col>
                <b-col cols="1"></b-col>
                <b-col cols="7" class="total_consult">
                  <h6> 광고 등록현황 </h6>
                  <b-table
                    show-empty
                    stacked="sm"
                    :items="ad_historys"
                    :fields="fields"
                    :current-page="currentPage"
                    :per-page="perPage"
                    :filter="filter"
                    :sort-by.sync="sortBy"
                    :sort-desc.sync="sortDesc"
                    :sort-direction="sortDirection"
                  ></b-table>
                </b-col>
              </b-row>
            </div>
          </div>
        </div>
        <b-modal ref="infoModal" hide-footer title="알림">
          <div class="d-block text-center">
            <h5>{{ infoMsg }}</h5>
          </div>
          <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
        </b-modal>

        <b-modal
          v-model="showSearchModal"
          title="비밀번호 찾기/변경"
          no-close-on-esc
          no-close-on-backdrop
          hide-header-close
        >
          <b-container fluid>
            <div v-if="searchPasswordFlag">
              <b-row>
                <b-col>
                  <b-form-group>
                    <b-form-input type="email" v-model="search_email" required placeholder="이메일을 입력하세요." ></b-form-input>
                  </b-form-group>
                </b-col>
              </b-row>
            </div>
            <div v-if="changePasswordFlag">
              <b-row>
                <b-col>
                  <b-form-group>
                    <b-form-input type="email" v-model="search_email" required placeholder="이메일을 입력하세요." ></b-form-input>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <b-form-group>
                    <b-form-input type="password" v-model="current_password" required placeholder="비밀번호를 입력하세요." ></b-form-input>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <b-form-group>
                    <b-form-input
                      type="password"
                      v-model="change_password" required placeholder="변경할 비밀번호를 영.숫자 포함 8자리 ~ 15자리로 입력하세요." ></b-form-input>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <b-form-group>
                    <b-form-input type="password" v-model="rechange_password" required placeholder="변경할 비밀번호를 다시 입력하세요." ></b-form-input>
                  </b-form-group>
                </b-col>
              </b-row>
            </div>
            <b-row class="col-text">
              <b-col cols="3"></b-col>
              <b-col>
                <p>{{ searchModalMessage }}</p>
              </b-col>
            </b-row>
          </b-container>
          <div slot="modal-footer" class="w-100">
            <b-btn size="md" class="float-left" variant="light" @click="exitCustomerSearchModal">취소</b-btn>
            <b-btn size="md" class="float-right" variant="primary" @click="tryCustomerSubmit">제출</b-btn>
          </div>
        </b-modal>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import TopFrame from "./TopFrame";
import Navi from "./Navi";
import Footer from "./Footer";
import axios from "axios";

export default {
  name: "Login",
  components: {
    TopFrame,
    Navi,
    Footer
  },
  data() {
    return {
      infoMsg: '',
      lo_id: 0,
      lo_email: '',
      lo_password: '',
      lo_name: '',
      signUpFlag: false,
      updateInfoFlag: false,
      showSearchModal: false,
      searchPasswordFlag: false,
      changePasswordFlag: false,
      search_email: '',
      current_password: '',
      change_password: '',
      rechange_password: '',
      searchModalMessage: '',
      ad_historys: [],
      fields: [
        { key: 'at_title', label: '광고종류', 'class': 'text-center' },
        { key: 'ah_occur_date', label: '신청일자', 'class': 'text-center' },
        { key: 'ah_start_date', label: '개시일자', 'class': 'text-center' },
        { key: 'ah_end_date', label: '종료일자', 'class': 'text-center' },
        { key: 'ah_payment_amount', label: '결제금액', 'class': 'text-center' },
        { key: 'ah_payment_desc', label: '결제상태', 'class': 'text-center', sortable: true, sortDirection: 'desc', },
        { key: 'ah_payment_name', label: '결제자', 'class': 'text-center' },
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      pageOptions: [ 10, 20, 30 ],
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
    };
  },
  computed: {},
  methods: {
    updateCustomer() {
      this.updateInfoFlag = true;
      this.$router.push({ path: "./UpdateCustomer" });
    },

    searchCustomerPassword() {
      this.searchPasswordFlag = true;
      this.showSearchModal = true;
    },
    changeCustomerPassword() {
      this.changePasswordFlag = true;
      this.showSearchModal = true;
    },

    exitCustomerSearchModal() {
      this.searchModalMessage = "";
      this.search_email = "";
      this.searchPasswordFlag = false;
      this.changePasswordFlag = false;
      this.change_password = "";
      this.rechange_password = "";
      this.showSearchModal = false;
    },

    tryCustomerSubmit() {
      if (this.searchPasswordFlag) {
        if (this.search_email == '') {
          this.searchModalMessage = "이메일을 입력해주세요.";
          return;
        }
        var data = new FormData();
        data.append("CRUD_mode", "search_pw");
        data.append("lo_email", this.search_email);
      } else if (this.changePasswordFlag) {
        if (this.search_email == '') {
          this.searchModalMessage = "이메일을 입력해주세요.";
          return;
        } else if (this.current_password == '') {
          this.searchModalMessage = "비밀번호를 입력해주세요.";
          return;
        } else if (this.change_password == '') {
          this.searchModalMessage = "변경할 비밀번호를 입력해주세요.";
          return;
        } else if (this.rechange_password == '') {
          this.searchModalMessage =
            "비밀번호를 다시한번 입력해주세요.";
          return;
        } else if ( this.change_password != this.rechange_password ) {
          this.searchModalMessage = "비밀번호를 다시한번 확인해주세요.";
          return;
        }

        if ( !this.checkString( "password", this.change_password)) {
          console.log("checkString --> false");
          return;
        }
        var data = new FormData();
        data.append("CRUD_mode", "change_pw");
        data.append("lo_email", this.search_email);
        data.append("lo_password", this.current_password);
        data.append("change_password", this.change_password);
      }

      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_legal_office.php", data)
        .then(response => {
          this.searchModalMessage = response.data.msg;
        })
        .catch(error => {
          console.log(error);
        })
        .finally(() => (this.loading = false));
    },

    checkString(type, str) {
      let pw = str;
      let num = pw.search(/[0-9]/g);
      let eng = pw.search(/[a-z][A-Z]/gi);
      let spe = pw.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);
      let kor = pw.search(/[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/gi);

      //alert(JSON.stringify(pw.length));
      //alert(JSON.stringify("number --> " + num));
      //alert(JSON.stringify("english --> " + eng));
      if (pw.length < 8 || pw.length > 15) {
        this.searchModalMessage = "비밀번호는 영.숫자 포함 8자리 ~ 15자리 입니다.";
        return false;
      }
      if (pw.search(/₩s/) != -1) {
        this.searchModalMessage = "비밀번호는 공백없이 입력해주세요.";
        return false;
      }
      if (num < 0 || eng < 0) {
        this.searchModalMessage = "비밀번호는 영문.숫자를 혼합하여 입력해주세요.";
        return false;
      }
    },
    showModal() {
      this.$refs.infoModal.show();
    },
    hideModal() {
      this.$refs.infoModal.hide();
    },
    logOut() {
      this.$store.state.legalOfficeData = [];
      this.$store.state.legalOfficeFlag = false;
      this.$router.push({ path: "./" });
    },

    getAdHistorys() {
      //alert(JSON.stringify(this.payment_option));
      this.ad_historys = [];
      var data = new FormData();
      data.append('CRUD_mode', 'get');
      data.append('get_mode', 'each_customer');
      data.append('legal_office_lo_id', this.$store.state.legalOfficeData.lo_id);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_ad_history.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.ad_historys = response.data.ad_historys;
          for (let i=0; i<this.ad_historys.length; i++) {
            if(this.ad_historys[i].ah_payment_date == '1969-12-31') {
              this.ad_historys[i].ah_payment_date = '';
            };
            if(this.ad_historys[i].ah_payment_confirm_date == '1969-12-31') {
              this.ad_historys[i].ah_payment_confirm_date = '';
            };
            this.ad_historys[i].ah_payment_amount = this.formatNumber(this.ad_historys[i].ah_payment_amount);
          }
          this.totalRows = this.ad_historys.length;
        }
      })
      .catch(error => {
        console.log(error);
      })
      .finally(() => this.loading = false);
    },
    formatNumber(num) {
      return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")
    },
  },

  mounted() {
    this.getAdHistorys();
  }
};
</script>

<style scoped>
</style>