<template>
  <div class="Navi" align="center">
    <div class="head_menu">
      <div class="head_layout">
        <div class="head_menu_layout">
          <kendo-menu @select="onSelect">
            <li class="k-item k-state-default width">지역별 업체검색
              <ul>
                <li> <a href="#/searchByRegion" @click="searchByRegion">지역별 업체검색</a> </li>
              </ul>
            </li>
            <li style="width:16%;">분야별 업체검색
              <ul>
                <li> <a href="/#/searchByProduct" @click="searchByProduct">분야별 업체검색</a> </li>
              </ul>
            </li>
            <li style="width:16%;">실시간 법률문의 
              <ul>
                <li> <a href="/#/how_use" @click="how_use">법률문의 이용방법</a> </li>
                <li> <a href="/#/realTimeConsult" @click="realTimeConsult">실시간 법률문의</a> </li>
              </ul>
            </li>
            <li>맞춤검색
              <ul>
                <li> <a href="/#/customSearch" @click="customSearch">맞춤검색</a> </li>
              </ul>
            </li>
             <li>이용안내
              <ul>
                <li> <a href="/#/userGuide" @click="userGuide">의뢰인 이용안내</a> </li>
                <li> <a href="/#/customerGuide"  @click="customerGuide" >변호사 이용안내</a> </li>
              </ul>
            </li>
            
            <li>고객센터
              <ul>
                <li> <a href="/#/notice"  @click="notice"> 공지사항</a> </li>
                <li> <a href="/#/faq"  @click="faq">자주묻는질문</a> </li>
                <li> <a href="/#/AddQuestion"  @click="AddQuestion">1:1문의</a> </li>
                <li> <a href="/#/information"  @click="information">법률뉴스</a> </li>
                <li> <a href="/#/adInformation"  @click="adInformation">광고문의</a></li>
                <li> <a href="/#/requestAd"  @click="requestAd">광고신청</a></li>
              </ul>
            </li>
              <li>회사소개
              <ul>
                <li> <a href="/#/Company_summary"  @click="Company_summary">회사개요</a> </li>
                <li> <a href="/#/Company_history"  @click="Company_history">회사연혁</a> </li>
                <li> <a href="/#/Company_org"  @click="Company_org">회사조직도</a> </li>
                <li> <a href="/#/Company_vision"  @click="Company_vision">회사비전</a> </li>
              </ul>
            </li>
          </kendo-menu>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";

export default {
  components: {},
  name: "Navi",
  data() {
    return {
      modalShow: false,
      variants: [
        "primary",
        "secondary",
        "success",
        "warning",
        "danger",
        "info",
        "light",
        "dark"
      ],
      headerBgVariant: "dark",
      headerTextVariant: "light",
      bodyBgVariant: "light",
      bodyTextVariant: "dark",
      footerBgVariant: "warning",
      footerTextVariant: "dark",
      modalMessage: "",
      la_identifier: "",
      la_password: ""
    };
  },
  methods: {
    searchByRegion() {
      this.$router.push({ path: "./searchByRegion" });
    },
    searchByProduct() {
      this.$router.push({ path: "./searchByProduct" });
    },
    how_use() {
      this.$router.push({ path: "./how_use" });
    },
    realTimeConsult() {
      this.$router.push({ path: "./realTimeConsult" });
    },
    customSearch() {
      this.$router.push({ path: "./customSearch" });
    },
    userGuide() {
      this.$router.push({ path: "./userGuide" });
    },
    customerGuide() {
      this.$router.push({ path: "./customerGuide" });
    },
    notice() {
      this.$router.push({ path: "./notice" });
    },
    faq() {
      this.$router.push({ path: "./faq" });
    },
     AddQuestion() {
      this.$router.push({ path: "./AddQuestion" });
    },
     information() {
      this.$router.push({ path: "./information" });
    },
     adInformation() {
      this.$router.push({ path: "./adInformation" });
    },
     requestAd() {
      this.$router.push({ path: "./requestAd" });
    },
     Company_summary() {
      this.$router.push({ path: "./Company_summary" });
    },
    Company_history() {
      this.$router.push({ path: "./Company_history" });
    },
    Company_org() {
      this.$router.push({ path: "./Company_org" });
    },
    Company_vision() {
      this.$router.push({ path: "./Company_vision" });
    },
    onSelect: function(e) {
      var currentItemText = $(e.item.firstChild)
        .text()
        .trim();
      console.log(currentItemText + " clicked.");
    },
  }
};
</script>
       
<style scoped>

</style>