<template>
  <div class="OneToOne" align="center">
    <TopFrame></TopFrame>
    <Navi></Navi>
    <div class="container">
      <div class="onetoone_cont">
        
         <div class="lnb">
          <h5>고객센터<br/> <span>Customer Center</span></h5>
          <ul>
            <li  @click="notice">공지사항 </li>
            <li @click="faq">자주묻는 질문</li>
            <li class="active" @click="oneToOne">1:1 문의</li>
            <li @click="adInformation">광고문의</li>
          </ul>

        </div>
        <div class="lnb_content" id="scrollTop">
          <h5 class="sub_top_title">1:1 문의</h5>
          <b-row align="left">
            <b-col cols="3"></b-col>
            <b-col cols="2" class="col-text">문의유형:</b-col>
            <b-col cols="3">
              <b-form-group>
                <b-form-select v-model="q_type" :options="type_options" @input="getQuestions" required class="mb-1"></b-form-select>
              </b-form-group>
            </b-col>
          </b-row>
          <div v-if="detailFlag">
            <h4 align="left">작성자 정보</h4>
            <b-row align="left">
              <b-col cols="1">이름</b-col>
              <b-col cols="2"><span v-html="question.q_name"></span></b-col>
              <b-col cols="2"></b-col>
              <b-col cols="1">전화번호</b-col>
              <b-col cols="2"><span v-html="question.q_mobile"></span></b-col>
            </b-row>
            <br>
            <h4 align="left">문의 내용</h4>
            <b-row align="left">
              <b-col cols="1">제목</b-col>
              <b-col cols="5"><span v-html="question.q_subject"></span></b-col>
            </b-row>
            <b-row align="left">
              <b-col cols="1">내용</b-col>
              <b-col cols="5"><span v-html="question.q_content"></span></b-col>
            </b-row>
            <br>
            <h4 align="left">답변 내용</h4>
            <b-row align="left">
              <b-col cols="1">내용</b-col>
              <b-col cols="5"><span v-html="question.r_description"></span></b-col>
            </b-row>
            <b-row>
              <b-col cols="11"></b-col>
              <b-col cols="1">
                <b-btn size="sm" variant="info" @click="viewList">목록</b-btn>
              </b-col>
            </b-row>
            <br>
            <br>
          </div>
          <b-table
            show-empty
            stacked="sm"
            :items="questions"
            :fields="fields"
            :current-page="currentPage"
            :per-page="perPage"
            :filter="filter"
            :empty-text="emptyText"
            :empty-filtered-text="emptyFilteredText"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :sort-direction="sortDirection"
            @row-clicked="showDetail"
            v-scroll-to="'#scrollTop'"
          ></b-table>
       
            <div class="paging_cont">
              <b-pagination
                :total-rows="totalRows"
                :per-page="perPage"
                v-model="currentPage"
                class="my-0"
              />
              <b-input-group-append style="float:right">
                    <b-btn variant="outline-primary" @click="addQuestion">글쓰기</b-btn>
                  </b-input-group-append>
            </div>
            <div class="list_search_bottom">
                <b-input-group>
                  <b-form-input v-model="myQuestionMobile" placeholder="나의글 찾기::휴대폰 번호 뒤 8자리"/>
                  <b-input-group-append>
                    <b-btn variant="secondary" @click="serchMyQuestion">검색</b-btn>
                  </b-input-group-append>
                  &nbsp;&nbsp;&nbsp;
                  
                </b-input-group>
            </div>
          <b-modal ref="infoModal" hide-footer title="알림">
            <div class="d-block text-center">
              <h5>{{ infoMsg }}</h5>
            </div>
            <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
          </b-modal>
        </div>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import TopFrame from "./TopFrame";
import Navi from "./Navi";
import Footer from "./Footer";
import axios from "axios";
import VueRecaptcha from "vue-recaptcha"; //for I'm not a Robot

const Vue = require('vue');
const VueScrollTo = require('vue-scrollto');

export default {
  name: "OneToOne",
  components: {
    TopFrame,
    Navi,
    VueRecaptcha,
    Footer
  },
  data() {
    return {
      infoMsg: "",
      detailFlag: false,
      q_type: null,
      type_options: [
        { value: '전체', text: '전체' },
        { value: '회생문의', text: '회생문의' },
        { value: '제휴문의', text: '제휴문의' },
        { value: '광고문의', text: '광고문의' },
        { value: '공지사항문의', text: '공지사항문의' },
        { value: '기타문의', text: '기타문의' },
        { value: '건의사항', text: '건의사항' },
        { value: '신고하기', text: '신고하기' },
      ],
      myQuestionMobile: '',
      myQuestionFlag: false,
      question: {
        q_id: 0,
        q_subject: '',
        q_name: '',
        q_mobile: '',
        q_content: '',
        q_type: '',
        q_status: '',
        r_id: 0,
        r_description: '',
        r_date: '',
        r_creator: '',  
      },
      questions: [],
      fields: [
        { key: 'q_type', label: '질문유형', 'class': 'text-center' },
        { key: 'q_subject', label: '제목', 'class': 'text-center' },
        { key: 'q_name', label: '이름', 'class': 'text-center' },
        { key: 'date', label: '작성일', 'class': 'text-center' },
        { key: 'q_mobile', label: '전화번호', 'class': 'text-center' },
        { key: 'q_status', label: '답변상태', 'class': 'text-center' },
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      pageOptions: [ 10, 20, 30 ],
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      emptyText: '등록된 자료가 없습니다.',
      emptyFilteredText: '찾는 자료가 없습니다.'
    };
  },
  computed: {},
  methods: {
     notice() {
      this.$router.push({ path: "./notice" });
    },
     faq() {
      this.$router.push({ path: "./faq" });
    },
     oneToOne() {
      this.$router.push({ path: "./oneToOne" });
    },
     adInformation() {
      this.$router.push({ path: "./adInformation" });
    },
    showDetail(item) {
      if(!this.myQuestionFlag) {
        this.infoMsg = '본인 작성한 글이 아니면 내용을 볼 수 없습니다.';
        this.showModal();
      } else {
        this.detailFlag = true;
        this.question.q_id = item.q_id;
        this.question.q_subject = item.q_subject;
        this.question.q_name = item.q_name;
        this.question.q_mobile = item.q_mobile;
        this.question.q_content = item.q_content;
        this.question.q_type = item.q_type;
        this.question.q_status = item.q_status;
        this.question.r_id = item.r_id;
        this.question.r_description = item.r_description;
        this.question.r_date = item.r_date;
        this.question.r_creator = item.r_creator;
      }
    },
    viewList() {
      this.detailFlag = false;
      this.question.q_id = 0;
      this.question.q_subject = '';
      this.question.q_name = '';
      this.question.q_mobile = '';
      this.question.q_content = '';
      this.question.q_type = '';
      this.question.q_status = '';
      this.question.r_id = 0;
      this.question.r_description = '';
      this.question.r_date =  '';
      this.question.r_creator =  '';
      this.myQuestionMobile =  '';
      this.myQuestionFlag = false;
      this.getQuestions();
    },
    serchMyQuestion() {
      var data = new FormData();
      data.append("CRUD_mode", "searchMyQuestion");
      data.append("q_creator", this.myQuestionMobile);
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_question.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            if(response.data.questions.length !=0 ) {
              this.questions = [];
              this.questions = response.data.questions;
              for (var i = 0; i < this.questions.length; i++) {
                this.questions[i].q_name = this.questions[i].q_name.substr(0, 1) + "**";
                this.questions[i].q_mobile = this.questions[i].q_mobile.substr(0, 3) + "****" +this.questions[i].q_mobile.substr(7, 4);
              }
              this.totalRows = this.questions.length;
              this.myQuestionFlag = true;
            } else {
              this.infoMsg = '등록된 내용이 없읍니다. 휴대폰 번호 8자리를 확인해 주세요.';
              this.showModal();
            }
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },
    addQuestion() {
      this.$router.push({ path: "./AddQuestion" });
    },
    getQuestions() {
      this.detailFlag = false;
      this.questions = [];
      var data = new FormData();
      data.append('CRUD_mode', 'get');
      data.append('q_type', this.q_type);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_question.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.questions = response.data.questions;
          for (var i = 0; i < this.questions.length; i++) {
            this.questions[i].q_name = this.questions[i].q_name.substr(0, 1) + "**";
            this.questions[i].q_mobile = this.questions[i].q_mobile.substr(0, 3) + "****" +this.questions[i].q_mobile.substr(7, 4);
          }
          this.totalRows = this.questions.length;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },
    showModal() {
      this.$refs.infoModal.show();
    },
    hideModal() {
      this.$refs.infoModal.hide();
    },
  },

  mounted() {
    this.q_type = '전체';
    this.getQuestions();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.col-text {
  padding-top: 7px;
  padding-right: 0px;
  padding-left: 30px;
}
</style>