<template>
  <div class="Questions" align="center">
    <TopFrame></TopFrame>
    <Navi></Navi>
    <div class="container">
      <div class="question_cont"><h5 class="sub_top_title">질문과 답변 <span class="sub_navi">HOME > 질문과 답변</span></h5>
        <div v-if="createFlag">
          <b-form @submit="onSubmit" @reset="onReset" v-if="formShow">
            <b-row align="left">
              <b-col cols="2"></b-col>
              <b-col cols="2" class="col-text">제목:</b-col>
              <b-col cols="6">
                <b-form-group>
                  <b-form-input
                    v-if="!protectFlag"
                    type="text"
                    v-model="form.q_subject"
                    required
                    placeholder="제목을 입력하세요"
                  ></b-form-input>
                  <b-form-input v-if="protectFlag" type="text" v-model="form.q_subject" readonly></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row align="left">
              <b-col cols="2"></b-col>
              <b-col cols="2" class="col-text">이름:</b-col>
              <b-col cols="6">
                <b-form-group>
                  <b-form-input
                    v-if="!protectFlag"
                    type="text"
                    v-model="form.q_name"
                    required
                    placeholder="이름을 입력하세요."
                  ></b-form-input>
                  <b-form-input v-if="protectFlag" type="text" v-model="form.q_name" readonly></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row align="left">
              <b-col cols="2"></b-col>
              <b-col cols="2" class="col-text">휴대폰번호:</b-col>
              <b-col cols="1">
                <b-form-group>
                  <b-form-input
                    v-if="!protectFlag"
                    type="text"
                    v-model="mobile.first"
                    required
                    placeholder="010"
                  ></b-form-input>
                  <b-form-input v-if="protectFlag" type="text" v-model="mobile.first" readonly></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="1">
                <b-form-group>
                  <b-form-input
                    v-if="!protectFlag"
                    type="text"
                    v-model="mobile.second"
                    required
                    placeholder="1234"
                  ></b-form-input>
                  <b-form-input v-if="protectFlag" type="text" v-model="mobile.second" readonly></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="1">
                <b-form-group>
                  <b-form-input
                    v-if="!protectFlag"
                    type="text"
                    v-model="mobile.third"
                    required
                    placeholder="5678"
                  ></b-form-input>
                  <b-form-input v-if="protectFlag" type="text" v-model="mobile.third" readonly></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="2" v-if="!protectFlag">
                <b-btn variant="outline-danger" @click="authCall">인증번호받기</b-btn>
              </b-col>
            </b-row>
            <b-row align="left" v-if="!protectFlag">
              <b-col cols="2"></b-col>
              <b-col cols="2" class="col-text">인증번호:</b-col>
              <b-col cols="4">
                <b-form-group>
                  <b-form-input
                    type="text"
                    v-model="form.q_mobile_certi_number"
                    required
                    placeholder="인증번호를 입력해 주세요."
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="2">
                <b-btn variant="outline-danger" @click="authConfirm">확인</b-btn>
              </b-col>
            </b-row>
            <b-row align="left" v-if="!protectFlag">
              <b-col cols="2"></b-col>
              <b-col cols="2" class="col-text">비밀번호:</b-col>
              <b-col cols="4">
                <b-form-group>
                  <b-form-input
                    type="password"
                    v-model="form.q_password"
                    required
                    placeholder="글 삭제시 필요합니다."
                  ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row align="left">
              <b-col cols="2"></b-col>
              <b-col cols="2" class="col-text">문의내용:</b-col>
              <b-col cols="6">
                <wysiwyg
                  v-if="!protectFlag"
                  v-model="form.q_content"
                  required
                  placeholder="내용을 입력하세요"
                />
                <wysiwyg v-if="protectFlag" v-model="form.q_content" readonly/>
              </b-col>
            </b-row>
            <br>
            <b-row>
              <b-col cols="3"></b-col>
              <b-col cols="7">
                <vue-recaptcha
                  ref="invisibleRecaptcha"
                  @verify="onVerify"
                  @expired="onExpired"
                  size="invisible"
                  :sitekey="recaptcha_sitekey"
                ></vue-recaptcha>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="8"></b-col>
              <b-col cols="4" align="left">
                <b-form-checkbox
                  id="checkbox4"
                  v-model="form.q_allAgree"
                  value="O"
                  unchecked-value="X"
                  @change="toggleAllAgree"
                >전체동의</b-form-checkbox>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="1"></b-col>
              <b-col cols="2" align="right">개인정보 수집 및 이용동의</b-col>
              <b-col cols="1">
                <b-btn size="sm" variant="outline-primary" @click="openTermsModal('개인정보 수집')">전문보기</b-btn>
              </b-col>
              <b-col cols="4"></b-col>
              <b-col cols="4" align="left">
                <b-form-checkbox
                  id="checkbox1"
                  v-model="form.q_terms"
                  value="O"
                  unchecked-value="X"
                >(필수)개인정보 수집 및 이용에 동의합니다.</b-form-checkbox>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="1"></b-col>
              <b-col cols="2" align="right">개인정보 제3자 제공 동의</b-col>
              <b-col cols="1">
                <b-btn
                  size="sm"
                  variant="outline-primary"
                  @click="openTermsModal('개인정보 제3자 제공')"
                >전문보기</b-btn>
              </b-col>
              <b-col cols="4"></b-col>
              <b-col cols="4" align="left">
                <b-form-checkbox
                  id="checkbox2"
                  v-model="form.q_offer"
                  value="O"
                  unchecked-value="X"
                >(필수)개인정보 제3자 제공에 동의합니다.</b-form-checkbox>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="1"></b-col>
              <b-col cols="2" align="right">마케팅 수신 동의</b-col>
              <b-col cols="1">
                <b-btn size="sm" variant="outline-primary" @click="openTermsModal('마케팅 수신')">전문보기</b-btn>
              </b-col>
              <b-col cols="4"></b-col>
              <b-col cols="4" align="left">
                <b-form-checkbox
                  id="checkbox3"
                  v-model="form.q_marketing"
                  value="O"
                  unchecked-value="X"
                >(선택)마케팅 수신에 동의합니다.</b-form-checkbox>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="3"></b-col>
              <b-col cols="6" align="center">
                <b-btn type="reset" size="sm" variant="dark">취소</b-btn>
                <b-btn v-if="createFlag && !deleteFlag" type="submit" size="sm" variant="primary">등록</b-btn>
                <b-btn
                  v-if="createFlag && deleteFlag"
                  size="sm"
                  variant="danger"
                  @click="onDelete"
                >삭제</b-btn>
              </b-col>
            </b-row>
          </b-form>
        </div>
        <div v-if="!createFlag">
          <b-table
            show-empty
            :fields="fields"
            :items="questions"
            :current-page="currentPage"
            :per-page="perPage"
            :filter="filter"
            :empty-text="emptyText"
            :empty-filtered-text="emptyFilteredText"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :sort-direction="sortDirection"
            @row-clicked="read_item"
          >
            <template slot="q_status" slot-scope="row">
              <b-btn
                v-if="row.item.q_status == '답변완료'"
                disabled
                size="sm"
                variant="outline-primary"
                class="mr-1"
              >{{row.item.q_status}}</b-btn>
              <b-btn
                v-if="row.item.q_status == '응답대기'"
                disabled
                size="sm"
                variant="outline-secondary"
                class="mr-1"
              >{{row.item.q_status}}</b-btn>
            </template>
          </b-table>
          <b-row>
            <b-col cols="2"></b-col>
            <b-col cols="4">
              <b-form-group horizontal>
                <b-input-group>
                  <b-form-input v-model="filter" placeholder="찾을 내용을 입력하세요"/>
                  <b-input-group-append>
                    <b-btn :disabled="!filter" @click="filter = ''">지우기</b-btn>
                  </b-input-group-append>
                </b-input-group>
              </b-form-group>
            </b-col>
            <b-col cols="3">
              <b-pagination
                :total-rows="totalRows"
                :per-page="perPage"
                v-model="currentPage"
                class="my-0"
              />
            </b-col>
            <b-col cols="2">
              <b-btn size="sm" variant="danger" @click="onCreate">글쓰기</b-btn>
            </b-col>
          </b-row>
        </div>
        <b-modal ref="infoModal" hide-footer title="알림">
          <div class="d-block text-center">
            <h5>{{ infoMsg }}</h5>
          </div>
          <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
        </b-modal>

        <b-modal ref="deleteConfirmModal" hide-footer title="경고">
          <div class="d-block text-center">
            <h5>{{ confirmMsg }}</h5>
          </div>
          <b-btn size="md" class="float-left" variant="outline-secondary" @click="confirmCancel">취소</b-btn>
          <b-btn size="md" class="float-right" variant="outline-danger" @click="confirmDelete">삭제</b-btn>
        </b-modal>
        <b-modal
          v-model="passwordModalShow"
          title="내가 올린 질문 확인하기"
          no-close-on-esc
          no-close-on-backdrop
          hide-header-close
        >
          <b-container fluid>
            <b-row class="mb-2"></b-row>
            <b-row class="mb-2">
              <b-col cols="3" class="col-text">이름</b-col>
              <b-col>
                <b-form-group>
                  <b-form-input type="text" v-model="q_name" required placeholder="아이디를 입력하세요."></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row class="mb-2">
              <b-col cols="3" class="col-text">글 비밀번호</b-col>
              <b-col>
                <b-form-group>
                  <b-form-input
                    type="password"
                    v-model="q_password"
                    required
                    placeholder="글 비밀번호를 입력하세요."
                  ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row class="mb-2">
              <b-col cols="3"></b-col>
              <b-col>
                <p>{{ passwordModalMessage }}</p>
              </b-col>
            </b-row>
          </b-container>
          <div slot="modal-footer" class="w-100">
            <b-btn size="md" class="float-left" variant="outline-primary" @click="cancelPassword">취소</b-btn>
            <b-btn size="md" class="float-right" variant="primary" @click="confirmPassword">확인</b-btn>
          </div>
        </b-modal>
        <b-modal ref="termsModal" hide-footer title="알림">
          <div>
            <p>
              <span v-html="termsDoc"></span>
            </p>
          </div>
          <b-btn class="mt-3" variant="outline-primary" @click="hideTermsModal">닫기</b-btn>
        </b-modal>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import TopFrame from "./TopFrame";
import Navi from "./Navi";
import Footer from "./Footer";
import axios from "axios";
import VueRecaptcha from "vue-recaptcha"; //for I'm not a Robot

export default {
  name: "Questions",
  components: {
    TopFrame,
    Navi,
    Footer,
    VueRecaptcha
  },
  data() {
    return {
      recaptcha_sitekey: "6LcZuYIUAAAAAMSPFY_82YwVdPFCQJx--zixgjOM",
      infoMsg: "",
      confirmMsg: "",
      termsDoc: "",
      selected_q_id: "",
      formShow: true,
      createFlag: false,
      deleteFlag: false,
      protectFlag: false,
      mobile: {
        first: "",
        second: "",
        third: ""
      },
      form: {
        q_id: 0,
        q_subject: "",
        q_name: "",
        q_password: "",
        q_mobile: "",
        q_mobile_certi_number: "",
        q_content: "",
        q_type: "",
        q_terms: "", //이용약관
        q_offer: "", //개인정보 제3자 제공
        q_marketing: "", //마케팅 정보수신
        q_allAgree: "", //전체 동의
        q_status: "",
        q_creator: ""
      },
      q_name: "",
      q_password: "",
      passwordModalShow: false,
      passwordModalMessage: "",
      questions: [],
      fields: [
        { key: "q_id", label: "번호", class: "text-center" },
        { key: "q_subject", label: "제목", class: "text-center" },
        { key: "q_name", label: "이름", class: "text-center" },
        { key: "q_mobile", label: "전화번호", class: "text-center" },
        { key: "q_type", label: "질문유형", class: "text-center" },
        { key: "q_status", label: "답변상태", class: "text-center" },
        { key: "date", label: "작성일", class: "text-center" }
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      pageOptions: [10, 20, 30],
      sortBy: null,
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      emptyText: "등록된 자료가 없습니다.",
      emptyFilteredText: "찾는 자료가 없습니다."
    };
  },
  computed: {},
  methods: {
    toggleAllAgree(checked) {
      this.form.q_terms = "O"; //이용약관
      this.form.q_offer = "O"; //개인정보 제3자 제공
      this.form.q_marketing = "O"; //마케팅 정보수신
    },
    openTermsModal(subject) {
      for (let i = 0; i < this.terms.length; i++) {
        if (this.terms[i].t_subject == subject) {
          this.termsDoc = this.terms[i].t_content;
        }
      }
      this.$refs.termsModal.show();
    },
    onCreate() {
      this.createFlag = !this.createFlag;
    },
    authConfirm() {},
    authCall() {},
    onSubmit(evt) {
      evt.preventDefault();
      this.$refs.invisibleRecaptcha.execute(); //for <vue-recaptcha>

      // alert(JSON.stringify(this.form));
      if (this.form.q_content == "") {
        this.infoMsg = "내용을 입력하세요.";
        this.showModal();
        return;
      } else if (this.form.q_terms != "O" || this.form.q_offer != "O") {
        this.infoMsg = "이용약관/개인정보처리방침에 동의해야 합니다.";
        this.showModal();
        return;
      }
      this.form.q_creator = this.form.q_name;
      this.form.q_mobile =
        this.mobile.first + "-" + this.mobile.second + "-" + this.mobile.third;
      this.form.q_status = "응답대기"; //'응답대기'

      var data = new FormData();
      data.append("CRUD_mode", "create");
      data.append("q_subject", this.form.q_subject);
      data.append("q_name", this.form.q_name);
      data.append("q_password", this.form.q_password);
      data.append("q_mobile", this.form.q_mobile);
      data.append("q_mobile_certi_number", this.form.q_mobile_certi_number);
      data.append("q_content", this.form.q_content);
      data.append("q_type", "회생문의");
      data.append("q_terms", this.form.q_terms);
      data.append("q_offer", this.form.q_offer);
      data.append("q_marketing", this.form.q_marketing);
      data.append("q_status", this.form.q_status);
      data.append("q_creator", this.form.q_creator);
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_question.php", data)
        .then(response => {
          this.infoMsg = response.data.msg;
          if (response.data.result) {
            this.getQuestions();
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
      this.showModal();
      this.onReset();
    },

    onReset() {
      this.form.q_id = 0;
      this.form.q_subject = "";
      this.form.q_name = "";
      this.form.q_password = "";
      this.form.q_mobile = "";
      this.form.q_mobile_certi_number = "";
      this.form.q_content = "";
      this.form.q_type = "";
      this.form.q_terms = "";
      this.form.q_offer = "";
      this.form.q_marketing = "";
      this.form.q_status = "";
      this.form.q_creator = "";
      this.formShow = false;
      this.$nextTick(() => {
        this.formShow = true;
      });
      this.deleteFlag = false;
      this.createFlag = false;
    },

    read_item(item) {
      // alert(JSON.stringify(item, null, 2));
      this.selected_q_id = item.q_id;
      this.passwordModalShow = true;
    },

    cancelPassword() {
      this.passwordModalShow = false;
      this.$router.push({ path: "/Questions" });
    },

    confirmPassword() {
      var data = new FormData();
      data.append("CRUD_mode", "check_password");
      data.append("q_id", this.selected_q_id);
      data.append("q_name", this.q_name);
      data.append("q_password", this.q_password);
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_question.php", data)
        .then(response => {
          if (!response.data.result) {
            this.passwordModalMessage = response.data.msg;
          } else {
            this.form.q_id = response.data.question.q_id;
            this.form.q_subject = response.data.question.q_subject;
            this.form.q_name = response.data.question.q_name;
            this.form.q_mobile = response.data.question.q_mobile;
            let strArray = response.data.question.q_mobile.split("-");
            this.mobile.first = strArray[0];
            this.mobile.second = strArray[1];
            this.mobile.third = strArray[2];
            this.form.q_mobile_certi_number =
              response.data.question.q_mobile_certi_number;
            this.form.q_content = response.data.question.q_content;
            this.form.q_type = response.data.question.q_type;
            this.form.q_terms = response.data.question.q_terms;
            this.form.q_offer = response.data.question.q_offer;
            this.form.q_marketing = response.data.question.q_marketing;
            this.form.q_status = response.data.question.q_status;
            this.form.q_creator = response.data.question.q_creator;
            this.form.date = response.data.question.date;
            this.deleteFlag = true;
            this.createFlag = true;
            this.protectFlag = true;
            this.passwordModalShow = false;
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },

    onDelete() {
      console.log("-----> click onDelete");
      this.confirmMsg = "정말 삭제하시겠습니까?";
      this.$refs.deleteConfirmModal.show();
    },

    confirmDelete() {
      this.$refs.deleteConfirmModal.hide();
      var data = new FormData();
      data.append("CRUD_mode", "delete");
      data.append("q_id", this.selected_q_id);
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_question.php", data)
        .then(response => {
          this.getQuestions();
          this.infoMsg = response.data.msg;
        })
        .catch(error => {
          console.log(error);
        })
        .finally(() => (this.loading = false));
      this.showModal();
      this.onReset();
    },

    confirmCancel() {
      //alert('Selected --------> confirmCancel()');
      this.$refs.deleteConfirmModal.hide();
    },
    getTerms() {
      this.terms = [];
      var data = new FormData();
      data.append("CRUD_mode", "get");
      data.append("t_type", "개인");
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_term.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            this.terms = response.data.terms;
            this.getQuestions();
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },
    getQuestions() {
      this.questions = [];
      var data = new FormData();
      data.append("CRUD_mode", "get");
      data.append("q_type", "회생문의");
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_question.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            this.questions = response.data.questions;
            for (var i = 0; i < this.questions.length; i++) {
              let strArray = this.questions[i].q_mobile.split("-");
              this.questions[i].q_mobile = strArray[0] + "-****-" + strArray[2];
              this.questions[i].q_name =
                this.questions[i].q_name.substring(0, 1) + "**";
            }
            this.totalRows = this.questions.length;
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },

    showModal() {
      this.$refs.infoModal.show();
    },
    hideModal() {
      this.$refs.infoModal.hide();
    },
    hideTermsModal() {
      this.$refs.termsModal.hide();
    },
    //for <vue-recaptcha> onSubmit, onVerify, onExpired</vue-recaptcha>
    onVerify: function(response) {
      console.log("Verify: " + response);
    },
    onExpired: function() {
      console.log("Expired");
    }
  },

  mounted() {
    this.onReset();
    this.getTerms();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.col-text {
  padding-top: 7px;
  padding-right: 0px;
  padding-left: 30px;
}
</style>