<template>
  <div class="RealTimeConsult" align="center">
    <TopFrame></TopFrame>
    <Navi></Navi>
    <div class="container">
      <div class="consult_cont">
        <div class="area_search_btn">
          <b-btn v-for="(area, key) in areas" :key="key" size="sm" :pressed.sync="area.state" :variant="area.variant" 
            @click="selectLocation(area.value)" style="margin-left: 2px;" >{{area.text}}</b-btn>
        </div>
        <b-row align="left">
          <b-col cols="2"></b-col>
          <b-col>
            <b-btn
              v-for="(division, key) in divisions" :key="key" size="sm" :pressed.sync="division.state" :variant="division.variant"
              @click="selectDivision(division.value)" style="margin-left: 2px;"
            >{{division.text}}</b-btn>
          </b-col>
        </b-row>
        <div class="search_btn">
          <b-btn variant="info" @click="getConsults">검색하기</b-btn>
        </div>
        <div id="scrollTop"></div>
        <div v-if="detailFlag">
          <h4 align="left">작성자 정보</h4>
          <b-row align="left">
            <b-col cols="1">지역</b-col>
            <b-col cols="2"><span v-html="consult.cr_area"></span></b-col>
            <b-col cols="2"></b-col>
            <b-col cols="1">전화번호</b-col>
            <b-col cols="2"><span v-html="consult.cr_mobile"></span></b-col>
          </b-row>
          <b-row align="left">
            <b-col cols="1">연령대</b-col>
            <b-col cols="2"><span v-html="consult.cr_age"></span></b-col>
            <b-col cols="2"></b-col>
            <b-col cols="1">상담분류</b-col>
            <b-col cols="2"><span v-html="consult.cr_division"></span></b-col>
          </b-row>
          <b-row align="left">
            <b-col cols="1">성별</b-col>
            <b-col cols="2"><span v-html="consult.cr_sex"></span></b-col>
            <b-col cols="2"></b-col>
            <b-col cols="1">작성일</b-col>
            <b-col cols="2"><span v-html="consult.date"></span></b-col>
          </b-row>
          <br>
          <h4 align="left">문의 내용</h4>
          <b-row align="left">
            <b-col cols="1">제목</b-col>
            <b-col cols="5"><span v-html="consult.cr_subject"></span></b-col>
          </b-row>
          <b-row align="left">
            <b-col cols="1">내용</b-col>
            <b-col cols="5"><span v-html="consult.cr_content"></span></b-col>
          </b-row>
          <b-row>
            <b-col cols="11"></b-col>
            <b-col cols="1">
              <b-btn size="sm" variant="info" @click="viewList">목록</b-btn>
            </b-col>
          </b-row>
          <br>
          <div class="main_basic">
            <ul v-if="$store.state.legalOfficeData.lo_status == '3'">
              <li v-for="(cr, key) in consultResponses" :key="key" @click="tryConsultResponse">
                <p class="com_img">
                   <img v-bind:src="cr.lo_main_img" alt="img" style="width:100%; ">
                </p>
                <p class="com_main_info">
                  <span>{{cr.lo_company_name}}</span>
                  <br><span class="main_com_text" v-html="cr.lo_phone"></span>
                </p>
              </li>
           
            </ul>
          </div>
          <br>
        </div>
        <b-table
          show-empty
          stacked="sm"
          :items="consults"
          :fields="fields"
          :current-page="currentPage"
          :per-page="perPage"
          :filter="filter"
          :empty-text="emptyText"
          :empty-filtered-text="emptyFilteredText"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :sort-direction="sortDirection"
          @row-clicked="showDetail"
          v-scroll-to="'#scrollTop'"
        ></b-table>
        <b-row>
          <b-col cols="3"></b-col>
          <b-col cols="2">
            <b-pagination
              :total-rows="totalRows"
              :per-page="perPage"
              v-model="currentPage"
              class="my-0"
            />
          </b-col>
          <b-col cols="3">
            <b-form-group>
              <b-input-group>
                <b-form-input v-model="myConsultMobile" placeholder="나의글 찾기::휴대폰 번호 뒤 8자리"/>
                <b-input-group-append>
                  <b-btn variant="secondary" @click="serchMyConsult">검색</b-btn>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>
          <b-col cols="1">
            <b-btn variant="outline-primary" @click="addConsult">글쓰기</b-btn>
          </b-col>
        </b-row>
        <b-modal ref="infoModal" hide-footer title="알림">
          <div class="d-block text-center">
            <h5>{{ infoMsg }}</h5>
          </div>
          <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
        </b-modal>
        <b-modal ref="confirmModal" hide-footer title="알림">
          <div class="d-block text-center">
            <h5>{{ confirmMsg }}</h5>
          </div>
          <b-btn size="md" class="float-left" variant="outline-secondary" @click="cancel">취소</b-btn>
          <b-btn size="md" class="float-right" variant="outline-primary" @click="confirm">가입 2단계</b-btn>
        </b-modal>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import TopFrame from "./TopFrame";
import Navi from "./Navi";
import axios from "axios";
import Footer from "./Footer";

const Vue = require('vue');
const VueScrollTo = require('vue-scrollto');

export default {
  components: {
    TopFrame,
    Navi,
    Footer
  },
  name: "RealTimeConsult",
  data() {
    return {
      infoMsg: "",
      confirmMsg: "",
      selectDivision_param: [],
      divisions: [
        { value: "전체", text: "전체", variant: "outline-secondary", state: false },
        { value: "개인회생", text: "개인회생", variant: "outline-secondary", state: false },
        { value: "개인파산", text: "개인파산", variant: "outline-secondary", state: false }
      ],
      selectArea_param: [],
      areas: [
        { value: "전체", text: "전체", variant: "outline-secondary", state: false },
        { value: "서울", text: "서울", variant: "outline-secondary", state: false },
        { value: "인천", text: "인천", variant: "outline-secondary", state: false },
        { value: "부산", text: "부산", variant: "outline-secondary", state: false },
        { value: "대전", text: "대전", variant: "outline-secondary", state: false },
        { value: "울산", text: "울산", variant: "outline-secondary", state: false },
        { value: "대구", text: "대구", variant: "outline-secondary", state: false },
        { value: "광주", text: "광주", variant: "outline-secondary", state: false },
        { value: "세종", text: "세종", variant: "outline-secondary", state: false },
        { value: "경기", text: "경기", variant: "outline-secondary", state: false },
        { value: "강원", text: "강원", variant: "outline-secondary", state: false },
        { value: "충북", text: "충북", variant: "outline-secondary", state: false },
        { value: "충남", text: "충남", variant: "outline-secondary", state: false },
        { value: "경북", text: "경북", variant: "outline-secondary", state: false },
        { value: "경남", text: "경남", variant: "outline-secondary", state: false },
        { value: "전북", text: "전북", variant: "outline-secondary", state: false },
        { value: "전남", text: "전남", variant: "outline-secondary", state: false },
        { value: "제주", text: "제주", variant: "outline-secondary", state: false }
      ],
      myConsult: {
        flag: false,
        mobile: '',
      },
      consults: [],
      fields: [
        { key: 'cr_id', label: 'SEQ', 'class': 'text-center' },
        { key: 'cr_division', label: '분류', 'class': 'text-center', sortable: true, sortDirection: 'desc' },
        { key: 'cr_subject', label: '제목', 'class': 'text-center' },
        { key: 'cr_area', label: '지역', 'class': 'text-center' },
        { key: 'cr_mobile', label: '전화번호', 'class': 'text-center' },
        { key: 'date', label: '작성일', 'class': 'text-center' },
        { key: 'cr_view_count', label: '조회수', 'class': 'text-center' }
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      pageOptions: [10, 20, 30],
      sortBy: null,
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      emptyText: "등록된 자료가 없습니다.",
      emptyFilteredText: "찾는 자료가 없습니다.",
      detailFlag: false,
      myConsultMobile: "",
      consult: {
        cr_id: 0,
        cr_name: "",
        cr_area: "",
        cr_division: "",
        cr_sex: "",
        cr_age: "",
        cr_subject: "",
        cr_content: "",
        date: ""
      },
      consultResponses: [],
    };
  },
  methods: {
    selectLocation(area) {
      if (area == "전체") {
        for (var i = 1; i < this.areas.length; i++) {
          this.areas[i].state = false;
          this.selectArea_param = [];
        }
        this.selectArea_param.push(area);
        //alert(JSON.stringify(this.selectArea_param));
      } else {
        for (var i = this.selectArea_param.length - 1; i >= 0; i--) {
          if (this.selectArea_param[i] == area) {
            this.selectArea_param.splice(i, 1);
            return;
          }
        }
        for (var i = 0; i < this.selectArea_param.length; i++) {
          if (this.selectArea_param[i] == "전체") {
            this.areas[i].state = false;
            this.selectArea_param = [];
          }
        }
        this.selectArea_param.push(area);
        //alert(JSON.stringify(this.selectArea_param));
      }
    },
    selectDivision(division) {
      //alert(JSON.stringify(division));
      if (division == "전체") {
        for (var i = 1; i < this.divisions.length; i++) {
          this.divisions[i].state = false;
          this.selectDivision_param = [];
        }
        this.selectDivision_param.push(division);
      } else {
        for (var i = this.selectDivision_param.length - 1; i >= 0; i--) {
          if (this.selectDivision_param[i] == division) {
            this.selectDivision_param.splice(i, 1);
            return;
          }
        }
        for (var i = 0; i < this.selectDivision_param.length; i++) {
          if (this.selectDivision_param[i] == "전체") {
            this.divisions[i].state = false;
            this.selectDivision_param = [];
          }
        }
        this.selectDivision_param.push(division);
      }
    },

    addConsult() {
      this.$router.push({ path: "./AddConsult" });
    },

    serchMyConsult() {
      var data = new FormData();
      data.append("CRUD_mode", "searchMyConsult");
      data.append("cr_creator", this.myConsultMobile);
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_consult.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            if(response.data.consults.length !=0 ) {
              this.consults = [];
              this.consults = response.data.consults; 
              for (var i = 0; i < this.consults.length; i++) {
                this.consults[i].cr_mobile = this.consults[i].cr_mobile.substr(0, 3) + "****" +this.consults[i].cr_mobile.substr(7, 4);
              }
              this.totalRows = this.consults.length;
              this.myConsult.mobile = this.myConsultMobile;
              this.myConsult.flag = true;
            } else {
              this.infoMsg = '등록된 내용이 없읍니다. 휴대폰 번호 8자리를 확인해 주세요.';
              this.showModal();
            }
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },

    showDetail(item) {
      this.detailFlag = true;
      this.consult.cr_id = item.cr_id;
      this.getConsultResponse();
      var data = new FormData();
      data.append("CRUD_mode", "read");
      data.append("cr_id", this.consult.cr_id);
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_consult.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            if(this.$store.state.legalOfficeData.lo_status == '3' || this.myConsult.flag) {
              this.consult.cr_mobile = response.data.consult.cr_mobile;
            } else {
              this.consult.cr_mobile = response.data.consult.cr_mobile.substr(0, 3) + "-****-"+ response.data.consult.cr_mobile.substr(7, 4);
              if(this.$store.state.legalOfficeData.lo_status == '2') {
                /*
                this.consult.cr_subject = response.data.consult.cr_subject;
                this.consult.cr_content = response.data.consult.cr_content;
                this.consult.cr_subject = '***************************';
                this.consult.cr_content = '***************************';
                */
                this.infoMsg = "광고료 결재 확인 진행중 입니다.";
                this.showModal();
              }
            }
            if (response.data.consult.cr_sex == "M") {
              this.consult.cr_sex = "남성";
            } else {
              this.consult.cr_sex = "여성";
            }

            this.consult.cr_subject = response.data.consult.cr_subject;
            this.consult.cr_content = response.data.consult.cr_content;
            this.consult.cr_age = response.data.consult.cr_age + " " + "대";
            this.consult.cr_division = response.data.consult.cr_division;
            this.consult.cr_area = response.data.consult.cr_area;
            this.consult.date = response.data.consult.date;
            this.consult.cr_id = response.data.consult.cr_id;
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },

    tryConsultResponse() {
      var data = new FormData();
      data.append("CRUD_mode", "create");
      data.append("consult_cr_id", this.consult.cr_id);
      data.append("rlo_lo_id", this.$store.state.legalOfficeData.lo_id);
      data.append("rlo_response_creator", this.$store.state.legalOfficeData.lo_email);
      data.append("rlo_response_success", 'O');
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_consultResponse.php", data)
        .then(response => {
           if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            this.getConsultResponse();
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },

    getConsultResponse() {
      this.consultResponses = [];
      var data = new FormData();
      data.append("CRUD_mode", "get");
      data.append("consult_cr_id", this.consult.cr_id);
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_consultResponse.php", data)
        .then(response => {
           this.consultResponses = response.data.consultResponses;
           for (var i = 0; i < this.consultResponses.length; i++) {
             if(this.consultResponses[i].rlo_response_success == 'X') {
                this.consultResponses[i].lo_main_img = this.$store.state.ImageUrl + 'logo.png';
                this.consultResponses[i].lo_company_name = '회생상담 가능업체는 이미지를 눌러주세요.';
                this.consultResponses[i].lo_phone = '';
             } else {
               this.consultResponses[i].lo_main_img = this.$store.state.lawketImageUrl + "customer_image/" 
                  + this.consultResponses[i].lo_company_name + "/" + this.consultResponses[i].lo_main_img;
             }
           }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },

    getConsults() {
      this.detailFlag = false;
      this.consults = [];
      var data = new FormData();
      data.append("CRUD_mode", "search");
      data.append("selectedDivision", this.selectDivision_param.toString());
      data.append("selectedArea", this.selectArea_param.toString());
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_consult.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            this.consults = response.data.consults;
            for (var i = 0; i < this.consults.length; i++) {
              this.consults[i].cr_mobile = this.consults[i].cr_mobile.substr(0, 3) + "****" +this.consults[i].cr_mobile.substr(7, 4);
            }
            this.totalRows = this.consults.length;
            if(this.$store.state.eachData.consultData != '') {
              this.showDetail(this.$store.state.eachData.consultData);
              this.$store.state.eachData.consultData = '';
            }
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },

    cancel() {
      this.$refs.confirmModal.hide();
      this.$router.push({ path: "./" });
    },
    confirm() {
      this.$refs.confirmModal.hide();
      this.$router.push({ path: "./CreateCustomerStep2" });
    },
    viewList() {
      this.detailFlag = false;
      this.consult.cr_area = "";
      this.consult.cr_division = "";
      this.consult.cr_sex = "";
      this.consult.cr_age = "";
      this.consult.cr_subject = "";
      this.consult.cr_content = "";
      this.consult.date = "";
    },

    showModal() {
      this.$refs.infoModal.show();
    },
    hideModal() {
      this.$refs.infoModal.hide();
    }
  },
  mounted() {
    this.selectDivision_param.push("전체");
    this.selectArea_param.push("전체");
    this.getConsults();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
