<template>
  <div class="request-ad" align="center">
    <TopFrame></TopFrame>
    <Navi></Navi>
    <b-container fluid>
      <b-form @submit="onSubmit" @reset="onReset" v-if="formShow">
        <br>        
        <b-row align="left">
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">광고 종류</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-select v-if="!paymentFlag" v-model="form.ah_at_type" :options="type_options" @change.native="onTypeChange" required></b-form-select>
            </b-form-group>
          </b-col>
        </b-row>
        <br> 
        <b-row v-if="form.ah_at_type != null" align="left">
          <b-col cols="2"></b-col>
          <b-col cols="5">
            <span v-html="form.at_desc"></span>
            <br>
            <span v-html="form.at_location_desc"></span>
          </b-col>
          <b-col cols="3">
            <img v-if="form.at_location_image != ''" :src="form.at_location_image" style="height: 200px; width:300px;"/>
          </b-col>
        </b-row>
        <br>
        <b-row align="left">
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">광고료</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input v-model="ah_Amount" readonly></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row align="left">
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">적용일수</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input v-model="ah_BasedDays" readonly></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row align="left">
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">상담참여횟수</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input v-model="ah_ApplyCount" readonly></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <br>
        <b-row align="left">
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">광고분야</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-checkbox-group v-if="!paymentFlag" id="checkbox" v-model="form.ah_ad_division" @input="onDivisionChange">
                <b-form-checkbox v-for="(division, key) in adDivisions" :key="key" :value="division.value" required>{{division.text}}</b-form-checkbox>
              </b-form-checkbox-group>
              <b-form-checkbox-group v-if="paymentFlag" id="checkbox" v-model="form.ah_ad_division" disabled>
                <b-form-checkbox v-for="(division, key) in adDivisions" :key="key" :value="division.value">{{division.text}}</b-form-checkbox>
              </b-form-checkbox-group>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row align="left">
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">광고지역</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-checkbox-group v-if="!paymentFlag" id="checkbox" v-model="form.ah_ad_area" @input="onAreaChange">
                <b-form-checkbox v-for="(area, key) in adAreas" :key="key" :value="area.value" required>{{area.text}}</b-form-checkbox>
              </b-form-checkbox-group>
              <b-form-checkbox-group v-if="paymentFlag" id="checkbox" v-model="form.ah_ad_area" disabled>
                <b-form-checkbox v-for="(area, key) in adAreas" :key="key" :value="area.value">{{area.text}}</b-form-checkbox>
              </b-form-checkbox-group>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row align="left">
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">광고타이틀(한글 15자 이내)</b-col>
          <b-col cols="6">
            <b-form-input type="text" v-model="form.lo_title" required placeholder="광고 타이틀을 입력하세요"></b-form-input>
          </b-col>
        </b-row>
        <br>
        <b-row align="left">
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">핵심서비스(3줄 광고노출)</b-col>
          <b-col cols="6">
            <b-form-textarea type="text" v-model="form.lo_core_business" required placeholder="핵심사업 내용을 입력하세요(3줄)" rows="3" max-rows="3"></b-form-textarea>
          </b-col>
        </b-row>
        <br>
        <b-row align="left">
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">고객서비스 내용</b-col>
          <b-col cols="6">
            <wysiwyg v-model="form.lo_description" required placeholder="서비스 내용을 입력하세요"/>
          </b-col>
        </b-row>
        <br> 
        <b-row align="left">
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">광고신청일자</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input v-if="!paymentFlag" type="date" v-model="form.ah_occur_date"></b-form-input>
              <b-form-input v-if="paymentFlag" type="date" v-model="form.ah_occur_date" readonly></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row align="left">
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">광고개시일자</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input v-if="!paymentFlag" type="date" v-model="form.ah_start_date" @change="changeStartDate"></b-form-input>
              <b-form-input v-if="paymentFlag" type="date" v-model="form.ah_start_date" readonly></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row v-if="ah_end_dateFlag" align="left">
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">광고종료일자</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="date" v-model="form.ah_end_date" readonly></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <br>
        <b-row align="left">
          <b-col cols="3"></b-col>
          <b-col cols="6" align="center">
            <b-btn type="reset" size="sm" variant="dark">취소</b-btn>
            <b-btn v-if="!protectFlag" type="submit" size="sm" variant="primary">등록</b-btn>
            <b-btn v-if="protectFlag" size="sm" variant="warning" @click="onUpdate">수정</b-btn>
            <b-btn v-if="protectFlag" size="sm" variant="danger" @click="onDelete">삭제</b-btn>
            <b-btn v-if="protectFlag" size="sm" variant="success" @click="onPayment">결제</b-btn>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="3"></b-col>
          <b-col cols="7">
            <vue-recaptcha
              ref="invisibleRecaptcha"
              @verify="onVerify"
              @expired="onExpired"
              size="invisible"
              :sitekey="recaptcha_sitekey"
            ></vue-recaptcha>
          </b-col>
        </b-row>
      </b-form>

      <b-modal ref="infoModal" hide-footer title="알림">
        <div class="d-block text-center">
          <h5>{{ infoMsg }}</h5>
        </div>
        <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
      </b-modal>

      <b-modal ref="deleteConfirmModal" hide-footer title="경고">
        <div class="d-block text-center">
          <h5>{{ confirmMsg }}</h5>
        </div>
         <b-btn size="md" class="float-left" variant="outline-secondary" @click="confirmCancel">취소</b-btn>
         <b-btn size="md" class="float-right" variant="outline-danger" @click="confirmDelete">삭제</b-btn>
      </b-modal>
      <br><br>
      <div v-if="formShow">
        <b-table show-empty
                stacked="sm"
                :items="ad_historys"
                :fields="fields"
                :current-page="currentPage"
                :per-page="perPage"
                :filter="filter"
                :sort-by.sync="sortBy"
                :sort-desc.sync="sortDesc"
                :sort-direction="sortDirection"
        >
          <template slot="actions" slot-scope="row">
            <!-- We use @click.stop here to prevent a 'row-clicked' event from also happening -->
            <b-btn size="sm" variant="secondary" @click.stop="read_item(row.item)" class="mr-1">선택</b-btn>
          </template>
        </b-table>
        <b-row>
          <b-col cols="3"></b-col>
          <b-col cols="4">
            <b-form-group horizontal label="">
              <b-input-group>
                <b-form-input v-model="filter" placeholder="찾을 내용을 입력하세요" />
                <b-input-group-append>
                  <b-btn :disabled="!filter" @click="filter = ''">지우기</b-btn>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>
          <b-col cols="3">
            <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
          </b-col>
        </b-row>
      </div>
    </b-container>
  </div>
</template>

<script>
import TopFrame from './TopFrame';
import Navi from './Navi';
import axios from 'axios';
import VueRecaptcha from "vue-recaptcha"; //for I'm not a Robot

export default {
  name: 'request-ad',
  components: {
    TopFrame,
    Navi,
    VueRecaptcha
  },
  data () {
    return {
      infoMsg: '',
      confirmMsg: '',
      selected_ah_id: '',
      formShow: false,
      protectFlag: false,
      paymentFlag: false,
      ah_end_dateFlag: true,
      legal_office: {
        lo_id: 0,
        lo_email: '',
        lo_password: '',
        lo_name: '',
      },
      ah_Amount: '',
      ah_payment_amount: 0,
      ah_BasedDays: '',
      ah_based_days: 0,
      ah_ApplyCount: '',
      ah_apply_count: 0,
      form: {
        ah_id: 0,
        ah_at_type: null,
        ah_ad_division: [],
        ah_ad_division_cnt: 0,
        ah_ad_area: [],
        ah_ad_area_cnt: 0,
        ah_occur_date: '',
        ah_start_date: '',
        ah_end_date: '',
        ah_based_days: 0,
        ah_apply_count: 0,
        ah_payment_amount: 0,
        ah_payment_date: '',
        ah_payment_creator: '',
        ah_payment_confirmer: '',
        ah_payment_confirm_date: '',
        ah_payment_flag: '',          // r: requested(광고 신청), p: payed (광고료 지불), c: confirmed payment(광고료 입금 확인)
        ah_creator: '',
        at_desc: '',
        at_location_image: '',
        at_location_desc: '',
        at_price: 0,
        at_based_days: 0,
        at_apply_count: 0,
        lo_title: '',
        lo_core_business: '',
        lo_description: '',
      },
      ad_types: [],
      type_options: [
        { value: null, text: '광고종류를 선택해주세요.' },
        { value: '10', text: '프리미엄 배너광고' },
        { value: '20', text: '메인 배너광고' },
        { value: '30', text: '지역 배너광고' },
        { value: '40', text: '상품 배너광고' },
        { value: '50', text: '배너 베스트뱃지' },
        { value: '60', text: '실시간 회생문의 추가 등록' },
        { value: '80', text: '업체리스트 줄광고' },
      ],
      adDivisions: [
        { value: '개인회생', text: '개인회생' },
        { value: '개인파산', text: '개인파산' },
      ],
      adAreas: [
        { value: '서울', text: '서울' },
        { value: '인천', text: '인천' },
        { value: '부산', text: '부산' },
        { value: '대전', text: '대전' },
        { value: '울산', text: '울산' },        
        { value: '대구', text: '대구' },
        { value: '광주', text: '광주' },
        { value: '세종', text: '세종' },
        { value: '경기', text: '경기' },
        { value: '강원', text: '강원' },
        { value: '충북', text: '충북' },
        { value: '충남', text: '충남' },
        { value: '경북', text: '경북' },
        { value: '경남', text: '경남' },
        { value: '전북', text: '전북' },
        { value: '전남', text: '전남' },
        { value: '제주', text: '제주' },
      ],
      ad_historys: [],
      fields: [
        { key: 'ah_id', label: 'SEQ', 'class': 'text-center' },
        { key: 'at_title', label: '광고종류', 'class': 'text-center' },
        { key: 'ah_occur_date', label: '신청일자', 'class': 'text-center' },
        { key: 'ah_start_date', label: '개시일자', 'class': 'text-center' },
        { key: 'ah_end_date', label: '종료일자', 'class': 'text-center' },
        { key: 'ah_payment_amount', label: '결제금액', 'class': 'text-center' },
        { key: 'lo_name', label: '신청자', 'class': 'text-center' },
        { key: 'ah_payment_date', label: '결제일', 'class': 'text-center' },
        { key: 'ah_payment_name', label: '결제자', 'class': 'text-center' },
        { key: 'actions', label: '', 'class': 'text-center' }
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      pageOptions: [ 10, 20, 30 ],
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
    }
  },
  computed: {
  },
  methods: {

    onTypeChange(evt) {
      this.form.ah_at_type = evt.target.value;
      this.form.ah_ad_area = [];
      this.form.ah_ad_division = [];
      for (let i = 0; i < this.ad_types.length ; i++) {
        if(this.form.ah_at_type == this.ad_types[i].at_type) {
          this.form.at_desc = this.ad_types[i].at_desc;
          this.form.at_location_image = this.$store.state.lawketImageUrl+'lawket/ad_image/'+this.ad_types[i].at_location_image;
          this.form.at_location_desc = this.ad_types[i].at_location_desc;
          this.form.at_price = this.ad_types[i].at_price;
          this.form.at_based_days = this.ad_types[i].at_based_days;
          this.form.at_apply_count = this.ad_types[i].at_apply_count;

          this.form.ah_payment_amount = this.ad_types[i].at_price;
          this.ah_payment_amount = this.form.ah_payment_amount;
          this.ah_Amount = this.formatNumber(this.form.ah_payment_amount) + ' 원';

          this.form.ah_based_days = this.ad_types[i].at_based_days;
          this.ah_based_days = this.form.ah_based_days;
          this.ah_BasedDays = this.formatNumber(this.form.ah_based_days) +' 일';

          this.form.ah_apply_count = this.ad_types[i].at_apply_count;
          this.ah_apply_count = this.form.ah_apply_count;
          this.ah_ApplyCount = this.formatNumber(this.form.ah_apply_count) + ' 회';
        }
      }
    },
    onDivisionChange() {
      // form.ah_at_type == '40' 광고분야 선택
      let divisionCount = this.form.ah_ad_division.length;
      if(this.form.ah_at_type == '40' && divisionCount > 0) {
        this.ah_Amount = this.formatNumber(this.form.at_price * divisionCount) + '원';
        this.ah_ApplyCount = this.formatNumber(this.form.at_apply_count * divisionCount) + '회';
        this.ah_payment_amount = this.form.at_price * divisionCount;
        this.ah_apply_count = this.form.at_apply_count * divisionCount;
      }
    },
    onAreaChange() {
      // form.ah_at_type == '30' 광고지역 선택
      let areaCount = this.form.ah_ad_area.length;
      //alert(JSON.stringify(areaCount, this.form.at_price));
      if(this.form.ah_at_type == '30' && areaCount > 0) {
        this.ah_Amount = this.formatNumber(this.form.at_price * areaCount) + ' 원';
        this.ah_ApplyCount = this.formatNumber(this.form.at_apply_count * areaCount) + ' 회';
        this.ah_payment_amount = this.form.at_price * areaCount;
        this.ah_apply_count = this.form.at_apply_count * areaCount;
      }
    },
    changeStartDate() {
      var sDate = new Date(this.form.ah_start_date);
      sDate.setDate(sDate.getDate()+parseInt(this.form.ah_based_days));
      this.form.ah_end_date = this.formatDate(sDate);
    },
    formatDate(date) {
      var d = new Date(date),
          month = '' + (d.getMonth() + 1),
          day = '' + d.getDate(),
          year = d.getFullYear();
      if (month.length < 2) month = '0' + month;
      if (day.length < 2) day = '0' + day;
      return [year, month, day].join('-');
    },

    onSubmit(evt) {
      evt.preventDefault();
      this.$refs.invisibleRecaptcha.execute(); //for <vue-recaptcha>

      this.form.ah_ad_area_cnt = this.form.ah_ad_area.length;
      this.form.ah_ad_division_cnt = this.form.ah_ad_division.length;

      if(this.form.ah_ad_division_cnt == 0) {
        this.infoMsg = '광고 분야를 선택해 주세요';
        this.showModal();
        return;
      } else if(this.form.ah_ad_area_cnt == 0) {
        this.infoMsg = '광고 지역을 선택해 주세요';
        this.showModal();
        return;
      } else if(!this.checkLength(this.form.lo_title)) {
        this.showModal();
        return;
      } else if(!this.form.ah_at_type) {
        this.infoMsg = '광고 종류을 선택해 주세요';
        this.showModal();
        return;
      } else if (this.form.lo_description == '') {
        this.infoMsg = "사업 설명을 입력하세요.";
        this.showModal();
        return;
      } else if(!this.form.ah_occur_date) {
        this.infoMsg = '광고신청일자를 선택해 주세요';
        this.showModal();
        return;
      } else if(!this.form.ah_start_date) {
        this.infoMsg = '광고개시일자를 선택해 주세요';
        this.showModal();
        return;
      } else if(!this.form.ah_end_date) {
        this.infoMsg = '광고종료일자를 선택해 주세요';
        this.showModal();
        return;
      } else if(this.form.ah_start_date > this.form.ah_end_date) {
        this.infoMsg = '광고 개시일이 광고 종료일보다 빨라야 합니다.';
        this.showModal();
        return;
      }
      this.form.lo_title = this.form.lo_title.replace(/\'/g, "");
      this.form.lo_core_business = this.form.lo_core_business.replace(/\'/g, "");
      this.form.lo_description = this.form.lo_description.replace(/\'/g, "");
      this.form.ah_apply_count = this.ah_apply_count;
      this.form.ah_payment_amount = this.ah_payment_amount;
      this.form.ah_based_days = this.ah_based_days;
      this.form.ah_payment_flag = 'r'; // r: requested(광고 신청), p: payed (광고료 지불), c: confirmed payment(광고료 입금 확인)
      this.form.ah_creator = this.$store.state.legalOfficeData.lo_email;
      //alert(JSON.stringify(this.form));

      var data = new FormData();
      data.append('CRUD_mode', 'create');                    
      data.append('ah_at_type', this.form.ah_at_type);
      data.append('ah_ad_division', this.form.ah_ad_division.toString());
      data.append('ah_ad_division_cnt', this.form.ah_ad_division_cnt);
      data.append('ah_ad_area', this.form.ah_ad_area.toString());
      data.append('ah_ad_area_cnt', this.form.ah_ad_area_cnt);
      data.append('ah_occur_date', this.form.ah_occur_date);
      data.append('ah_start_date', this.form.ah_start_date);
      data.append('ah_end_date', this.form.ah_end_date);
      data.append('ah_based_days', this.form.ah_based_days);
      data.append('ah_apply_count', this.form.ah_apply_count);
      data.append('ah_payment_amount', this.form.ah_payment_amount);
      data.append('ah_payment_flag', this.form.ah_payment_flag);
      data.append('ah_creator', this.form.ah_creator);
      data.append('lo_title', this.form.lo_title);
      data.append('lo_core_business', this.form.lo_core_business);
      data.append('lo_description', this.form.lo_description);
      data.append('legal_office_lo_id', this.$store.state.legalOfficeData.lo_id);

      axios.post(this.$store.state.lawketBaseUrl+'CRUD_ad_history.php', data
      ).then(response => {
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          this.getAdHistorys();
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.onReset();
    },

    checkLength(str) {
      let pw = str;
      if(pw.length > 15){
        this.infoMsg = '광고타이틀을 한글 15자리 이내로 입력해주세요.';
        return false;
      }
      return true;
    },

    onReset() {
      this.form.ah_at_type = null;
      this.form.ah_ad_division = [];
      this.form.ah_ad_division_cnt = 0;
      this.form.ah_ad_area = [];
      this.form.ah_ad_area_cnt = 0;
      this.form.ah_occur_date = '';
      this.form.ah_start_date = '';
      this.form.ah_end_date = '';
      this.form.ah_based_days = 0;
      this.form.ah_apply_count = 0;
      this.form.ah_payment_amount = 0;
      this.form.ah_payment_date = '';
      this.form.ah_payment_creator = '';
      this.form.ah_payment_confirmer = '';
      this.form.ah_payment_confirm_date = '';
      this.form.ah_payment_flag = '';
      this.form.ah_creator = '';
      this.form.at_desc = '';
      this.form.at_location_image = '';
      this.form.at_location_desc = '';
      this.form.at_price = 0;
      this.form.at_based_days = 0;
      this.form.at_apply_count = 0;
      this.form.lo_title = '';
      this.form.lo_core_business = '';
      this.form.lo_description = '';
      this.protectFlag = false;
      this.paymentFlag = false;
      this.ah_Amount = '';
      this.ah_BasedDays = '';
      this.ah_ApplyCount = '';
      this.ah_based_days = 0;
      this.ah_apply_count = 0;
      this.ah_payment_amount = 0;
    },

    read_item(item) {
      // alert(JSON.stringify(item, null, 2));
      this.onReset();
      this.selected_ah_id = item.ah_id;
      var data = new FormData();
      data.append('CRUD_mode', 'read');
      data.append('ah_id', this.selected_ah_id);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_ad_history.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.form.ah_id = response.data.ad_history.ah_id;
          this.form.ah_at_type = response.data.ad_history.ah_at_type;
          if(response.data.ad_history.ah_ad_division != '') {
            this.form.ah_ad_division = response.data.ad_history.ah_ad_division.split(",");
          } else {
            this.form.ah_ad_division = response.data.ad_history.ah_ad_division;
          }
          this.form.ah_ad_division_cnt = response.data.ad_history.ah_ad_division_cnt;

          if(response.data.ad_history.ah_ad_area != '') {
            this.form.ah_ad_area = response.data.ad_history.ah_ad_area.split(",");
          } else {
            this.form.ah_ad_area = response.data.ad_history.ah_ad_area;
          }
          this.form.ah_ad_area_cnt = response.data.ad_history.ah_ad_area_cnt;
          this.form.ah_occur_date = response.data.ad_history.ah_occur_date;
          this.form.ah_start_date = response.data.ad_history.ah_start_date;
          this.form.ah_end_date = response.data.ad_history.ah_end_date;

          this.form.ah_based_days = response.data.ad_history.ah_based_days;
          this.ah_based_days = this.form.ah_based_days;
          this.ah_BasedDays = this.formatNumber(this.form.ah_based_days) + ' 일';

          this.form.ah_apply_count = response.data.ad_history.ah_apply_count;
          this.ah_apply_count = this.form.ah_apply_count;
          this.ah_ApplyCount = this.formatNumber(this.form.ah_apply_count) + ' 회';

          this.form.ah_payment_amount = response.data.ad_history.ah_payment_amount;
          this.ah_payment_amount = this.form.ah_payment_amount;
          this.ah_Amount = this.formatNumber(this.form.ah_payment_amount) + ' 원';

          this.form.ah_payment_date = response.data.ad_history.ah_payment_date;
          this.form.ah_payment_creator = response.data.ad_history.ah_payment_creator;
          this.form.ah_payment_confirmer = response.data.ad_history.ah_payment_confirmer;
          this.form.ah_payment_confirm_date = response.data.ad_history.ah_payment_confirm_date;
          this.form.ah_creator = response.data.ad_history.ah_creator;
          this.form.ah_payment_flag = response.data.ad_history.ah_payment_flag;

          this.form.lo_title = response.data.ad_history.lo_title;
          this.form.lo_core_business = response.data.ad_history.lo_core_business;
          this.form.lo_description = response.data.ad_history.lo_description;

          for (let i = 0; i < this.ad_types.length ; i++) {
            if(this.form.ah_at_type == this.ad_types[i].at_type) {
                this.form.at_desc = this.ad_types[i].at_desc;
                this.form.at_location_image = this.$store.state.lawketImageUrl+'lawket/ad_image/'+this.ad_types[i].at_location_image;
                this.form.at_location_desc = this.ad_types[i].at_location_desc;
                this.form.at_price = this.ad_types[i].at_price;
                this.form.at_based_days = this.ad_types[i].at_based_days;
                this.form.at_apply_count = this.ad_types[i].at_apply_count;
            }
          }
          if(this.form.ah_payment_date == '1969-12-31') { this.form.ah_payment_date = ''; };
          if(this.form.ah_payment_confirm_date == '1969-12-31') { this.form.ah_payment_confirm_date = ''; };
          if(this.form.ah_payment_flag == 'r') { 
            this.protectFlag = true;
          } else if(this.form.ah_payment_flag == 'p') { 
            this.paymentFlag = true;
            this.infoMsg = '결제 확인이 필요합니다.';
            this.showModal();
            return;
          } else if(this.form.ah_payment_flag == 'c') { 
            this.paymentFlag = true;
            this.infoMsg = '이미 결제 확인이 완료된 데이터입니다.';
            this.showModal();
            return; 
          }
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },

    onUpdate() {
      this.$refs.invisibleRecaptcha.execute(); //for <vue-recaptcha>

      this.form.ah_ad_area_cnt = this.form.ah_ad_area.length;
      this.form.ah_ad_division_cnt = this.form.ah_ad_division.length;

      if(this.form.ah_ad_division_cnt == 0) {
        this.infoMsg = '광고 분야를 선택해 주세요';
        this.showModal();
        return;
      } else if(this.form.ah_ad_area_cnt == 0) {
        this.infoMsg = '광고 지역을 선택해 주세요';
        this.showModal();
        return;
      } else if(!this.checkLength(this.form.lo_title)) {
          this.showModal();
          return;
      } else if(!this.form.ah_at_type) {
        this.infoMsg = '광고 종류을 선택해 주세요';
        this.showModal();
        return;
      } else if (this.form.lo_description == '') {
        this.infoMsg = "사업 설명을 입력하세요.";
        this.showModal();
        return;
      } else if(!this.form.ah_occur_date) {
        this.infoMsg = '광고신청일자를 선택해 주세요';
        this.showModal();
        return;
      } else if(!this.form.ah_start_date) {
        this.infoMsg = '광고개시일자를 선택해 주세요';
        this.showModal();
        return;
      } else if(!this.form.ah_end_date) {
        this.infoMsg = '광고종료일자를 선택해 주세요';
        this.showModal();
        return;
      } else if(this.form.ah_start_date > this.form.ah_end_date) {
        this.infoMsg = '광고 개시일이 광고 종료일보다 빨라야 합니다.';
        this.showModal();
        return;
      }
      this.form.lo_title = this.form.lo_title.replace(/\'/g, "");
      this.form.lo_core_business = this.form.lo_core_business.replace(/\'/g, "");
      this.form.lo_description = this.form.lo_description.replace(/\'/g, "");
      this.form.ah_ad_division_cnt = this.form.ah_ad_division.length;
      this.form.ah_ad_area_cnt = this.form.ah_ad_area.length;
      this.form.ah_apply_count = this.ah_apply_count;
      this.form.ah_payment_amount = this.ah_payment_amount;
      this.form.ah_based_days = this.ah_based_days;
      this.form.ah_payment_flag = 'r'; // r: requested(광고 신청), p: payed (광고료 지불), c: confirmed payment(광고료 입금 확인)
      this.form.ah_creator = this.$store.state.legalOfficeData.lo_email;

      var data = new FormData();
      data.append('CRUD_mode', 'update');
      data.append('ah_id', this.form.ah_id);               
      data.append('ah_at_type', this.form.ah_at_type);
      data.append('ah_ad_division', this.form.ah_ad_division.toString());
      data.append('ah_ad_division_cnt', this.form.ah_ad_division_cnt);
      data.append('ah_ad_area', this.form.ah_ad_area.toString());
      data.append('ah_ad_area_cnt', this.form.ah_ad_area_cnt);
      data.append('ah_occur_date', this.form.ah_occur_date);
      data.append('ah_start_date', this.form.ah_start_date);
      data.append('ah_end_date', this.form.ah_end_date);
      data.append('ah_based_days', this.form.ah_based_days);
      data.append('ah_apply_count', this.form.ah_apply_count);
      data.append('ah_payment_amount', this.form.ah_payment_amount);

      data.append('ah_payment_flag', this.form.ah_payment_flag);
      data.append('ah_creator', this.form.ah_creator);
      data.append('legal_office_lo_id', this.$store.state.legalOfficeData.lo_id);                   
      data.append('lo_title', this.form.lo_title);
      data.append('lo_core_business', this.form.lo_core_business);
      data.append('lo_description', this.form.lo_description);

      axios.post(this.$store.state.lawketBaseUrl+'CRUD_ad_history.php', data)
      .then(response => {
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          this.getAdHistorys();
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.onReset();
    },

    onDelete() {
      this.confirmMsg = '정말 삭제하시겠습니까?'
      this.$refs.deleteConfirmModal.show();
    },

    confirmDelete() {
      this.$refs.deleteConfirmModal.hide();
      var data = new FormData();
      data.append('CRUD_mode', 'delete');
      data.append('ah_id', this.selected_ah_id);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_ad_history.php', data)
      .then(response => {
        this.getAdHistorys();
        this.infoMsg = response.data.msg;
      })
      .catch(error => {
        console.log(error);
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.onReset();
    },

    confirmCancel() {
      //alert('Selected --------> confirmCancel()');
      this.$refs.deleteConfirmModal.hide();
    },

    onPayment() {
      this.form.ah_payment_creator = this.$store.state.legalOfficeData.lo_email;
      this.form.ah_payment_flag = 'p';  // r: requested(광고 신청), p: payed (광고료 지불), c: confirmed payment(광고료 입금 확인)

      var data = new FormData();
      data.append('CRUD_mode', 'payment');
      data.append('ah_id', this.form.ah_id);               
      data.append('ah_payment_creator', this.form.ah_payment_creator);
      data.append('ah_payment_flag', this.form.ah_payment_flag);
      data.append('legal_office_lo_id', this.$store.state.legalOfficeData.lo_id);

      //alert(JSON.stringify(this.form));
      
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_ad_history.php', data)
      .then(response => {
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          this.getAdHistorys();
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.onReset();
    },
    formatNumber(num) {
      return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")
    },
    showModal() {
      this.$refs.infoModal.show()
    },
    hideModal() {
      this.$refs.infoModal.hide()
    },
    //for <vue-recaptcha> onSubmit, onVerify, onExpired</vue-recaptcha>
    onVerify: function(response) {
      console.log("Verify: " + response);
    },
    onExpired: function() {
      console.log("Expired");
    },

    getAdTypes() {
      this.ad_types = [];
      var data = new FormData();
      data.append('CRUD_mode', 'get');
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_ad_type.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.ad_types = response.data.ad_types;
          this.getAdHistorys();
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },
    getAdHistorys() {
      this.ad_historys = [];
      var data = new FormData();
      data.append('CRUD_mode', 'get');
      data.append('get_mode', 'each_customer');
      data.append('legal_office_lo_id', this.$store.state.legalOfficeData.lo_id);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_ad_history.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.ad_historys = response.data.ad_historys;
          for (let i=0; i<this.ad_historys.length; i++) {
            if(this.ad_historys[i].ah_payment_date == '1969-12-31') {
              this.ad_historys[i].ah_payment_date = '';
            };
            if(this.ad_historys[i].ah_payment_confirm_date == '1969-12-31') {
              this.ad_historys[i].ah_payment_confirm_date = '';
            };
            this.ad_historys[i].ah_based_days = this.formatNumber(this.ad_historys[i].ah_based_days);
            this.ad_historys[i].ah_apply_count = this.formatNumber(this.ad_historys[i].ah_apply_count);
            this.ad_historys[i].ah_payment_amount = this.formatNumber(this.ad_historys[i].ah_payment_amount);
          }
          this.totalRows = this.ad_historys.length;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },
  },

  mounted() {
    if(!this.$store.state.legalOfficeFlag) {
      this.$router.push({ path: './Login' });
    }
    this.formShow = true;
    this.getAdTypes();
    this.form.lo_title = this.$store.state.legalOfficeData.lo_title;
    this.form.lo_core_business = this.$store.state.legalOfficeData.lo_core_business;
    this.form.lo_description = this.$store.state.legalOfficeData.lo_description;
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .col-text {
    padding-top: 7px; 
    padding-right: 0px; 
    padding-left: 30px;
  }
</style>