<template>
  <div class="SearchByProduct" align="center">
    <TopFrame></TopFrame>
    <Navi></Navi>
    <div class="container">
      <div id="scrollTop"></div>
      <div class="product_cont">
        <h5 class="sub_top_title">분야별 법률 사무소 검색</h5>
        
        <div class="product_top_cont" v-if="!detailFlag">
          <div class="premium_cont">
            <h6>프리미엄 추천 업체</h6>
            <div class="premium_banner">
              <carousel
                :per-page="1"
                :mouse-drag="false"
                :autoplay="true"
                :loop="true"
                :navigationEnabled="true"
                :autoplayTimeout="3000"
              >
               <slide
                  data-index="0"
                  data-name="premiumCustomers"
                  v-for="(premium, key) in premiumCustomers" :key="key">
                  <div class="pre_banner_cont" @click="selectedpreCustomer(premium)">
                  <div class="lawyer_img" ><img :src="premium.l_photo"></div>
                  <div class="pre_banner_info">
                    <div class="premium_text">
                      <div class="divison_icon" v-for="(ah_ad_division, key) in premium.ah_ad_division" :key="key">
                            {{ah_ad_division}}
                      </div>
                      <div class="pre_title">
                        {{premium.lo_title}}
                      </div>
                      <span class="keyword">{{premium.lo_core_business}}</span>
                    </div>
                    <div class="premium_banner_bottom">
                      <div class="pre_name">
                            {{premium.lo_name}}

                      </div>
                      <div class="premium_banner_ri"></div>
                    </div>
                  </div>
                  </div>
                  <div class="pre_detail_btn" @click="selectedpreCustomer(premium)">
                   <img src="http://192.168.1.220:8080/images/main_pre_detail_icon.png" alt="상세보기" /> 상세보기
                  </div>
                </slide>
              </carousel>
            </div>
          </div>
          <div class="kind_btn_cont">
            
            <h6>분야별 검색</h6>
             
            <div class="kind_btn">
              <b-btn
                v-for="(division, key) in divisions"
                :key="key"
                size="sm"
                variant="outline-secondary"
                @click="selectDivision(division.value)"
                style="margin-left: 2px;"
              >{{division.text}}</b-btn>
            </div>
          </div>
          
          <p class="advice">
            <img
              src="http://192.168.1.220:8080/images/kind_text_bg.png"
              alt="분야별 검색을 통하여 해당 분야에 특화된  법률 사무소를 조회 할 수 있습니다."
            > 분야별 검색을 통하여 해당 분야에 특화된 법률 사무소를 조회 할 수 있습니다.
          </p>
        </div>
       
      
          <div class="sub_area_com_info" v-if="detailFlag">

              <div class="sub_area_com_infoTop">
            <h6>{{customer.lo_title}}</h6>
              <div class="top_info_lf">
              <dl>
                  <dt>
                      회사명
                  </dt>
                  <dd>{{customer.lo_name}}</dd>
              </dl>
               <dl>
                  <dt>
                      대표자명
                  </dt>
                  <dd>{{customer.lo_ceo_name}}</dd>
              </dl>
              <dl>
                  <dt>
                      사업자등록번호
                  </dt>
                  <dd>{{customer.lo_regist_number}}</dd>
              </dl>
              </div>
              <div class="top_info_lf">
              <dl>
                  <dt>
                      전화번호
                  </dt>
                  <dd>{{customer.lo_phone}}</dd>
              </dl>
               <dl>
                  <dt>
                     서비스대상
                  </dt>
                  <dd>{{customer.lo_service_target}}</dd>
              </dl>
              <dl>
                  <dt>
                      홈페이지
                  </dt>
                  <dd>{{customer.lo_homepage}}</dd>
              </dl>
              </div>
              <div class="area_address">
                <dl>
                  <dt>
                      주소
                  </dt>
                  <dd>{{customer.lo_address}}</dd>
              </dl>
              </div>
            </div>
              
            <div class="sub_area_com_infoBottom">
               <dl>
                  <dt>
                      핵심사업
                  </dt>
                  <dd  v-html="customer.lo_core_business"></dd>
              </dl>
               <dl>
                  <dt>
                      부가 설명
                  </dt>
                  <dd v-html="customer.lo_description"></dd>
              </dl>
            </div>

          </div>

      <div style="width:100%;float:left;" v-if="detailFlag">

          <b-row>
            <b-col cols="11"></b-col>
            <b-col cols="1">
              <b-btn class="list_btn" size="sm" variant="info" @click="viewList">목록</b-btn>
            </b-col>
          </b-row>
        </div>
</div>


          <div class="area_company" v-if="!detailFlag">
             <h6><span>회생/파산</span> 등록업체 <span>{{totalRows}}</span> 개</h6>
             <div class="cont_product platinum">
              <div class="inner_cont">
                <ul class="list_product" id="_platinum">
                  <li class="open" v-for="(customer, key) in customers" :key="key"   @click="showCardDetail(customer.lo_id)"> 
                    <div class="box_product">
                      <div class="poduct_info">
                        <strong class="poduct_tit" ></strong>
                        <div class="product_desc">
                         <div class="category_part" v-for="(ah_ad_division, key) in customer.ah_ad_division" :key="key">
                            <b-btn :key="key" size="sm" variant="outline-secondary" style="margin-left: 2px;">{{ah_ad_division}}</b-btn>
                          </div>
                          <div class="main_platium_bottom">
                            <span class="txt">{{customer.lo_title}}</span>
                            
                          </div>
                          <span class="txt">{{customer.lo_core_business}}</span>
                          <div class="main_platium_info"><img src="http://192.168.1.220:8080/images/main_com_icon.png" alt="회사아이콘" /> {{customer.lo_company_name}}</div>
                        </div>

                          <div class="wrap_desc"  @click="selectedCustomer(customer)">
                            <span class="txt_desc">
                              <span class="com_title_text" >{{customer.lo_company_name}}</span>
                              <span class="com_more"><img src="http://192.168.1.220:8080/images/main_more_icon.png" alt="상세보기" /> 상세보기</span>
                            </span>
                          </div>
                        </div>
                        <span class="bg"></span>
                      </div>

                      
                    </li>
                  </ul>
                </div>
              </div>
            <b-row>
            
            </b-row>
          </div>
          
  <div class="kind_bottom">
          <b-table
            show-empty
            stacked="sm"
            :items="customers"
            :fields="fields"
            :current-page="currentPage"
            :per-page="perPage"
            :filter="filter"
            :empty-text="emptyText"
            :empty-filtered-text="emptyFilteredText"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :sort-direction="sortDirection"
            @row-clicked="showRowDetail"
            v-scroll-to="'#scrollTop'"
          ></b-table>
          <b-row>
            <b-col cols="2"></b-col>
            <b-col cols="6">
              <b-form-group horizontal label>
                <b-input-group>
                  <b-form-input v-model="filter" placeholder="찾을 내용을 입력하세요"/>
                  <b-input-group-append>
                    <b-btn :disabled="!filter" @click="filter = ''">지우기</b-btn>
                  </b-input-group-append>
                </b-input-group>
              </b-form-group>
            </b-col>
            <b-col cols="3">
              <b-pagination
                :total-rows="totalRows"
                :per-page="perPage"
                v-model="currentPage"
                class="my-0"
              />
            </b-col>
          </b-row>

          <b-modal ref="infoModal" hide-footer title="알림">
            <div class="d-block text-center">
              <h5>{{ infoMsg }}</h5>
            </div>
            <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
          </b-modal>
        </div>
      
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import TopFrame from "./TopFrame";
import Navi from "./Navi";
import axios from "axios";
import Footer from "./Footer";
import { Carousel, Slide } from "vue-carousel";

const Vue = require("vue");
const VueScrollTo = require("vue-scrollto");

export default {
  components: {
    TopFrame,
    Navi,
    Footer,
    Carousel
  },
  name: "SearchByProduct",
  data() {
    return {
      infoMsg: "",
      selectDivision_param: "",
      premiumCustomers: [],
      divisions: [
        {
          value: "전체",
          text: "전체",
          variant: "outline-secondary",
          state: false
        },
        {
          value: "개인회생",
          text: "개인회생",
          variant: "outline-secondary",
          state: false
        },
        {
          value: "개인파산",
          text: "개인파산",
          variant: "outline-secondary",
          state: false
        }
      ],
      divisionCustomers: [],
      customers: [],
      fields: [
        { key: "ah_ad_division", label: "서비스", class: "text-center" },
        { key: "lo_name", label: "회사명", class: "text-center" },
        { key: "lo_ceo_name", label: "대표자명", class: "text-center" },
        { key: "lo_phone", label: "전화번호", class: "text-center" },
        { key: "ah_ad_area", label: "지역", class: "text-center" },
        { key: "date", label: "등록일자" }
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      pageOptions: [10, 20, 30],
      sortBy: null,
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      emptyText: "등록된 업체가 없습니다.",
      emptyFilteredText: "찾는 업체가 없습니다.",
      detailFlag: false,
      customer: {
        lo_name: "",
        lo_ceo_name: "",
        lo_regist_number: "",
        lo_phone: "",
        lo_postcode: "",
        lo_address: "",
        lo_core_business: "",
        lo_service_target: "",
        lo_description: "",
        lo_homepage: "",
        l_photo:"",
        lo_title: ""
      }
    };
  },
  methods: {
    selectDivision(division) {
      this.detailFlag = false;
      this.selectDivision_param = division;
      this.getDivisionLegalOffices();
      this.getLegalOffices();
    },
    showCardDetail(lo_id) {
      this.detailFlag = true;
      for (var i = 0; i < this.customers.length; i++) {
        if (this.customers[i].lo_id == lo_id) {
          this.customer.lo_name = this.customers[i].lo_name;
          this.customer.lo_ceo_name = this.customers[i].lo_ceo_name;
          this.customer.lo_regist_number = this.customers[i].lo_regist_number;
          this.customer.lo_phone = this.customers[i].lo_phone;
          this.customer.lo_postcode = this.customers[i].lo_postcode;
          this.customer.lo_address =
            this.customers[i].lo_address1 + " " + this.customers[i].lo_address2;
          this.customer.lo_core_business = this.customers[i].lo_core_business;
          this.customer.lo_service_target = this.customers[i].lo_service_target;
          this.customer.lo_description = this.customers[i].lo_description;
          this.customer.lo_homepage = this.customers[i].lo_homepage;
          this.customer.lo_title = this.customers[i].lo_title;
        }
      }
    },
    showRowDetail(item) {
      this.detailFlag = true;
      this.customer.lo_name = item.lo_name;
      this.customer.lo_ceo_name = item.lo_ceo_name;
      this.customer.lo_regist_number = item.lo_regist_number;
      this.customer.lo_phone = item.lo_phone;
      this.customer.lo_postcode = item.lo_postcode;
      this.customer.lo_address = item.lo_address1 + " " + item.lo_address2;
      this.customer.lo_core_business = item.lo_core_business;
      this.customer.lo_service_target = item.lo_service_target;
      this.customer.lo_description = item.lo_description;
      this.customer.lo_homepage = item.lo_homepage;
      this.customer.lo_title = item.lo_title;
      this.customer.l_photo = item.l_photo;
      
      //this.$store.state.customer_lo_id = item.;lo_id;
      //console.log('customer_lo_id : '+this.$store.state.customer_lo_id);
      //this.$router.push({ path: './CustomDetail' });
    },
    viewList() {
      this.detailFlag = false;
      this.customer.lo_name = "";
      this.customer.lo_ceo_name = "";
      this.customer.lo_regist_number = "";
      this.customer.lo_phone = "";
      this.customer.lo_postcode = "";
      this.customer.lo_address = "";
      this.customer.lo_core_business = "";
      this.customer.lo_service_target = "";
      this.customer.lo_description = "";
      this.customer.lo_homepage = "";
      this.customer.lo_title = "";
      this.customer.l_photo = "";
    },

    showModal() {
      this.$refs.infoModal.show();
    },
    hideModal() {
      this.$refs.infoModal.hide();
    },

    getPremiumLegalOffices() {
      this.customers = [];
      var data = new FormData();
      data.append("GET_mode", "get");
      data.append("search_mode", "banner");
      data.append("ah_at_type", "10"); //10 —> 프리미엄 배너광고
      axios
        .post(this.$store.state.lawketBaseUrl + "GET_legal_office.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            this.premiumCustomers = response.data.legal_offices;
            for (var i = 0; i < this.premiumCustomers.length; i++) {
              if ( this.premiumCustomers[i].lo_main_img != null && this.premiumCustomers[i].lo_main_img != "null" ) {
                this.premiumCustomers[i].lo_main_img = this.$store.state.lawketImageUrl + "customer_image/" + this.premiumCustomers[i].lo_company_name + "/" + this.premiumCustomers[i].lo_main_img;
              }
              if ( this.premiumCustomers[i].lo_sub1_img != null && this.premiumCustomers[i].lo_sub1_img != "null" ) {
                this.premiumCustomers[i].lo_sub1_img = this.$store.state.lawketImageUrl + "customer_image/" + this.premiumCustomers[i].lo_company_name + "/" + this.premiumCustomers[i].lo_sub1_img;
              }
              if ( this.premiumCustomers[i].lo_sub2_img != null && this.premiumCustomers[i].lo_sub2_img != "null" ) {
                this.premiumCustomers[i].lo_sub2_img = this.$store.state.lawketImageUrl + "customer_image/" + this.premiumCustomers[i].lo_company_name + "/" + this.premiumCustomers[i].lo_sub2_img;
              }
                if ( this.premiumCustomers[i].l_photo != null && this.premiumCustomers[i].l_photo != "null" ) {
                  this.premiumCustomers[i].l_photo = 
                  this.$store.state.lawketImageUrl + "customer_image/" + this.premiumCustomers[i].lo_company_name + "/" + this.premiumCustomers[i].l_photo;
              }
              this.premiumCustomers[i].ah_ad_division = this.premiumCustomers[i].ah_ad_division.split(",");
            }
            this.PrtotalRows = this.premiumCustomers.length;
            this.getDivisionLegalOffices();
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },
    getDivisionLegalOffices() {
      this.divisionCustomers = [];
      var data = new FormData();
      data.append("GET_mode", "get");
      data.append("search_mode", "banner");
      data.append("ah_at_type", "40"); //40 —> 상품 배너광고
      data.append("ah_ad_division", this.selectDivision_param);
      axios
        .post(this.$store.state.lawketBaseUrl + "GET_legal_office.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            this.divisionCustomers = response.data.legal_offices;
            for (var i = 0; i < this.divisionCustomers.length; i++) {
              if ( this.divisionCustomers[i].lo_main_img != null && this.divisionCustomers[i].lo_main_img != "null" ) {
                this.divisionCustomers[i].lo_main_img = this.$store.state.lawketImageUrl + "customer_image/" + this.divisionCustomers[i].lo_company_name + "/" + this.divisionCustomers[i].lo_main_img;
              }
              if ( this.divisionCustomers[i].lo_sub1_img != null && this.divisionCustomers[i].lo_sub1_img != "null" ) {
                this.divisionCustomers[i].lo_sub1_img = this.$store.state.lawketImageUrl + "customer_image/" + this.divisionCustomers[i].lo_company_name + "/" + this.divisionCustomers[i].lo_sub1_img;
              }
              if ( this.divisionCustomers[i].lo_sub2_img != null && this.divisionCustomers[i].lo_sub2_img != "null" ) {
                this.divisionCustomers[i].lo_sub2_img = this.$store.state.lawketImageUrl + "customer_image/" + this.divisionCustomers[i].lo_company_name + "/" + this.divisionCustomers[i].lo_sub2_img;
              }
              this.divisionCustomers[i].ah_ad_division = this.divisionCustomers[i].ah_ad_division.split(",");
            }
          }
          this.getLegalOffices();
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },
     selectedpreCustomer(selected_precustomer) {
      //console.log('selected_customer --------------> clicked');
      this.$store.state.eachData.customerData = selected_precustomer;
      this.$router.push({ path: "./CustomSearch" });
    },
    getLegalOffices() {
      this.customers = [];
      var data = new FormData();
      data.append("GET_mode", "get");
      data.append("search_mode", "list");
      data.append("ah_at_type", "40"); //40 —> 상품 배너광고
      data.append("ah_ad_division", this.selectDivision_param);
      axios
        .post(this.$store.state.lawketBaseUrl + "GET_legal_office.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            this.customers = response.data.legal_offices;
            for (var i = 0; i < this.customers.length; i++) {
              if ( this.customers[i].lo_main_img != null && this.customers[i].lo_main_img != "null" ) {
                this.customers[i].lo_main_img = this.$store.state.lawketImageUrl + "customer_image/" + this.customers[i].lo_company_name + "/" + this.customers[i].lo_main_img;
              }
              if ( this.customers[i].lo_sub1_img != null && this.customers[i].lo_sub1_img != "null" ) {
                this.customers[i].lo_sub1_img = this.$store.state.lawketImageUrl + "customer_image/" + this.customers[i].lo_company_name + "/" + this.customers[i].lo_sub1_img;
              }
              if ( this.customers[i].lo_sub2_img != null && this.customers[i].lo_sub2_img != "null" ) {
                this.customers[i].lo_sub2_img = this.$store.state.lawketImageUrl + "customer_image/" + this.customers[i].lo_company_name + "/" + this.customers[i].lo_sub2_img;
              }
              this.customers[i].ah_ad_division = this.customers[i].ah_ad_division.split(",");
            }
            this.totalRows = this.customers.length;
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    }
  },
  mounted() {
    this.$store.state.top_search.lo_name = "";
    this.$store.state.top_search.lo_description = "";
    if(this.$store.state.main_search.product != '전체') {
      this.selectDivision_param = this.$store.state.main_search.product;
    } else {
      this.selectDivision_param = "전체";
    }
    this.getPremiumLegalOffices();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
