<template>
  <div class="SignUpCustomer" align="center">
    <TopFrame></TopFrame>
    <Navi></Navi>
    <div class="container">
    <div class="user_join">
    <h5 class="sub_top_title">회원가입 <span class="sub_navi">HOME > 회원가입(약관동의)</span></h5>
      <b-row>
        <b-col cols="4" v-for="(term, key) in terms" :key="key">
          <b-card style="max-width: 30rem;" :title="term.t_subject" class="mb-3">
            <b-card-body
              id="nav-scroller"
              ref="content"
              style="position:relative; height:300px; overflow-y:scroll;"
            >
              <p class="card-text">
                <span v-html="term.t_content"></span>
              </p>
            </b-card-body>
          </b-card>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="4">
          <b-form-checkbox
            id="checkbox1"
            v-model="$store.state.check_terms.lo_terms"
            value="O"
            unchecked-value="X"
          >이용약관에 동의합니다.(필수)</b-form-checkbox>
        </b-col>
        <b-col cols="4">
          <b-form-checkbox
            id="checkbox2"
            v-model="$store.state.check_terms.lo_offer"
            value="O"
            unchecked-value="X"
          >개인정보처리방침에 동의합니다.(필수)</b-form-checkbox>
        </b-col>
        <b-col cols="4">
          <b-form-checkbox
            id="checkbox3"
            v-model="$store.state.check_terms.lo_marketing"
            value="O"
            unchecked-value="X"
          >책임의 한계와 법적고지에 동의합니다.(선택)</b-form-checkbox>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" align="center">
          <b-form-checkbox
            id="checkbox4"
            v-model="lo_allAgree"
            value="O"
            unchecked-value="X"
            @change="toggleAllAgree"
          >이용약관, 개인정보처리방침과 책임의 한계와 법적고지 모두에 동의합니다.</b-form-checkbox>
        </b-col>
      </b-row>
      <br>
      <b-row>
        <b-col cols="3"></b-col>
        <b-col cols="6" align="center">
          <b-btn variant="dark" @click="cancel">취소</b-btn>
          <b-btn variant="primary" @click="next">다음</b-btn>
        </b-col>
      </b-row>
      <b-modal ref="infoModal" hide-footer title="알림">
        <div class="d-block text-center">
          <h5>{{ infoMsg }}</h5>
        </div>
        <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
      </b-modal>
    </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import TopFrame from "./TopFrame";
import Navi from "./Navi";
import Footer from "./Footer";
import axios from "axios";

export default {
  name: "SignUpCustomer",
  components: {
    TopFrame,
    Navi,
    Footer
  },
  data() {
    return {
      infoMsg: "",
      terms: [],
      lo_allAgree: "" //전체 동의
    };
  },
  computed: {},
  methods: {
    toggleAllAgree(checked) {
      this.$store.state.check_terms.lo_terms = "O"; //이용약관
      this.$store.state.check_terms.lo_offer = "O"; //개인정보 제3자 제공
      this.$store.state.check_terms.lo_marketing = "O"; //마케팅 정보수신
    },
    cancel() {
      this.$store.state.legalOfficeData = [];
      this.$store.state.legalOfficeFlag = false;
      this.$router.push({ path: "./" });
    },
    next() {
      if (
        this.$store.state.check_terms.lo_terms != "O" ||
        this.$store.state.check_terms.lo_offer != "O"
      ) {
        this.infoMsg = "이용약관/개인정보처리방침에 동의해야 합니다.";
        this.showModal();
        return;
      }
      this.$router.push({ path: "./CreateCustomerStep1" });
    },

    getTerms() {
      this.terms = [];
      var data = new FormData();
      data.append("CRUD_mode", "get");
      data.append("t_type", "업체");
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_term.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            this.terms = response.data.terms;
          }
        })
        .catch(error => {
          console.log(error);
        })
        .finally(() => (this.loading = false));
    },

    showModal() {
      this.$refs.infoModal.show();
    },
    hideModal() {
      this.$refs.infoModal.hide();
    }
  },

  mounted() {
    this.$store.state.legalOfficeFlag = false;
    this.$store.state.check_terms.lo_terms = "X";
    this.$store.state.check_terms.lo_offer = "X";
    this.$store.state.check_terms.lo_marketing = "X";
    this.getTerms();
  }
};
</script>

<style scoped>
</style>