<template>
  <div class="Tips" align="center">
    <TopFrame></TopFrame>
    <Navi></Navi>
    <br>
    <div class="container">
      <div class="tip_cont">
      <h5 class="sub_top_title">자주묻는 질문 <span class="sub_navi">HOME > 자주묻는 질문</span></h5>
        <b-table
          show-empty
          stacked="sm"
          :items="faqs"
          :fields="fields"
          :current-page="currentPage"
          :per-page="perPage"
          :filter="filter"
          :empty-text="emptyText"
          :empty-filtered-text="emptyFilteredText"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :sort-direction="sortDirection"
        >
          <template slot="actions" slot-scope="row">
            <b-btn
              size="sm"
              @click.stop="row.toggleDetails"
            >{{ row.detailsShowing ? '감추기' : ' 보기 ' }}</b-btn>
          </template>
          <template slot="row-details" slot-scope="row">
            <b-card>
              <span v-html="row.item.f_content"></span>
            </b-card>
          </template>
        </b-table>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="4">
            <b-form-group horizontal>
              <b-input-group>
                <b-form-input v-model="filter" placeholder="찾을 내용을 입력하세요"/>
                <b-input-group-append>
                  <b-btn :disabled="!filter" @click="filter = ''">지우기</b-btn>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>
          <b-col cols="2">
            <b-pagination
              :total-rows="totalRows"
              :per-page="perPage"
              v-model="currentPage"
              class="my-0"
            />
          </b-col>
        </b-row>
        <b-modal ref="infoModal" hide-footer title="알림">
          <div class="d-block text-center">
            <h5>{{ infoMsg }}</h5>
          </div>
          <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
        </b-modal>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import Navi from "./Navi";
import TopFrame from "./TopFrame";
import Footer from "./Footer";
import axios from "axios";

export default {
  name: "Tips",
  components: {
    Navi,
    TopFrame,
    Footer
  },
  data() {
    return {
      infoMsg: "",
      confirmMsg: "",
      selected_f_id: "",
      formShow: true,
      faqs: [],
      fields: [
        { key: "f_id", label: "SEQ", class: "text-center" },
        { key: "f_subject", label: "제목", class: "text-center" },
        { key: "f_creator", label: "만든이", class: "text-center" },
        { key: "date", label: "날짜" },
        { key: "actions", label: "", class: "text-center" }
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      pageOptions: [10, 20, 30],
      sortBy: null,
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      emptyText: "등록된 자료가 없습니다.",
      emptyFilteredText: "찾는 자료가 없습니다."
    };
  },
  computed: {},
  methods: {
    getFaqs() {
      this.faqs = [];
      var data = new FormData();
      data.append("CRUD_mode", "get");
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_faq.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            this.faqs = response.data.faqs;
            this.totalRows = this.faqs.length;
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },

    showModal() {
      this.$refs.infoModal.show();
    },
    hideModal() {
      this.$refs.infoModal.hide();
    }
  },

  mounted() {
    this.getFaqs();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
