<template>
  <div>
    <div class="head_top">
      <div class="head_navi">
        <b-link v-if="!$store.state.legalOfficeFlag" href="#/Login">로그인</b-link>
        <b-link v-if="!$store.state.legalOfficeFlag" href="#/CreateCustomer" style="border-right:0;">광고주 회원가입</b-link>
        <b-link v-if="$store.state.legalOfficeFlag" href="#/MyPage">마이페이지</b-link>
        <b-link  @click="adInformation" class="ad_navi">
           광고문의
        </b-link>
      </div>
    </div>
    <div class="logo_search_cont">
      <div class="head_logo">
        <a href="#/" target="_self" class="navbar-brand">
          <img
            src="http://192.168.1.220:8080/images/head_logo.png"
            alt="lawket"
            class="d-inline-block align-top"
          >
        </a>
      </div>
      <div class="search_cont">
        <b-input-group>
          <div class="total_search">
            <b-form-input
              size="md"
              class="mr-md-2"
              type="text"
              v-model="search_text"
              placeholder="통합검색"
            />
            <b-btn variant="info" @click="totalSearch">검색</b-btn>
          </div>
          <!--div class="total_search">
            <b-form-input
              size="md"
              class="mr-md-2"
              type="text"
              v-model="$store.state.top_search.lo_name"
              placeholder="업체명 검색"
            />
            <b-btn variant="info" @click="searchName">검색</b-btn>
          </div-->
        </b-input-group>
        <div class="best_keyword">
          <ul>
            <p>추천 검색어</p>
            <li v-for="(st, key) in $store.state.searchTextData" :key="key">
              {{st.s_text}}
            </li>
          </ul>
        </div>
      </div>
      <div class="top_head_banner">
        <carousel
          :per-page="1"
          :mouse-drag="false"
          :autoplay="true"
          :loop="true"
          :autoplayTimeout="5000"
        >
          <slide data-index="0" data-name="customer">
            <div class="main_top_com_info_layout">
              <img src="http://192.168.1.220:8080/images/head_banner1.png" alt>
            </div>
          </slide>
          <slide data-index="0" data-name="customer">
            <div class="main_top_com_info_layout">
              <img src="http://192.168.1.220:8080/images/head_banner2.png" alt>
            </div>
          </slide>
        </carousel>
      </div>
      
      <!--div class="head_icon_menu">
        <ul>
          <li
            v-if="!$store.state.userFlag && !$store.state.legalOfficeFlag"
            @click="Login"
            class="my_login"
          >
            <i></i>로그인
          </li>
          <li
            v-if="$store.state.userFlag || $store.state.legalOfficeFlag"
            @click="Mypage"
            class="my_login"
          >
            <i></i>마이페이지
          </li>
          <li class="my_advertise">
            <i></i>광고문의
          </li>
          <li class="my_recent">
            <i></i>최근 본 업체
          </li>
        </ul>
      </div-->
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { Carousel, Slide } from "vue-carousel";

export default {
  name: "topFrame",
  components: {
    Carousel
  },
  data() {
    return {
      search_text: "",
    };
  },
  methods: {
      adInformation() {
      this.$router.push({ path: "./adInformation" });
    },
    totalSearch() {
      this.$store.state.top_search.search_mode = "total";
      this.$store.state.top_search.search_text = this.search_text;
      this.$router.push({ path: "./CustomSearch" });
    },
    getSearchTexts() {
      this.$store.state.searchTextData = [];
      var data = new FormData();
      data.append("CRUD_mode", "get");
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_search_text.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            for (var i = 0; i < 5; i++) {
              this.$store.state.searchTextData.push(response.data.search_texts[i]);
            }
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    }
    /*
    Login() {
      this.$router.push({ path: "./Login" });
    },
    MyPage() {
      this.$router.push({ path: "./MyPage" });
    },
    adInformation() {},
    */
  
  },
  mounted() {
    let today = new Date().toISOString().slice(0,10);
    this.$store.state.today.yyyymmdd = today;             //today format date --> yyyy-mm-dd
    this.$store.state.today.yyyymm = today.substr(0, 7);  //this format month --> yyyy-mm
    this.$store.state.today.yyyy = today.substr(0, 4);    //this yyyy
    this.$store.state.today.mm = today.substr(5, 2);      //this mm
    this.$store.state.today.dd = today.substr(8, 2);      //this dd
    this.getSearchTexts();
  }
};
</script>