<template>
  <div class="UpdateCustomer" align="center">
    <TopFrame></TopFrame>
    <Navi></Navi>
    <b-container fluid>
      <b-form @submit="onSubmit" @reset="onCancel" v-if="formShow">
        <br>
        <h3>담당자 정보</h3>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" align="right" class="col-text">이메일</b-col>
          <b-col cols="5">
            <b-form-group>
              <b-form-input type="email" v-model="form.lo_email" readonly></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" align="right" class="col-text">담당자명</b-col>
          <b-col cols="5">
            <b-form-group>
              <b-form-input type="text" v-model="form.lo_name" required placeholder="담당자명을 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row align="right">
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">휴대폰번호</b-col>
          <b-col cols="1">
            <b-form-group>
              <b-form-input type="text" v-model="mobile.first" required placeholder="010"></b-form-input>
            </b-form-group>
          </b-col>
          <b-col cols="1">
            <b-form-group>
              <b-form-input type="text" v-model="mobile.second" required placeholder="1234"></b-form-input>
            </b-form-group>
          </b-col>
          <b-col cols="1">
            <b-form-group>
              <b-form-input type="text" v-model="mobile.third" required placeholder="5678"></b-form-input>
            </b-form-group>
          </b-col>
          <b-col cols="2" v-if="ahutViewFlag">
            <b-btn variant="outline-danger" @click="getCertiNumber">인증번호받기</b-btn>
          </b-col>
        </b-row>
        <b-row align="right" v-if="ahutViewFlag">
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">인증번호</b-col>
          <b-col cols="3">
            <b-form-group>
              <b-form-input type="text" v-model="form.lo_mobile_certi_number" required placeholder="인증번호를 입력해 주세요."></b-form-input>
            </b-form-group>
          </b-col>
          <b-col cols="2">
            <b-btn variant="outline-danger" @click="ahutConfirm">확인</b-btn>
          </b-col>
        </b-row>
        <div style="height: 10px; background-color:#eeeeee;"></div>
        <br>
        <h3>회사 정보</h3>
        <br>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" align="right" class="col-text">회사명</b-col>
          <b-col cols="5">
            <b-form-group>
              <b-form-input type="text" v-model="form.lo_company_name" required placeholder="회사명을 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" align="right" class="col-text">대표자명</b-col>
          <b-col cols="5">
            <b-form-group>
              <b-form-input type="text" v-model="form.lo_ceo_name" required placeholder="대표자명을 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row> 
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" align="right" class="col-text">전화번호</b-col>
          <b-col cols="5">
            <b-form-group>
              <b-form-input type="text" v-model="form.lo_phone" required placeholder="전화번호를 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" align="right" class="col-text">우편번호</b-col>
          <b-col cols="2">
            <b-btn size="md" class="float-left" variant="outline-primary" v-b-modal.modallg>우편번호 찾기</b-btn>
          </b-col>
          <b-col cols="3">
            <b-form-group>
              <b-form-input type="text" v-model="form.lo_postcode" required readonly></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" align="right" class="col-text">주소 1</b-col>
          <b-col cols="5">
            <b-form-group>
              <b-form-input type="text" v-model="form.lo_address1" required readonly></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" align="right" class="col-text">주소 2</b-col>
          <b-col cols="5">
            <b-form-group>
              <b-form-input type="text" v-model="form.lo_address2" placeholder="나머지 주소를 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" align="right" class="col-text">전문분야</b-col>
          <b-col cols="5" align="left">
            <b-form-group>
              <b-form-radio-group v-model="form.lo_business_area" :options="businessAreas" required></b-form-radio-group>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row align="right">
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">자격증 이미지</b-col>
          <b-col cols="5" align="left">
            <b-form-file type="file" accept="image/*" @change="onCertiImgChange" placeholder="자격증 이미지를 첨부해주세요."></b-form-file>
            <div id="preview"><img v-if="url_certi_img" :src="url_certi_img"></div>
          </b-col>
        </b-row>
        <br>
        <b-row>
          <b-col cols="2"></b-col>
          <b-col cols="2" align="right" class="col-text">홈페이지</b-col>
          <b-col cols="5">
            <b-form-group>
              <b-form-input type="url" v-model="form.lo_homepage" placeholder="홈페이지 url을 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <br>
        <b-row>
          <b-col cols="3"></b-col>
          <b-col cols="5" align="center">
            <b-btn type="reset" size="sm" variant="secondary">취소</b-btn>
            <b-btn type="submit" size="sm" variant="primary">수정</b-btn>
            <b-btn size="sm" variant="success" @click="createLawyer">변호사/법무사 등록</b-btn>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="3"></b-col>
          <b-col cols="7">
            <vue-recaptcha
              ref="invisibleRecaptcha"
              @verify="onVerify"
              @expired="onExpired"
              size="invisible"
              :sitekey="recaptcha_sitekey"
            ></vue-recaptcha>
          </b-col>
        </b-row>
      </b-form>

      <b-modal ref="infoModal" hide-footer title="알림">
        <div class="d-block text-center">
          <h5>{{ infoMsg }}</h5>
        </div>
        <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
      </b-modal>
      <b-modal ref="ConfirmModal" hide-footer title="알림">
        <div class="d-block text-center">
          <h5>{{ confirmMsg }}</h5>
        </div>
        <b-btn size="md" class="float-right" variant="outline-danger" @click="confirm">확인</b-btn>
      </b-modal>
      <b-modal id="modallg" size="lg" title="우편번호 찾기">
        <DaumPostcode :on-complete="handleAddress"/>
      </b-modal>
    </b-container>
  </div>
</template>

<script>
import TopFrame from "./TopFrame";
import Navi from "./Navi";
import axios from "axios";
import DaumPostcode from "vuejs-daum-postcode"; // for search postcode
import VueRecaptcha from "vue-recaptcha"; //for I'm not a Robot

export default {
  name: "UpdateCustomer",
  components: {
    TopFrame,
    Navi,
    DaumPostcode,
    VueRecaptcha
  },
  data() {
    return {
      recaptcha_sitekey: "6LcZuYIUAAAAAMSPFY_82YwVdPFCQJx--zixgjOM",
      infoMsg: "",
      confirmMsg: "",
      selected_lo_id: "",
      formShow: true,
      url_certi_img: null,
      certi_img_file: null,
      ahutViewFlag: true,
      mobile: {
        first: "",
        second: "",
        third: ""
      },
      lo_mobile_certi_number: "",
      mobileCertiConfirmFlag: false,
      businessAreas: [
        { value: '변호사', text: '변호사' },
        { value: '법무사', text: '법무사' },
      ],
      allAgreeFlag: false,
      form: {
        lo_id: 0,
        lo_email: '',
        lo_name: '',
        lo_mobile: '',
        lo_mobile_certi_number: '',
        lo_company_name: '',
        lo_ceo_name: '',
        lo_phone: '',
        lo_business_area: '',
        lo_postcode: '',
        lo_address1: '',
        lo_address2: '',
        lo_location: '',
        lo_homepage: '',
        lo_certi_img: '',
        lo_terms_agree: '',
        lo_collect_agree: '',
        lo_offer_agree: '',
        lo_email_agree: '',
        lo_sms_agree: '',
        lo_status: '',
        lo_class: '',
        lo_creator: '',
      },
    };
  },
  computed: {},
  methods: {
    handleAddress(data) {
      let fullAddress = data.address;
      let zonecode = data.zonecode;

      let extraAddress = '';
      if (data.addressType === 'R') {
        if (data.bname !== '') {
          extraAddress += data.bname;
        }
        if (data.buildingName !== '') {
          extraAddress +=
            extraAddress !== '' ? `, ${data.buildingName}` : data.buildingName;
        }
        fullAddress += extraAddress !== '' ? ` (${extraAddress})` : '';
      }
      //console.log("fullAddress --> "+fullAddress) // e.g. '서울 성동구 왕십리로2길 20 (성수동1가)'
      //console.log("zonecode --> "+zonecode) // 도로명 우편번호
      this.form.lo_postcode = zonecode;
      this.form.lo_address1 = fullAddress;
    },
    onCertiImgChange(e) {
      this.certi_img_file = e.target.files[0];
      this.url_certi_img = URL.createObjectURL(this.certi_img_file);
    },
    getCertiNumber(){
      if(this.checkString('mobile', this.mobile.first+this.mobile.second+this.mobile.third) == false) {
          this.showModal();
          return;
      }
      var data = new FormData();                                
      data.append('CRUD_mode', 'create');
      data.append('c_type', 'customer');
      data.append('c_mobile', this.mobile.first+this.mobile.second+this.mobile.third);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_certification.php', data)
      .then(response => {
        this.infoMsg = response.data.msg +': '+ response.data.certi_number;
        this.lo_mobile_certi_number = response.data.certi_number;
        this.form.lo_mobile_certi_number = '';
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
      this.showModal();
      this.ahutViewFlag = true;
    },
    ahutConfirm(){
      if(this.lo_mobile_certi_number != this.form.lo_mobile_certi_number) {
        this.infoMsg = '올바른 인증번호를 입력해 주세요.';
        this.ahutViewFlag = true;
        this.showModal();
        return;
      }
      this.form.lo_mobile = this.mobile.first+this.mobile.second+ this.mobile.third;
      var data = new FormData();                                
      data.append('CRUD_mode', 'update');
      data.append('c_type', 'customer');
      data.append('c_number', this.form.lo_mobile_certi_number);
      data.append('c_mobile', this.form.lo_mobile);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_certification.php', data)
      .then(response => {
        this.infoMsg = response.data.msg;
        if(!response.data.result) {
          this.mobileCertiConfirmFlag = false;
        } else {
          this.mobileCertiConfirmFlag = true;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
      this.showModal();
    },

    onSubmit(evt) {
      evt.preventDefault();
      this.$refs.invisibleRecaptcha.execute(); //for <vue-recaptcha>
      if(this.form.lo_mobile_certi_number == '') {
          this.infoMsg = '휴대폰번호 인증을 완료해 주세요.';
          this.ahutViewFlag = true;
          this.showModal();
          return;
      } else if(this.form.lo_mobile != this.mobile.first+this.mobile.second+this.mobile.third){
          this.infoMsg = '휴대폰 인증이 완료되지 않았습니다.';
          this.form.lo_mobile_certi_number = '';
          this.ahutViewFlag = true;
          this.showModal();
          return;
      } else if(this.form.lo_mobile != this.mobile.first+this.mobile.second+this.mobile.third && !this.mobileCertiConfirmFlag){
          this.infoMsg = '휴대폰 인증이 완료되지 않았습니다.';
          this.form.lo_mobile_certi_number = '';
          this.ahutViewFlag = true;
          this.showModal();
          return;
      } else if (!this.checkString('number', this.form.lo_phone)) {
          this.showModal();
          return;
      } else if (this.form.lo_business_area == null) {
          this.infoMsg = '전문분야를 선택해 주세요.';
          this.showModal();
          return;
      } else if (this.url_certi_img == null) {
          this.infoMsg = '자격증 이미지를 첨부해 주세요.';
          this.showModal();
          return;
      }

      let strArray = this.form.lo_address1.split(' ');
      this.form.lo_location = strArray[0];
      if(this.form.lo_location == '세종특별자치시') {
        this.form.lo_location = '세종';
      } else if(this.form.lo_location == '제주특별자치도') {
        this.form.lo_location = '제주';
      }
      
      if(this.certi_img_file != null) { this.form.lo_certi_img = this.certi_img_file.name; };

      var data = new FormData();
      data.append('file', this.certi_img_file);
      data.append('CRUD_mode', 'update');
      data.append('lo_id', this.form.lo_id);
      data.append('lo_email', this.form.lo_email);
      data.append('lo_name', this.form.lo_name);
      data.append('lo_mobile', this.form.lo_mobile);
      data.append('lo_mobile_certi_number', this.form.lo_mobile_certi_number);
      data.append('lo_company_name', this.form.lo_company_name);
      data.append('lo_ceo_name', this.form.lo_ceo_name);
      data.append('lo_phone', this.form.lo_phone);
      data.append('lo_business_area', this.form.lo_business_area);
      data.append('lo_postcode', this.form.lo_postcode);
      data.append('lo_location', this.form.lo_location);
      data.append('lo_address1', this.form.lo_address1);
      data.append('lo_address2', this.form.lo_address2);
      data.append('lo_homepage', this.form.lo_homepage);
      data.append('lo_certi_img', this.form.lo_certi_img);
      data.append('lo_terms_agree', this.form.lo_terms_agree);
      data.append('lo_collect_agree', this.form.lo_collect_agree);
      data.append('lo_offer_agree', this.form.lo_offer_agree);
      data.append('lo_email_agree', this.form.lo_email_agree);
      data.append('lo_sms_agree', this.form.lo_sms_agree);
      data.append('lo_status', this.form.lo_status);
      data.append('lo_class', this.form.lo_class);                     
      data.append('lo_creator', this.form.lo_creator);

      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_legal_office.php", data)
        .then(response => {
          this.infoMsg = response.data.msg;
          if (response.data.result) {
            this.$store.state.legalOfficeData = response.data.legal_office;
            this.$store.state.legalOfficeFlag = true;
            this.confirmMsg = response.data.msg;
            this.$refs.ConfirmModal.show();
          } else {
            this.showModal();
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },

    checkString(type, str) {
      let pw = str;
      let num = pw.search(/[0-9]/g);
      let eng = pw.search(/[a-z][A-Z]/gi);
      let spe = pw.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);
      let kor = pw.search(/[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/gi);

      if (type == "password") {
        //alert(JSON.stringify(pw.length));
        if (pw.length < 8 || pw.length > 15) {
          this.infoMsg = "비밀번호는 영.숫자 포함 8자리 ~ 15자리 입니다.";
          return false;
        }
        if (pw.search(/₩s/) != -1) {
          this.infoMsg = "비밀번호는 공백없이 입력해주세요.";
          return false;
        }
        if (num < 0 || eng < 0) {
          this.infoMsg = "비밀번호는 영문.숫자를 혼합하여 입력해주세요.";
          return false;
        }
      } else if (type == "mobile" && pw.length != 11) {
        this.infoMsg = "휴대폰번호를 확인해주세요.";
        return false;
      } else if (type == "number" && pw.length < 9) {
        this.infoMsg = "전화번호를 확인해주세요.";
        return false;
      } else {
        if (pw.search(/₩s/) != -1) {
          this.infoMsg = "공백없이 입력해주세요.";
          return false;
        }
        if (eng != -1 || spe != -1 || kor != -1) {
          this.infoMsg = '전화번호는 숫자와 "-"만 입력해주세요.';
          return false;
        }
      }
      return true;
    },
    createLawyer() {
      this.$router.push({ path: "./createLawyer" });
    },

    onCancel() {
      this.$router.push({ path: "./MyPage" });
    },
    confirm() {
      this.$router.push({ path: "./MyPage" });
    },
    showModal() {
      this.$refs.infoModal.show();
    },
    hideModal() {
      this.$refs.infoModal.hide();
    },
    //for <vue-recaptcha> onSubmit, onVerify, onExpired</vue-recaptcha>
    onVerify: function(response) {
      console.log("Verify: " + response);
    },
    onExpired: function() {
      console.log("Expired");
    },

    readLegalOffice() {
      var data = new FormData();
      data.append("CRUD_mode", "read");
      data.append("lo_id", this.$store.state.legalOfficeData.lo_id);
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_legal_office.php", data)
        .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.form.lo_id = response.data.legal_office.lo_id;
          this.form.lo_email = response.data.legal_office.lo_email;
          this.form.lo_name = response.data.legal_office.lo_name;
          this.form.lo_mobile = response.data.legal_office.lo_mobile;
          this.mobile.first = response.data.legal_office.lo_mobile.substr(0,3);
          this.mobile.second = response.data.legal_office.lo_mobile.substr(3,4);
          this.mobile.third = response.data.legal_office.lo_mobile.substr(7,4);
          this.form.lo_mobile_certi_number = response.data.legal_office.lo_mobile_certi_number;
          this.form.lo_company_name = response.data.legal_office.lo_company_name;
          this.form.lo_ceo_name = response.data.legal_office.lo_ceo_name;
          this.form.lo_phone = response.data.legal_office.lo_phone;
          this.form.lo_business_area = response.data.legal_office.lo_business_area;
          this.form.lo_postcode = response.data.legal_office.lo_postcode;
          this.form.lo_address1 = response.data.legal_office.lo_address1;
          this.form.lo_address2 = response.data.legal_office.lo_address2;
          this.form.lo_location = response.data.legal_office.lo_location;
          this.form.lo_homepage = response.data.legal_office.lo_homepage;
          this.form.lo_certi_img = response.data.legal_office.lo_certi_img;
          this.form.lo_terms_agree = response.data.legal_office.lo_terms_agree;
          this.form.lo_collect_agree = response.data.legal_office.lo_collect_agree;
          this.form.lo_offer_agree = response.data.legal_office.lo_offer_agree;
          this.form.lo_email_agree = response.data.legal_office.lo_email_agree;
          this.form.lo_sms_agree = response.data.legal_office.lo_sms_agree;
          this.form.lo_status = response.data.legal_office.lo_status;
          this.form.lo_class = response.data.legal_office.lo_class;
          this.form.lo_creator = response.data.legal_office.lo_creator;
          this.url_certi_img = this.$store.state.lawketImageUrl + "customer_image/" + this.form.lo_company_name + "/" + this.form.lo_certi_img;
          this.ahutViewFlag = false;
        }
      })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    }
  },

  mounted() {
    this.readLegalOffice();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.col-text {
  padding-top: 7px;
  padding-right: 0px;
  padding-left: 30px;
}

.image-bgc {
  background-color: lightgrey;
  padding-top: 10px;
  padding-bottom: 10px;
  outline-style: dashed;
}

body {
  background-color: #e2e2e2;
}

#preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

#preview img {
  max-width: 100%;
  max-height: 500px;
}
</style>